@import "../../common.scss";
.skn-chp-main-panel {
    height: calc(100vh - 45px);
    overflow-y: scroll;
}

.container {
    max-width: 820px!important;
}

.skn-chp-novel-portrait {
    text-align: center;
    padding: 2%;
    .skn-chp-novel-portrait-image {
        width: 260px;
        height: 350px;
        margin: auto;
        margin-bottom: 15px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.skn-reading-navbar {
    height: 45px;
    display: flex;
    // position: fixed;
    width: 100%;
    .skn-reading-navbar-logo-container {
        height: 100%;
        width: 60px;
        padding: 8px;
        .skn-reading-navbar-logo {
            height: 100%;
            width: 100%;
            cursor: pointer;
            background-size: 100% 100%;
        }
    }
    .skn-reading-navbar-elements {
        display: flex;
        padding: 8px;
        flex: auto;
        .skn-navbar-left-elements {
            display: flex;
            flex: auto;
        }
        .skn-navbar-right-elements {
            display: flex;
            justify-content: flex-end;
        }
        button {
            line-height: unset!important;
            margin-left: 5px;
        }
    }
}

.skn-nvl-rating-comment-textarea {
    display: flex;
    padding-left: 1px;
    align-items: center;
    .skn-nvl-rating-comment-textarea-input {
        flex: auto;
    }
    .skn-nvl-rating-comment-textarea-button {
        color: black;
        height: 35px;
        margin: 0.7rem 0px 0px 0.2rem;
    }
}

.skn-all-chapters-nav {
    height: 4rem;
    position: sticky;
    top: 0;
    z-index: 50;
    padding: 10px;
}

.skn-chapter-comment-top-nav {
    grid-area: topnav;
    height: 100%;
    padding: 0px 10px;
}

.skn-chapter-comment-content {
    grid-area: content;
    height: 100%;
    padding: 10px;
    overflow: auto;
}

.skn-chapter-comment-nav {
    grid-area: bottomnav;
    height: 100%;
    padding: 3px 15px;
}

.skn-all-comments-content {
    height: 100vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2.5rem auto 4rem;
    grid-template-areas: "topnav" "content" "bottomnav";
}

.skn-chp-no-comments {
    height: 80%;
    width: 100%;
    text-align: center;
}

.skn-chapter-loading {
    width: 100%;
    justify-content: center;
    display: flex;
    height: 100px;
}

.skn-bookmarked {
    background-color: #f31818!important;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(250, 127, 134, 1);
    -moz-box-shadow: 0px 0px 3px 2px rgba(250, 127, 134, 1);
    box-shadow: 0px 0px 3px 2px rgba(250, 127, 134, 1);
}

.skn-chp-novel-portrait-signing {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    .skn-chp-novel-portrait-signing-img {
        width: 42px;
        height: 37px;
        margin-right: 4px;
        background-size: 100% 100%;
    }
}

.skn-chp-chapter {
    padding: 2%;
    min-height: calc(101vh - 65px);
    .skn-chp-chapter-content {
        margin-top: 15px;
    }
    .skn-chp-chapter-allCommentsButton {
        text-align: center;
        margin-top: 35px;
    }
}

//HTML standard
h3 {
    font-weight: 700;
}