<ng-template #createRatingModal>
    <!--First div defines custom widht for the modal dialog-->
    <div class="skn-dialong-modal" style="max-width: 45rem;">
        <div class="modal-header">
            <h4 class="modal-title">Tu calificación</h4>
        </div>
        <div class="modal-body">
            <form autocomplete="off" [formGroup]="newRatingForm">
                <div style="display: flex;">
                    <span style="margin-right: 5px" class="skn-text">Puntuación:</span>
                    <ngb-rating formControlName="rate_value" style="border: none !important; outline: none !important;" [max]="5">
                        <ng-template let-fill="fill" let-index="index">
                            <span class="material-icons rating-star" *ngIf="fill > 90">star</span>
                            <span class="material-icons rating-star" *ngIf="fill < 40">star_border</span>
                            <span class="material-icons rating-star" *ngIf="fill > 40 && fill < 90">star_half</span>
                        </ng-template>
                    </ngb-rating>
                </div>
                <mat-form-field style="width: 100%;">
                    <mat-label>Comentario</mat-label>
                    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10" placeholder="Escribe un comentario" formControlName="rate_comment"></textarea>
                </mat-form-field>
            </form>
        </div>
        <div class="modal-footer">
            <button mat-raised-button class="skn-cancel-button" style="margin-right: 15px;" (click)="ps.dialogCloseAll()">Cancelar</button>
            <button mat-raised-button color="primary" (click)="createNovelRating(); ps.dialogCloseAll()" [disabled]="newRatingForm.invalid">Publicar</button>
        </div>
    </div>
</ng-template>
<ng-template #deleteBookmark>
    <div class="skn-bottom-sheet-modal">
        <div class="modal-header">
            <h4 class="modal-title">Eliminar de lista de lectura</h4>
        </div>
        <div class="skn-bottomSheet-buttons" style="padding: 1rem 1rem">
            <div>
                <button mat-raised-button class="skn-cancel-button" (click)="ps.bottomSheetDismiss()">Cancelar</button>
            </div>
            <div>
                <button mat-raised-button color="warn" (click)="switchBookMark(); ps.bottomSheetDismiss()">Eliminar</button>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #allChapters>
    <div class="skn-all-chapters-nav">
        <div class="skn-modal-top-close-button">
            <button type="button" mat-icon-button (click)="ps.dialogCloseAll()" [attr.aria-label]="'close'">
                <span class="material-icons skn-text">close</span>
            </button>
        </div>
        <h4 class="modal-title" style="margin: 12px;">Todos los capitulos</h4>
    </div>
    <div style="max-width: 25em!important; max-height: 72vh!important;">
        <div class="modal-body">
            <div class="skn-nvl-vlm-chapters-container row">
                <div class="skn-nvl-chp-element skn-text skn-secondary skn-secondary-hover" *ngFor="let chapter of novel.chapters" (click)="loadNovelDataChapters(chapter.id); ps.dialogCloseAll();">
                    <div class="skn-nvl-chp-element-content" style="padding: 10px;">
                        <div class="skn-nvl-chp-element-chp-number-index">
                            {{chapter.chp_number}}
                        </div>
                        <div>
                            <div class="skn-nvl-chp-element-title"> {{ps.setContent(chapter.chp_index_title, 69)}}</div>
                            <small>{{hs.getRelativeTime(chapter.createdAt).message}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<nav class="skn-main skn-reading-navbar" *ngIf="LoadedChapters.length > 0">
    <div class="skn-reading-navbar-logo-container">
        <div class="skn-reading-navbar-logo" (click)="goToHome()"></div>
    </div>
    <div class="skn-reading-navbar-elements">
        <div class="skn-navbar-left-elements">
            <h1 style="font-size: 1rem; margin: 0px;" *ngIf="!mobile"><span class="skn-link" (click)="goToNovel()">{{novel.nvl_title}}</span> - {{novel.nvl_currentChapter}}</h1>
            <!--<h1 *ngIf="!mobile" style="font-size: 1rem;">{{novel.nvl_currentChapter}}</h1>-->
            <small class="skn-link" *ngIf="mobile" (click)="goToNovel()" style="margin-top: 5px;"><strong>{{novel.nvl_acronym}} / {{novel.nvl_currentChapterN}}</strong></small>
        </div>
        <div class="skn-navbar-right-elements">
            <button mat-button (click)="ps.openBottomSheet(userOptionsModal)" class="skn-cancel-button"><span class="material-icons">menu</span></button>
        </div>
    </div>
</nav>
<div class="skn-chp-main-panel" #mainpanel>
    <div class="container skn-main" #infiniteScroll infiniteScroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="50" [infiniteScrollContainer]="selector" [fromRoot]="true" (scrolledUp)="onScrollUp()" *ngIf="LoadedChapters.length > 0">
        <div class="skn-chapter-loading" *ngIf="loading || LoadedChapters.length === 0">
            <mat-spinner></mat-spinner>
        </div>
        <div class="skn-chp-novel-portrait" *ngIf="loadPortrait">
            <div class="skn-chp-novel-portrait-image">
                <img [src]="novel.image | noimage" alt="">
            </div>
            <div>
                <h2>{{novel.nvl_title}}</h2>
            </div>
            <div>
                <h2>Autor: {{novel.nvl_writer}}</h2>
            </div>
            <div class="skn-chp-novel-portrait-signing">
                <div class="skn-chp-novel-portrait-signing-img"></div>
                <div>
                    <h4 style="margin: 0px;">SkyNovels</h4>
                </div>
            </div>
            <hr>
        </div>
        <div #chaptersElement class="skn-chp-chapter" *ngFor="let LoadedChapter of LoadedChapters;">
            <div class="skn-hide">
                <div>
                    <div>{{LoadedChapter.chp_name}}</div>
                    <div>{{LoadedChapter.chp_index_title}}</div>
                </div>
                <div>
                    <div>{{LoadedChapter.id}}</div>
                    <div>{{LoadedChapter.chp_number}}</div>
                </div>
            </div>
            <div class="skn-chp-chapter-title">
                <h2 style="font-size: 2rem;">{{LoadedChapter.chp_title}}</h2>
            </div>
            <div class="skn-chp-chapter-translator" *ngIf="LoadedChapter.chp_translator">
                <small>Traductor: <strong>{{LoadedChapter.chp_translator}}</strong></small>
            </div>
            <div class="skn-chp-chapter-content">
                <markdown [data]="LoadedChapter.chp_content" [style.fontSize.px]="fontSize"></markdown>
            </div>
            <hr>
            <div class="autor_comment" *ngIf="LoadedChapter.chp_review">
                <h3 class="autor_comment_title"><span class="material-icons md-24" style="margin-right: 0.5rem;">mode_comment</span>Comentario de {{LoadedChapter.chp_translator ? LoadedChapter.chp_translator : LoadedChapter.user_login}}</h3>
                <markdown [data]="LoadedChapter.chp_review"></markdown>
            </div>
            <hr *ngIf="LoadedChapter.chp_review">
            <div class="skn-chp-chapter-preloaded-comments">
                <p style="margin-bottom: 20px;"><strong>Comentarios: ({{LoadedChapter.comments?.length}})</strong></p>


                <div class="skn-nvl-user-rating skn-secondary" *ngFor="let comment of LoadedChapter.comments | slice: 0:3">
                    <a [routerLink]="['/perfil', comment.user_id, comment.user_login]" class="fit-height-content">
                        <div class="skn-user-image">
                            <img [src]="comment.image | noUserImage" alt="">
                        </div>
                    </a>
                    <div class="skn-nvl-user-rating-user-rating">
                        <div class="skn-nvl-user-rating-login">
                            <div style="display: flex;">
                                <a [routerLink]="['/perfil', comment.user_id, comment.user_login]" class="fit-height-content">
                                    <div class="skn-user-image-mobile">
                                        <img [src]="comment.image | noUserImage" alt="">
                                    </div>
                                </a>
                                <div class="skn-nvl-user-rating-login-name">
                                    <a [routerLink]="['/perfil', comment.user_id, comment.user_login]" class="unstyled-a-tag skn-link">
                                        <strong style="margin-right: 5px;">{{comment.user_login}}</strong>
                                    </a>
                                    <small>{{hs.getRelativeTime(comment.createdAt).message}}</small>
                                </div>

                            </div>
                            <button mat-mini-fab *ngIf="!comment.edition && user?.id === comment.user_id" [matMenuTriggerFor]="userMenu"><span class="material-icons">more_vert</span></button>
                            <mat-menu #userMenu="matMenu">
                                <button mat-menu-item (click)="ps.setEdition(comment)">
                                  <span>Editar</span>
                                </button>
                                <button mat-menu-item (click)="ps.openDialogSheet(deleteCommentModal)">
                                  <span>Eliminar</span>
                                </button>
                            </mat-menu>
                            <button mat-mini-fab *ngIf="comment.edition" (click)="ps.updateCommentFunction(updateCommentForm, comment)"><span class="material-icons">done</span></button>
                        </div>
                        <hr>
                        <div>
                            <markdown [data]="ps.setContent(comment.comment_content, 160)" *ngIf="(!comment.show_more && comment.comment_content.length > 160) && !comment.edition"></markdown>
                            <markdown [data]="comment.comment_content" *ngIf="(comment.show_more || comment.comment_content.length < 160) && !comment.edition"></markdown>
                            <form autocomplete="off" #updateCommentForm="ngForm">
                                <div class="form-group" style="width: 100%;" *ngIf="comment.edition">
                                    <textarea class="form-control skn-text-area" id="exampleFormControlTextarea1" #comment_content="ngModel" name="comment.comment_content" [(ngModel)]="comment.comment_content" rows="3"></textarea>
                                </div>
                            </form>
                        </div>
                        <div style="display: flex; justify-content: space-between;">
                            <div *ngIf="comment.comment_content.length <= 160"></div>
                            <div *ngIf="comment.comment_content.length > 160 && !comment.edition">
                                <strong class="skn-link skn-text" (click)="ps.showMore(comment)">{{comment.show_more ? '...Mostrar menos' : '...Ver más'}}</strong>
                            </div>
                            <div style="display: flex; align-items: center;">
                                <button mat-icon-button aria-label="like" (click)="ps.switchLike(user, comment, 'comment_id')">
                                    <span class="material-icons skn-like" [ngClass]="{'liked': comment.liked}">thumb_up</span>
                                </button>
                                <div style="margin-top: 3px;">{{comment.likes?.length}}</div>
                            </div>
                        </div>
                    </div>
                    <ng-template #deleteCommentModal>
                        <div class="modal-header">
                            <h4 class="modal-title">Eliminar tu comentario</h4>
                        </div>
                        <div class="modal-body">
                            <p>¿Seguro que deseas eliminar el comentario?</p>
                        </div>
                        <div class="modal-footer">
                            <button mat-raised-button class="skn-cancel-button" style="margin-right: 15px;" (click)="ps.dialogCloseAll()">Cancelar</button>
                            <button mat-raised-button color="warn" (click)="ps.deleteCommentFunction(LoadedChapter, comment); ps.dialogCloseAll()">Eliminar</button>
                        </div>
                    </ng-template>
                </div>
            </div>
            <div class="skn-chp-chapter-allCommentsButton">
                <button mat-raised-button color="primary" (click)="ps.openBottomSheet(chapterCommentsModal)" *ngIf="mobile">Todos los comentarios</button>
                <button mat-raised-button color="primary" (click)="ps.openBottomSheet(chapterCommentsModal)" *ngIf="!mobile">Todos los comentarios</button>
            </div>



            <ng-template #chapterCommentsModal>
                <div class="skn-all-comments-content">
                    <div class="skn-chapter-comment-top-nav">
                        <div class="skn-modal-top-close-button">
                            <button mat-icon-button (click)="ps.bottomSheetDismiss()" [attr.aria-label]="'close'">
                                <span class="material-icons skn-text">close</span>
                            </button>
                        </div>
                    </div>
                    <div class="skn-chapter-comment-content">
                        <div *ngIf="LoadedChapter.comments.length === 0" class="skn-chp-no-comments">
                            <h1>No hay comentarios</h1>
                        </div>
                        <div class="skn-nvl-user-rating skn-secondary" *ngFor="let comment of LoadedChapter.comments">
                            <a [routerLink]="['/perfil', comment.user_id, comment.user_login]" class="fit-height-content">
                                <div class="skn-user-image">
                                    <img [src]="comment.image | noUserImage" alt="">
                                </div>
                            </a>
                            <div class="skn-nvl-user-rating-user-rating">
                                <div class="skn-nvl-user-rating-login">
                                    <div style="display: flex;">
                                        <a [routerLink]="['/perfil', comment.user_id, comment.user_login]" class="fit-height-content">
                                            <div class="skn-user-image-mobile">
                                                <img [src]="comment.image | noUserImage" alt="">
                                            </div>
                                        </a>
                                        <div class="skn-nvl-user-rating-login-name">
                                            <a [routerLink]="['/perfil', comment.user_id, comment.user_login]" class="unstyled-a-tag skn-link">
                                                <strong style="margin-right: 5px;">{{comment.user_login}}</strong>
                                            </a>
                                            <small>{{hs.getRelativeTime(comment.createdAt).message}}</small>
                                        </div>
                                    </div>
                                    <button mat-mini-fab *ngIf="!comment.edition && user?.id === comment.user_id" [matMenuTriggerFor]="userMenu"><span class="material-icons">more_vert</span></button>
                                    <mat-menu #userMenu="matMenu">
                                        <button mat-menu-item (click)="ps.setEdition(comment)">
                                          <span>Editar</span>
                                        </button>
                                        <button mat-menu-item (click)="ps.openDialogSheet(deleteCommentModal)">
                                          <span>Eliminar</span>
                                        </button>
                                    </mat-menu>
                                    <button mat-mini-fab *ngIf="comment.edition" (click)="ps.updateCommentFunction(updateCommentForm, comment)"><span class="material-icons">done</span></button>
                                </div>
                                <hr>
                                <div>
                                    <markdown [data]="ps.setContent(comment.comment_content, 160)" *ngIf="(!comment.show_more && comment.comment_content.length > 160) && !comment.edition"></markdown>
                                    <markdown [data]="comment.comment_content" *ngIf="(comment.show_more || comment.comment_content.length < 160) && !comment.edition"></markdown>
                                    <form autocomplete="off" #updateCommentForm="ngForm">
                                        <div class="form-group" style="width: 100%;" *ngIf="comment.edition">
                                            <textarea class="form-control skn-text-area" id="exampleFormControlTextarea1" #comment_content="ngModel" name="comment.comment_content" [(ngModel)]="comment.comment_content" rows="3"></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div *ngIf="comment.comment_content.length > 160 && !comment.edition">
                                    <strong class="skn-link skn-text" (click)="ps.showMore(comment)">{{comment.show_more ? '...Mostrar menos' : '...Ver más'}}</strong>
                                </div>
                                <br>

                                <div style="display: flex; justify-content: space-between;">
                                    <div>
                                        <span class="skn-link skn-red-text" *ngIf="!comment.show_replys" (click)="ps.getReplysFunction(user, comment, 'comment_id')">Ver respuestas</span>
                                        <span class="skn-link skn-red-text" *ngIf="comment.show_replys" (click)="ps.hideReplys(comment)">Ocultar respuestas</span>
                                    </div>
                                    <div style="display: flex; align-items: center;">
                                        <button mat-icon-button aria-label="like" (click)="ps.switchLike(user, comment, 'comment_id')">
                                            <span class="material-icons skn-like" [ngClass]="{'liked': comment.liked}">thumb_up</span>
                                        </button>
                                        <div style="margin-top: 3px;">{{comment.likes?.length}}</div>
                                    </div>
                                </div>
                                <hr>





                                <div *ngIf="comment.show_replys">
                                    <form *ngIf="user">
                                        <div class="skn-nvl-rating-comment-textarea" style="align-items: unset;">
                                            <a [routerLink]="['/perfil', user.id, user.user_login]" class="fit-height-content">
                                                <div class="skn-user-image" style="margin-right: 15px;">
                                                    <img [src]="user.image | noUserImage" alt="">
                                                </div>
                                            </a>
                                            <div class="skn-nvl-rating-comment-textarea-input">
                                                <mat-form-field style="width: 100%;">
                                                    <mat-label>Responder a {{comment.user_login}}</mat-label>
                                                    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10" #reply="ngModel" name="comment.reply" [(ngModel)]="comment.reply"></textarea>
                                                </mat-form-field>
                                            </div>
                                            <button class="skn-nvl-rating-comment-textarea-button" mat-raised-button color="primary" [disabled]="comment.reply === null || comment.reply.length < 2" (click)="ps.createReplyFunction(user, comment, 'comment_id')">Publicar</button>
                                        </div>
                                    </form>
                                    <div class="skn-nvl-user-rating" *ngFor="let reply of comment.replys" style="padding: 0px!important;">
                                        <a [routerLink]="['/perfil', reply.user_id, reply.user_login]" class="fit-height-content">
                                            <div class="skn-user-image">
                                                <img [src]="reply.image | noUserImage" alt="">
                                            </div>
                                        </a>
                                        <div class="skn-nvl-user-rating-user-rating">
                                            <div class="skn-nvl-user-rating-login" style="margin-bottom: 5px;">
                                                <div style="display: flex;">
                                                    <a [routerLink]="['/perfil', reply.user_id, reply.user_login]" class="fit-height-content">
                                                        <div class="skn-user-image-mobile">
                                                            <img [src]="reply.image | noUserImage" alt="">
                                                        </div>
                                                    </a>
                                                    <div class="skn-nvl-user-rating-login-name">
                                                        <a [routerLink]="['/perfil', reply.user_id, reply.user_login]" class="unstyled-a-tag skn-link">
                                                            <strong style="margin-right: 5px;">{{reply.user_login}}</strong>
                                                        </a>
                                                        <small>{{reply.date_data.message}}</small>
                                                    </div>
                                                </div>
                                                <button mat-mini-fab *ngIf="!reply.edition && user?.id === reply.user_id" [matMenuTriggerFor]="userMenu"><i class="material-icons">more_vert</i></button>
                                                <mat-menu #userMenu="matMenu">
                                                    <button mat-menu-item (click)="ps.setEdition(reply)">
                                                      <span>Editar</span>
                                                    </button>
                                                    <button mat-menu-item (click)="ps.openDialogSheet(deleteCommentReplyModal)">
                                                      <span>Eliminar</span>
                                                    </button>
                                                </mat-menu>
                                                <button mat-mini-fab *ngIf="reply.edition && user?.id === reply.user_id" (click)="ps.updateReplyFunction(updateReplyForm, reply)"><i class="material-icons">done</i></button>
                                            </div>
                                            <div>
                                                <markdown [data]="ps.setContent(reply.reply_content, 360)" *ngIf="(!reply.show_more && reply.reply_content.length > 360) && !reply.edition"></markdown>
                                                <markdown [data]="reply.reply_content" *ngIf="(reply.show_more || reply.reply_content.length < 360) && !reply.edition"></markdown>
                                                <form autocomplete="off" #updateReplyForm="ngForm">
                                                    <div class="form-group" *ngIf="reply.edition" style="width: 100%;">
                                                        <textarea class="form-control skn-text-area" #reply_content="ngModel" name="rating_comment.reply_content" [(ngModel)]="reply.reply_content" rows="3" required maxlength="2000" minlength="2"></textarea>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="d-flex" [ngClass]="{'justify-content-end': reply.reply_content.length < 360 || reply.edition, 'justify-content-between': reply.reply_content.length > 360 || reply.edition}">
                                                <div *ngIf="reply.reply_content.length > 360 && !reply.edition">
                                                    <strong class="skn-link skn-text" (click)="ps.showMore(reply)">{{reply.show_more ? '...Mostrar menos' : '...Ver más'}}</strong>
                                                </div>
                                                <div style="display: flex; align-items: center;">
                                                    <button mat-icon-button aria-label="like" (click)="ps.switchLike(user, reply, 'reply_id')">
                                                        <span class="material-icons skn-like" [ngClass]="{'liked': reply.liked}">thumb_up</span>
                                                    </button>
                                                    <div style="margin-top: 3px;">{{reply.likes?.length}}</div>
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                        <ng-template #deleteCommentReplyModal>
                                            <div class="skn-dialong-modal">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Eliminar tu comentario</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>¿Seguro que deseas eliminar el comentario?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button mat-raised-button class="skn-cancel-button" style="margin-right: 15px;" (click)="ps.dialogCloseAll()">Cancelar</button>
                                                    <button mat-raised-button color="warn" style="color: black;" (click)="ps.deleteReplyFunction(comment, reply); ps.dialogCloseAll()">Eliminar</button>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                            <ng-template #deleteCommentModal>
                                <div class="modal-header">
                                    <h4 class="modal-title">Eliminar tu comentario</h4>
                                </div>
                                <div class="modal-body">
                                    <p>¿Seguro que deseas eliminar el comentario?</p>
                                </div>
                                <div class="modal-footer">
                                    <button mat-raised-button class="skn-cancel-button" style="margin-right: 15px;" (click)="ps.dialogCloseAll()">Cancelar</button>
                                    <button mat-raised-button color="warn" (click)="ps.deleteCommentFunction(LoadedChapter, comment); ps.dialogCloseAll()">Eliminar</button>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                    <div class="skn-chapter-comment-nav">
                        <form *ngIf="user" #commentForm="ngForm">
                            <div class="skn-nvl-rating-comment-textarea">
                                <a [routerLink]="['/perfil', user.id, user.user_login]">
                                    <div class="skn-user-image" style="margin-right: 15px;">
                                        <img [src]="user.image | noUserImage">
                                    </div>
                                </a>
                                <div class="skn-nvl-rating-comment-textarea-input">
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>Añade un comentario</mat-label>
                                        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="4" #comment="ngModel" name="LoadedChapter.comment" [(ngModel)]="LoadedChapter.comment" required minlength="2"></textarea>
                                    </mat-form-field>
                                </div>
                                <button class="skn-nvl-rating-comment-textarea-button" mat-mini-fab color="primary" class="skn-primary-button" [disabled]="commentForm.invalid" (click)="ps.createCommentFunction(user, LoadedChapter, 'chp_id')"><span class="material-icons">send</span></button>
                            </div>
                        </form>
                    </div>
                </div>
            </ng-template>
            <hr>
        </div>
        <div class="skn-chapter-loading" *ngIf="loading">
            <mat-spinner></mat-spinner>
        </div>
        <div inViewport [inViewportOptions]="{ threshold: 5 }" (inViewportAction)="onScrollDown($event)" style="height: 50px;" *ngIf="LoadedChapters.length > 0"></div>
    </div>
    <div class="skn-loading" *ngIf="LoadedChapters.length === 0">
        <mat-spinner></mat-spinner>
    </div>
</div>
<ng-template #userOptionsModal>
    <div class="skn-bottom-sheet-modal">
        <div class="skn-bottomSheet-buttons" style="padding: 1rem 1rem">
            <div>
                <button mat-raised-button color="primary" (click)="toggleTheme();" class="hide-dark">Modo día</button>
                <button mat-raised-button color="primary" (click)="toggleTheme();" class="hide-light">Modo noche</button>
                <a [routerLink]="['/novelas', novel.id, novel.nvl_name]" (click)="ps.bottomSheetDismiss()">
                    <button mat-raised-button color="primary">Regresar a novela</button>
                </a>
                <button mat-raised-button color="primary" (click)="ps.openDialogSheet(createRatingModal); ps.bottomSheetDismiss()" *ngIf="user && !novel.nvl_rated">Calificar novela</button>
                <button mat-raised-button color="primary" (click)="ps.openDialogSheet(allChapters); ps.bottomSheetDismiss()">Lista de capitulos</button>
                <button mat-raised-button color="primary" *ngIf="!user" (click)="openLoginForm(); ps.bottomSheetDismiss()">Iniciar Sesión</button>
                <button mat-raised-button color="primary" *ngIf="user && !novel.user_bookmark" (click)="switchBookMark()">Agregar a la biblioteca</button>
                <button mat-raised-button color="primary" *ngIf="user && novel.user_bookmark" (click)="ps.openBottomSheet(deleteBookmark)">Quitar de la biblioteca</button>
                <div class="justify-content-center d-flex skn-text" style="align-items: baseline;">
                    <button mat-icon-button style="width: 45px;" class="skn-text">
                            <span class="material-icons" (click)="changeFontSize('substract')">arrow_drop_down</span>
                    </button>
                    <div>
                        {{fontSize}}px
                    </div>
                    <button mat-icon-button style="width: 45px;" class="skn-text">
                            <span class="material-icons"  (click)="changeFontSize('plus')">arrow_drop_up</span>
                    </button>
                    <!--<mat-form-field>
                        <mat-label>Tamaño de fuente</mat-label>
                        <input matInput type="number" placeholder="Ex. 12" [formControl]="fontSizeControl" min="10">
                        <span matSuffix>px</span>
                        <mat-error *ngIf="fontSizeControl.invalid">Tamaño minimo: 10px</mat-error>
                    </mat-form-field>-->
                </div>
                <button mat-raised-button class="skn-cancel-button" (click)="ps.bottomSheetDismiss()">Cerrar</button>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #successSnack>
    <div class="skn-snack-success-notification">
        <div class="skn-snack-notification-text">{{successSnackMessage}}</div>
        <div>
            <button mat-icon-button (click)="ps.matSnackBarDismiss()">
                <span class="material-icons">close</span>
            </button>
        </div>
    </div>
</ng-template>
<ng-template #errorSnack>
    <div class="skn-snack-error-notification">
        <div class="skn-snack-notification-text">{{errorSnackMessage}}</div>
        <div>
            <button mat-icon-button (click)="ps.matSnackBarDismiss()">
                <span class="material-icons">close</span>
            </button>
        </div>
    </div>
</ng-template>