<div class="skn-loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
<article *ngIf="!loading">
    <section class="skn-secondary skn-user-activation-main">
        <h1>
            Restablecer contraseña
        </h1>
        <div *ngIf="!passwordUpdated">
            <form [formGroup]="UpdatePasswordForm" *ngIf="!passwordUpdated">
                <mat-form-field class="w-100">
                    <mat-label>Nueva contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="user_pass" autocomplete="off">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <span class="material-icons">{{hide ? 'visibility_off' : 'visibility'}}</span>
                        </button>
                    <mat-error *ngIf="UpdatePasswordForm.get('user_pass').hasError('pattern')">Contraseña Invalida</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100" *ngIf="hide">
                    <mat-label>Repite la contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="user_confirm_pass" autocomplete="off">
                    <mat-error *ngIf="UpdatePasswordForm.value.user_pass !== UpdatePasswordForm.value.user_confirm_pass">Debe coincidir la contraseña</mat-error>
                </mat-form-field>
                <div class="text-left" style="font-size: 0.75rem;">
                    <p style="margin: 0 0 5px;">La contraseña debe tener:</p>
                    <ul style="padding-inline-start: 20px;">
                        <li>De 8 a 16 caracteres</li>
                        <li>Al menos una letra mayuscula</li>
                        <li>Al menos una letra minuscula</li>
                        <li>Al menos un numero</li>
                        <li>Al menos un caracter especial @$_-!%*?&.,"'#}()¡¿</li>
                    </ul>
                </div>

            </form>
            <button mat-raised-button color="primary" (click)="updatePassword()" *ngIf="!passwordUpdated" style="margin-top: 0.5rem;" [disabled]="(UpdatePasswordForm.invalid || (UpdatePasswordForm.value.user_pass !== UpdatePasswordForm.value.user_confirm_pass && hide)) || formLoading">
                Actualizar contraseña
            </button>
        </div>
        <div *ngIf="passwordUpdated">
            <h1 style="color: green!important">
                ¡Contraseña actualizada con exito!
            </h1>
            <hr>
            <p>
                Ya puedes iniciar sesión con la nueva contraseña que has asignado
            </p>
            <hr>
            <a class="skn-link unstyled-a-tag" style="font-size: 0.8rem;" routerLink="">Regresar al inicio</a>
        </div>
    </section>
</article>

<ng-template #successSnack>
    <div class="skn-snack-success-notification">
        <div class="skn-snack-notification-text">{{successSnackMessage}}</div>
        <div>
            <button mat-icon-button (click)="ps.matSnackBarDismiss()">
                <span class="material-icons">close</span>
            </button>
        </div>
    </div>
</ng-template>
<ng-template #errorSnack>
    <div class="skn-snack-error-notification">
        <div class="skn-snack-notification-text">{{errorSnackMessage}}</div>
        <div>
            <button mat-icon-button (click)="ps.matSnackBarDismiss()">
                <span class="material-icons">close</span>
            </button>
        </div>
    </div>
</ng-template>