<div class="skn-loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
<main *ngIf="!loading">
    <section>
        <div class="skn-secondary skn-user-activation-main">
            <h1>
                Restablecer contraseña
            </h1>
            <div *ngIf="!passwordUpdated">
                <form [formGroup]="UpdatePasswordForm" *ngIf="!passwordUpdated">
                    <mat-form-field class="w-100">
                        <mat-label>Nueva contraseña</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="user_pass" autocomplete="off">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <span class="material-icons">{{hide ? 'visibility_off' : 'visibility'}}</span>
                        </button>
                        <mat-error *ngIf="UpdatePasswordForm.get('user_pass').hasError('pattern')">Contraseña Invalida</mat-error>
                    </mat-form-field>

                </form>
                <button mat-raised-button color="primary" (click)="updatePassword()" *ngIf="!passwordUpdated" [disabled]="UpdatePasswordForm.invalid || formLoading" style="margin-top: 0.5rem;">Actualizar contraseña</button>
            </div>
            <div *ngIf="passwordUpdated">
                <h1 style="color: green!important">
                    ¡Contraseña actualizada con exito!
                </h1>
                <hr>
                <p>
                    Ya puedes iniciar sesión con la nueva contraseña que has asignado
                </p>
                <hr>
                <a class="skn-link unstyled-a-tag" style="font-size: 0.8rem;" routerLink="">Regresar al inicio</a>
            </div>
        </div>
    </section>
</main>

<ng-template #successSnack>
    <div class="skn-snack-success-notification">
        <div class="skn-snack-notification-text">{{successSnackMessage}}</div>
        <div>
            <button mat-icon-button (click)="matSnackBar.dismiss()">
                <span class="material-icons">close</span>
            </button>
        </div>
    </div>
</ng-template>
<ng-template #errorSnack>
    <div class="skn-snack-error-notification">
        <div class="skn-snack-notification-text">{{errorSnackMessage}}</div>
        <div>
            <button mat-icon-button (click)="matSnackBar.dismiss()">
                <span class="material-icons">close</span>
            </button>
        </div>
    </div>
</ng-template>