<!-- Footer -->
<footer class="page-footer font-small">

    <!-- Footer Elements -->
    <div class="footer-background">
  
      <!-- Grid row-->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col py-5">
          <div class="icons">
  
            <!-- Mail -->
            <a class="icon-footer">
                <span class="material-icons md-48">email</span>
            </a>
            <!-- Privacy Policy -->
            <a class="icon-footer">
                <span class="material-icons md-48">lock</span>
            </a>
            <!-- Google +-->
            <a class="icon-footer">
                <span class="material-icons md-48">email</span>
            </a>
            <!--Linkedin -->
            <a class="icon-footer">
                <span class="material-icons md-48">lock</span>
            </a>
            <!--Instagram-->
            <a class="icon-footer">
                <span class="material-icons md-48">email</span>
            </a>
            <!--Pinterest-->
            <a class="icon-footer">
                <span class="material-icons md-48">lock</span>
            </a>
          </div>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">©2020 SkyNovels
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->