.page-footer {
    background: darkgray;
    margin-top: 1em;
}

.footer-background{
    background: gray;
}

.icons {
    text-align: center;
}

.material-icons {
    margin:1rem;
    background:white;
    border-radius:1em;
    padding:0.1em;
    user-select: none;
    cursor: pointer;
}