<div class="skn-loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
<main class="container" *ngIf="!loading">
    <form #chapterForm="ngForm">
        <div class="w-100" style="margin: 2rem 0px;">
            <button type="button" mat-raised-button color="primary" (click)="goBackToNovel(chapterForm)"><span class="material-icons">keyboard_return</span>Regresar</button>
        </div>
        <mat-form-field class="w-100">
            <mat-label>Titulo del capitulo*</mat-label>
            <input matInput placeholder="Ej. El ascenso a un increible mundo" #chp_title="ngModel" name="chapter.chp_title" [(ngModel)]="chapter.chp_title" minlength="2" maxlength="60" autocomplete="off" required>
        </mat-form-field>
        <div class="row skn-novel-edition-translators-form">
            <mat-form-field>
                <mat-label>Titulo indice del capitulo*</mat-label>
                <input matInput placeholder="Ej. SKNW - Capitulo 1" #chp_index_title="ngModel" name="chapter.chp_index_title" [(ngModel)]="chapter.chp_index_title" minlength="2" maxlength="30" autocomplete="off" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Numero de capitulo*</mat-label>
                <input matInput type="number" #chp_number="ngModel" name="chapter.chp_number" [(ngModel)]="chapter.chp_number" required autocomplete="off" min="0" required>
            </mat-form-field>
        </div>
        <div class="row skn-novel-edition-translators-form">
            <mat-form-field>
                <mat-label>Volumen o libro*</mat-label>
                <mat-select #vlm_id="ngModel" name="chapter.vlm_id" [(ngModel)]="chapter.vlm_id" autocomplete="off" (ngModelChange)="swichtVolume(vlm_id.value)" required>
                    <mat-option *ngFor="let volume of novel.volumes" [value]="volume.id">{{volume.vlm_title}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Estado de publicación*</mat-label>
                <mat-select #chp_status="ngModel" name="chapter.chp_status" [(ngModel)]="chapter.chp_status" minlength="6" maxlength="8" autocomplete="off" required>
                    <mat-option value="Disabled">{{novel.nvl_status === 'Active' ? 'Oculto' : 'Inactivo'}}</mat-option>
                    <mat-option value="Active">{{novel.nvl_status === 'Active' ? 'Publicado' : 'Activo'}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row skn-novel-edition-translators-form">
            <mat-form-field>
                <mat-label>Traductor</mat-label>
                <input matInput #chp_translator="ngModel" name="chapter.chp_translator" [(ngModel)]="chapter.chp_translator" minlength="2" maxlength="25" autocomplete="off">
            </mat-form-field>
        </div>
        <div class="skn-novel-edition-big-form">
            <div class="form-group w-100">
                <label>Contenido*</label>
                <ckeditor #chp_content="ngModel" [(ngModel)]="chapter.chp_content" data="{{chapter.chp_content}}" name="chapter.chp_content" [config]="ckEditorConfig" [editor]="Editor" class="skn-ck-editor-chapter-content" required minlength="15" maxlength="65535" autocomplete="off"
                    *ngIf="isBrowser">
                </ckeditor>
            </div>
        </div>
        <div class="skn-novel-edition-big-form">
            <div class="form-group w-100">
                <label>Comentarios del traductor/escritor</label>
                <ckeditor #chp_review="ngModel" [(ngModel)]="chapter.chp_review" data="{{chapter.chp_review}}" name="chapter.chp_review" [config]="ckEditorConfig" [editor]="Editor" minlength="15" maxlength="5500" autocomplete="off" *ngIf="isBrowser">
                </ckeditor>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <button type="button" mat-raised-button color="warn" style="margin-right: 15px;" (click)="openDialogSheet(deleteChapterModal)" *ngIf="editableChapter && chapter.id">Eliminar capitulo</button>
            <button type="submit" mat-raised-button color="primary" (click)="saveChapter(chapterForm)" [disabled]="uploading || chapterForm.invalid || !chapterForm.dirty">{{chapter?.id ? 'Guardar cambios' : 'Crear capitulo'}}</button>
        </div>
    </form>
</main>
<ng-template #deleteChapterModal>
    <div class="skn-dialong-modal">
        <div class="modal-header">
            <h4 class="modal-title">Eliminar</h4>
        </div>
        <div class="modal-body">
            <p>¿Seguro que deseas eliminar el capitulo?</p>
        </div>
        <div class="modal-footer">
            <button mat-raised-button class="skn-cancel-button" style="margin-right: 15px;" (click)="dialog.closeAll()">Cancelar</button>
            <button mat-raised-button color="warn" (click)="deleteChapter()" [disabled]="uploading">Eliminar</button>
        </div>
    </div>
</ng-template>
<ng-template #confirmExitComponentModal>
    <div class="skn-dialong-modal">
        <div class="modal-header">
            <h4 class="modal-title">Salir</h4>
        </div>
        <div class="modal-body">
            <p>Tienes cambios sin guardar ¿Seguro que deseas salir?</p>
        </div>
        <div class="modal-footer">
            <button mat-raised-button class="skn-cancel-button" style="margin-right: 15px;" (click)="dialog.closeAll()">Cancelar</button>
            <button mat-raised-button color="primary" (click)="goBackToNovel(null, true); dialog.closeAll()">Regresar</button>
        </div>
    </div>
</ng-template>
<ng-template #successSnack>
    <div class="skn-snack-success-notification">
        <div class="skn-snack-notification-text">{{successSnackMessage}}</div>
        <div>
            <button mat-icon-button (click)="matSnackBar.dismiss()">
                <span class="material-icons">close</span>
            </button>
        </div>
    </div>
</ng-template>
<ng-template #errorSnack>
    <div class="skn-snack-error-notification">
        <div class="skn-snack-notification-text">{{errorSnackMessage}}</div>
        <div>
            <button mat-icon-button (click)="matSnackBar.dismiss()">
                <span class="material-icons">close</span>
            </button>
        </div>
    </div>
</ng-template>