@import "../../common.scss";
.skn-admin-panel {
    margin: 0;
    height: calc(100vh - 4.063rem);
    display: grid;
    grid-template-columns: 15rem auto;
    grid-template-rows: 100%;
    grid-template-areas: "navbar content";
    @include subtract-media(desktop) {
        grid-template-columns: 100%;
        grid-template-rows: auto 2.7rem;
        grid-template-areas: "content" "navbar";
    }
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.skn-admin-panel-icon {
    font-size: 1.875rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer!important;
}

.nav-mobile-text {
    cursor: pointer!important;
}

.skn-admin-panel-navbar {
    height: 100%;
    grid-area: navbar;
    width: 15rem;
    @include subtract-media(desktop) {
        width: 100%;
    }
    .skn-admin-navbar {
        height: 100%;
        .skn-admin-card-content {
            height: 100%;
            width: 100%;
            text-align: left;
            padding: 1em;
            @include subtract-media(desktop) {
                border-top: 1px solid;
                display: flex;
                justify-content: space-around;
            }
            hr {
                display: block;
                color: #626973;
                background-color: #626973;
            }
            .skn-admin-card-section {
                display: inline-flex;
                cursor: pointer;
                align-items: center;
                span {
                    display: block;
                    margin-right: 0.4em;
                }
                a {
                    display: contents;
                    white-space: nowrap;
                }
            }
        }
    }
}

.material-icons {
    color: #131E2C;
}

.skn-admin-panel-content {
    grid-area: content;
    overflow: auto;
}

.hide-light {
    color: #131E2C;
}

.hide-dark {
    color: #d32f2f;
}