@import "../../common.scss";
.skn-admin-panel {
    margin: 0;
    height: calc(100vh - 4.063rem);
    display: flex;
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.skn-admin-panel-icon {
    font-size: 1.875rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer!important;
}

.nav-mobile-text {
    cursor: pointer!important;
}

.skn-admin-panel-navbar {
    height: 100%;
    width: 15rem;
    @include subtract-media(desktop) {
        width: 100%;
        height: 3.125rem;
        position: fixed;
        bottom: 0;
    }
    .skn-admin-navbar {
        height: 100%;
        .skn-admin-card-content {
            height: 100%;
            width: 100%;
            text-align: left;
            padding: 1em;
            @include subtract-media(desktop) {
                border-top: 1px solid;
                display: flex;
                justify-content: space-around;
            }
            hr {
                display: block;
                color: #949aa2;
                background-color: #949aa2;
            }
            .skn-admin-card-section {
                display: inline-flex;
                cursor: pointer;
                align-items: center;
                span {
                    display: block;
                    margin-right: 0.4em;
                }
                a {
                    display: contents;
                    white-space: nowrap;
                }
            }
        }
    }
}

.material-icons {
    color: #131E2C;
}

.skn-admin-panel-content {
    flex: auto;
    width: min-content;
    padding-bottom: 15px;
    overflow: auto;
    @include subtract-media(desktop) {
        padding-bottom: 1.3rem;
        height: calc(100% - 3.125rem);
    }
}

.hide-light {
    color: #131E2C;
}

.hide-dark {
    color: #d32f2f;
}