<main class="skn-admin-panel">
    <section class="skn-admin-panel-navbar" *ngIf="!mobile">
        <nav class="skn-admin-navbar skn-main">
            <div class="skn-admin-card-content">
                <div class="skn-admin-card-section">
                    <span class="material-icons md-30">home</span>
                    <a routerLink="administracion-de-pagina-de-inicio" class="nav-mobile-text skn-link unstyled-a-tag" routerLinkActive="nav-link-selected">Pagina de Inicio</a>
                </div>
                <hr>
                <div class="skn-admin-card-section">
                    <span class="material-icons md-30">library_books</span>
                    <a routerLink="administracion-de-novelas" class="nav-mobile-text skn-link unstyled-a-tag" routerLinkActive="nav-link-selected">Gestión de Novelas</a>
                </div>
                <hr>
                <div class="skn-admin-card-section">
                    <span class="material-icons md-30">perm_identity</span>
                    <a routerLink="administracion-de-usuarios" class="nav-mobile-text skn-link unstyled-a-tag" routerLinkActive="nav-link-selected">Gestión de usuarios</a>
                </div>
                <hr>
            </div>
        </nav>
    </section>
    <section class="skn-admin-panel-content skn-main">
        <router-outlet></router-outlet>
    </section>
    <section class="skn-admin-panel-navbar" *ngIf="mobile">
        <nav class="skn-admin-navbar skn-main">
            <div class="skn-admin-card-content">
                <div class="skn-admin-card-section">
                    <a routerLink="administracion-de-pagina-de-inicio" routerLinkActive="nav-link-selected" class="material-icons skn-admin-panel-icon unstyled-a-tag">home</a>
                </div>
                <div class="skn-admin-card-section">
                    <a routerLink="administracion-de-novelas" class="material-icons skn-admin-panel-icon unstyled-a-tag" routerLinkActive="nav-link-selected">library_books</a>
                </div>
                <div class="skn-admin-card-section">
                    <a routerLink="administracion-de-usuarios" routerLinkActive="nav-link-selected" class="material-icons skn-admin-panel-icon unstyled-a-tag">perm_identity</a>
                </div>
            </div>
        </nav>
    </section>
</main>