<main class="container">
    <section>
        <form>
            <div class="skn-novel-edition-presentation">
                <div class="skn-novel-edition-presentation-image">
                    <img src="../../../assets/img/23.jpg" alt="">
                    <button mat-raised-button color="primary" class="skn-upload-image-button">Subir imagen</button>
                </div>
                <div class="skn-novel-edition-main-form">
                    <mat-form-field class="skn-novel-edition-input-100">
                        <mat-label>Titulo de novela*</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field class="skn-novel-edition-input-100">
                        <mat-label>Autor de novela*</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field class="skn-novel-edition-input-100">
                        <mat-label>Generos*</mat-label>
                        <mat-select multiple>
                            <mat-option *ngFor="let genre of genres" [value]="genre.genre_name">{{genre.genre_name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="skn-novel-edition-input-100">
                        <mat-label>Acronimo</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field class="skn-novel-edition-input-100">
                        <mat-label>Traductor</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field class="skn-novel-edition-input-100">
                        <mat-label>Traductor al Ingles</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="skn-novel-edition-big-form">
                <div class="form-group skn-novel-edition-input-100">
                    <label for="skn-novel-sinopsis">Sinopsis*</label>
                    <textarea class="form-control skn-text-area" id="skn-novel-sinopsis" rows="5"></textarea>
                </div>
            </div>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Colaboradores
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngFor="let collaborator of collaborators" style="margin-bottom: 4px;">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{collaborator.user_login}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <button mat-raised-button color="warn" (click)="openDialogSheet(deleteCollaboratorModal)">Eliminar</button>
                    <ng-template #deleteCollaboratorModal>
                        <div class="modal-header">
                            <h4 class="modal-title">Eliminar colaborador</h4>
                        </div>
                        <div class="modal-body">
                            <p>¿Seguro que deseas eliminar el colaborador?</p>
                        </div>
                        <div class="modal-footer">
                            <button mat-raised-button class="skn-cancel-button" style="margin-right: 15px;" (click)="dialog.closeAll()">Cancelar</button>
                            <button mat-raised-button color="warn" style="color: black;" (click)="dialog.closeAll()">Eliminar</button>
                        </div>
                    </ng-template>
                </mat-expansion-panel>
                <button mat-raised-button color="primary" style="margin-top: 6px;" (click)="openDialogSheet(addCollaboratorModal)">Añadir un colaborador</button>
            </mat-expansion-panel>
        </form>
        <mat-card style="margin-top: 15px;">
            <p>Capitulos*</p>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngFor="let volume of novel.volumes">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4>{{volume.vlm_title}}</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngFor="let chapter of volume.chapters">
                    <mat-card class="mat-card-hover" style="margin-bottom: 4px;">
                        <p>{{chapter.chp_number}} - {{chapter.chp_index_title}}</p>
                    </mat-card>
                </div>
                <button mat-raised-button color="primary" style="margin-top: 6px;">Añadir capitulo</button>
            </mat-expansion-panel>
            <button mat-raised-button color="primary" style="margin-top: 6px;" (click)="openDialogSheet(addVolumeModal)">Añadir un volumen o libro</button>
            <ng-template #addVolumeModal>
                <div style="width: 85vw; max-width: 25em;"></div>
                <div class="modal-header">
                    <h4 class="modal-title">Añadir un volumen o libro</h4>
                </div>
                <div class="modal-body">
                    <mat-form-field class="skn-novel-edition-input-100">
                        <mat-label>Titulo</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="modal-footer">
                    <button mat-raised-button class="skn-cancel-button" style="margin-right: 15px;" (click)="dialog.closeAll()">Cancelar</button>
                    <button mat-raised-button color="primary" style="color: black;" (click)="dialog.closeAll()">Añadir</button>
                </div>
            </ng-template>
        </mat-card>
    </section>
</main>
<ng-template #addCollaboratorModal>
    <div style="width: 85vh;"></div>
    <div class="modal-header">
        <h4 class="modal-title">Busca un colaborador</h4>
    </div>
    <div class="modal-body">
        <mat-form-field class="skn-novel-edition-input-100">
            <mat-label>Colaborador</mat-label>
            <input matInput placeholder="Busca por usuario o correo electronico">
        </mat-form-field>
    </div>
    <div class="modal-footer">
        <button mat-raised-button class="skn-cancel-button" style="margin-right: 15px;" (click)="dialog.closeAll()">Cancelar</button>
        <button mat-raised-button color="primary" style="color: black;" (click)="dialog.closeAll()">Añadir</button>
    </div>
</ng-template>