<main class="container">
    <section>
        <form>
            <div class="skn-novel-edition-presentation">
                <div class="skn-novel-edition-presentation-image">
                    <img src="../../../assets/img/23.jpg" alt="">
                    <button mat-raised-button color="primary" class="skn-upload-image-button">Subir imagen</button>
                </div>
                <div class="skn-novel-edition-main-form">
                    <mat-form-field class="skn-novel-edition-input-100">
                        <mat-label>Titulo de novela*</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field class="skn-novel-edition-input-100">
                        <mat-label>Autor de novela*</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field class="skn-novel-edition-input-100">
                        <mat-label>Generos*</mat-label>
                        <mat-select multiple>
                            <mat-option *ngFor="let genre of genres" [value]="genre.genre_name">{{genre.genre_name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="skn-novel-edition-input-100">
                        <mat-label>Acronimo</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field class="skn-novel-edition-input-100">
                        <mat-label>Traductor</mat-label>
                        <input matInput>
                    </mat-form-field>
                    <mat-form-field class="skn-novel-edition-input-100">
                        <mat-label>Traductor al Ingles</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="skn-novel-edition-big-form">
                <div class="form-group skn-novel-edition-input-100">
                    <label for="skn-novel-sinopsis">Sinopsis*</label>
                    <textarea class="form-control skn-text-area" id="skn-novel-sinopsis" rows="5"></textarea>
                </div>
            </div>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Colaboradores
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngFor="let collaborator of collaborators" style="margin-bottom: 4px;">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{collaborator.user_login}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <button mat-raised-button color="warn">Eliminar</button>
                </mat-expansion-panel>
                <button mat-raised-button color="primary" style="margin-top: 6px;">Añadir un colaborador</button>
            </mat-expansion-panel>
        </form>
        <mat-card style="margin-top: 15px;">
            <p>Capitulos*</p>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngFor="let volume of novel.volumes">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4>{{volume.vlm_title}}</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngFor="let chapter of volume.chapters">
                    <mat-card class="mat-card-hover" style="margin-bottom: 4px;">
                        <p>{{chapter.chp_number}} - {{chapter.chp_index_title}}</p>
                    </mat-card>
                </div>
            </mat-expansion-panel>
        </mat-card>
    </section>
</main>