<div class="skn-forum-bar">
    <div>
        <span>Foro</span>
    </div>
</div>
<main class="container">
    <section>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link active" style="cursor: pointer;" (click)="switchTab('categories')">Categorias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="cursor: pointer;" (click)="switchTab('activity')">Actividad</a>
            </li>
        </ul>
        <hr>
    </section>
    <section style="margin-bottom: 2em;" *ngIf="currentTab === 'categories'">
        <div class="skn-forum-box">
            <div class="skn-forum-box-header">
                <div class="skn-forum-box-header-categories">
                    <span>Categorias</span>
                </div>
                <div class="skn-forum-box-header-last-post">
                    <span>Ultima publicación</span>
                </div>
            </div>
            <div class="skn-forum-box-categories">
                <div class="skn-forum-box-category" *ngFor="let category of categories; let i = index">
                    <div class="skn-forum-box-category-title">
                        <div class="skn-forum-box-category-title-icon">
                            <i class="material-icons">forum</i>
                        </div>
                        <div class="skn-forum-box-category-title-info">
                            <h3 class="h5 mb-0"><a class="text-justify text-primary" style="cursor:pointer;" name="Foro" (click)="goToCategory(category)">{{category.category_title}}</a></h3>
                            <p class="mb-0">{{category.category_description}}</p>
                            <p class="mb-0" *ngIf="category.forum_posts.length !== 1">{{category.forum_posts.length}} publicaciones</p>
                            <p class="mb-0" *ngIf="category.forum_posts.length === 1">{{category.forum_posts.length}} publicación</p>
                            <hr class="skn-forum-box-category-mobile-lpost">
                            <div class="skn-forum-box-category-mobile-lpost">
                                <a class="text-justify text-primary" style="cursor:pointer;" name="Foro" (click)="navegarPost(category.category_name, category.forum_posts[category.forum_posts.length - 1].id)" *ngIf="category.forum_posts.length > 0">Ultima publicación: {{category.forum_posts[category.forum_posts.length - 1].post_title}} </a>
                                <div *ngIf="category.forum_posts.length > 0">{{category.forum_posts[category.forum_posts.length - 1].date_data.creation_date_message}} - <a class="text-justify text-primary" style="cursor:pointer;" (click)="goToUserProfile(category.forum_posts[category.forum_posts.length - 1].post_author_id)"
                                        *ngIf="category.forum_posts.length > 0"> {{category.forum_posts[category.forum_posts.length - 1].user.user_login}} </a></div>
                                <div>{{category.creation_days}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="skn-forum-box-category-lpost">
                        <div>
                            <a class="text-justify text-primary" style="cursor:pointer;" name="Foro" (click)="navegarPost(category.category_name, category.forum_posts[category.forum_posts.length - 1].id)" *ngIf="category.forum_posts.length > 0"> {{category.forum_posts[category.forum_posts.length - 1].post_title}} </a>
                            <div *ngIf="category.forum_posts.length > 0">{{category.forum_posts[category.forum_posts.length - 1].date_data.creation_date_message}} - <a class="text-justify text-primary" style="cursor:pointer;" (click)="goToUserProfile(category.forum_posts[category.forum_posts.length - 1].post_author_id)"
                                    *ngIf="category.forum_posts.length > 0"> {{category.forum_posts[category.forum_posts.length - 1].user.user_login}} </a></div>
                            <div>{{category.creation_days}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="margin-bottom: 2em;" *ngIf="currentTab === 'activity'">
        <div class="skn-forum-box">
            <div class="skn-forum-box-header">
                <div style="padding: 6px;">
                    <span>Actividad en las ultimas 2 semanas</span>
                </div>
            </div>
            <div class="skn-forum-box-categories">
                <div class="skn-forum-box-category" *ngFor="let activity of activityArray; let i = index" style="padding: 8px;">
                    <h3 class="h5 mb-0"><a class="text-justify text-primary" style="cursor:pointer;" name="Foro" *ngIf="activity.activity_type === 'post'">Nuevo debate {{activity.post_title}} creado por {{activity.user.user_login}}. {{activity.date_data.message}}</a></h3>
                    <h3 class="h5 mb-0"><a class="text-justify text-primary" style="cursor:pointer;" name="Foro" *ngIf="activity.activity_type === 'comment'">{{activity.user.user_login}} a contestado en {{activity.post_title}}. {{activity.date_data.message}}</a></h3>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid primerContainer" style="margin: auto; height: 200px;">
            <div class="row cabezera">
                <p class="titulo">
                    Estadisticas
                </p>
            </div>
            <div class="content row">
                <div class="wraperContent">
                    <div class="number "> 326 </div>
                    <div class="subtitlesmall ">Debates</div>
                </div>
                <div class="wraperContent">
                    <div class="number "> 326 </div>
                    <div class="subtitlesmall ">Debates</div>
                </div>
                <div class="wraperContent">
                    <div class="number "> 326 </div>
                    <div class="subtitlesmall ">Debates</div>
                </div>
                <div class="wraperContent">
                    <div class="number "> 326 </div>
                    <div class="subtitlesmall ">Debates</div>
                </div>
            </div>
            <div class="footer ">
                <p>
                    Ultimo miembro: ramonm7712 |
                </p>
                <span>
                <p>
                  Actualmente en linea : 2 invitados
                </p>
              </span>
            </div>
        </div>
    </section>
</main>