<div class="skn-loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
<main *ngIf="!loading">
    <section>
        <div class="swiper-container" [swiper]="swiperHomeConfig">
            <div class="swiper-wrapper" style="max-height: 500px;">
                <div class="swiper-slide skn-swiper-banner-slide" *ngFor="let item of topNovels">
                    <img class="skn-home-img" src="../../../assets/img/Portada-Anuncio.jpeg" alt="" class="skn-home-img mx-auto d-block">
                </div>
            </div>
        </div>
    </section>
    <!-- -------------------------------------------------------------------------- 
                                   TOP NOVELAS                               
     --------------------------------------------------------------------------  -->

    <section class="container">
        <div class="skn-home-title">
            <h2>Top Novelas</h2>
        </div>
        <div class="swiper-container container" [swiper]="swiperTopConfig">
            <div class="swiper-wrapper">
                <div class="swiper-slide skn-swiper-novel-slide" *ngFor="let topNovel of topNovels">
                    <a class="unstyled-a-tag" [routerLink]="['/novelas', topNovel.id, topNovel.nvl_name]">
                        <div class="skn-swiper-novel-slide-content skn-secondary skn-secondary-hover">
                            <div class="skn-swiper-novel-slide-img-container">
                                <img class="skn-top-nvl-img " [src]="topNovel.nvl_img | noimage" alt=" ">
                            </div>
                            <strong style="word-wrap: break-word;">{{hs.setContent(topNovel.nvl_title, 40)}}</strong>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-pagination" id></div>
        </div>

        <!-- -------------------------------------------------------------------------- 
                                   Ultimas añadidas                               
     --------------------------------------------------------------------------  -->

        <div class="skn-home-title">
            <h2>Novelas Nuevas</h2>
        </div>
        <div class="swiper-container container" [swiper]="swiperTopConfig">
            <div class="swiper-wrapper">
                <div class="swiper-slide skn-swiper-novel-slide" *ngFor="let recentNovel of recentNovels">
                    <a class="unstyled-a-tag" [routerLink]="['/novelas', recentNovel.id, recentNovel.nvl_name]">
                        <div class="skn-swiper-novel-slide-content skn-secondary skn-secondary-hover">
                            <div class="skn-swiper-novel-slide-img-container">
                                <img class="skn-top-nvl-img " [src]="recentNovel.nvl_img | noimage" alt=" ">
                            </div>
                            <strong style="word-wrap: break-word;">{{hs.setContent(recentNovel.nvl_title, 40)}}</strong>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-pagination" id></div>
        </div>

        <div class="skn-home-title">
            <h2>Recomendación de la Semana</h2>
        </div>

        <div class="skn-recommended-novel skn-secondary">
            <div class="skn-novel-presentation">
                <div class="skn-novel-presentation-image">
                    <a [routerLink]="['/novelas', recomendedNovel?.id, recomendedNovel?.nvl_name]">
                        <img [src]="recomendedNovel?.nvl_img | noimage" alt="" style="cursor: pointer;">
                    </a>
                    <div class="skn-main">
                        <h4 [ngStyle]="{'color':recomendedNovel?.nvl_status === 'Activa' || recomendedNovel?.nvl_status === 'Finalizada' ? 'green' : 'red' }">{{recomendedNovel?.nvl_status}}</h4>
                    </div>
                </div>
                <div class="skn-novel-presentation-info">
                    <div class="skn-novel-presentation-info-stats-box">
                        <a class="unstyled-a-tag" [routerLink]="['/novelas', recomendedNovel?.id, recomendedNovel?.nvl_name]">
                            <h3 class="skn-novel-presentation-info-title skn-link">{{recomendedNovel?.nvl_title}}<span class="skn-novel-acronym">{{recomendedNovel?.nvl_acronym}}</span></h3>
                        </a>
                        <div class="skn-novel-presentation-info-stats skn-main skn-text row" style="margin-left: 0px;">
                            <div> <span class="material-icons">create</span> 2 Capitulos semanales</div>
                            <div *ngIf="recomendedNovel?.nvl_chapters === 1"> <span class="material-icons">format_align_left</span> {{recomendedNovel?.nvl_chapters}} Capitulo</div>
                            <div *ngIf="recomendedNovel?.nvl_chapters > 1"> <span class="material-icons">format_align_left</span> {{recomendedNovel?.nvl_chapters}} Capitulos</div>
                            <div> <span class="material-icons">access_time</span> {{hs.getRelativeTime(recomendedNovel?.nvl_last_update).message}}</div>
                        </div>
                        <div class="skn-nvl-card-genres row" style="margin-bottom: 8px; margin-left: 0px;">
                            <span class="skn-main skn-text" *ngFor="let genre of recomendedNovel?.genres | slice: 0:5">{{genre.genre_name}}</span>
                        </div>
                        <div class="skn-text">Autor: <strong>{{recomendedNovel?.nvl_writer}}</strong></div>
                        <div class="skn-text" *ngIf="recomendedNovel?.nvl_translator">Traductor: <strong>{{recomendedNovel?.nvl_translator}}</strong></div>
                        <div class="skn-text" *ngIf="recomendedNovel?.nvl_translator_eng">Traductor al ingles: <strong>{{recomendedNovel?.nvl_translator_eng}}</strong></div>
                        <div class="skn-nvl-card-votes" style="display: flex;">
                            <ngb-rating [(rate)]='recomendedNovel.nvl_rating' max='5' [readonly]="true" style="border: none !important; outline: none !important;">
                                <ng-template let-fill="fill" let-index="index">
                                    <span class="star" [class.filled]="fill === 100" [class.nfilled]="fill !== 100">
                                        <span class="half" [style.width.%]="fill">
                                            <i class="material-icons"></i>
                                        </span>
                                    </span>
                                </ng-template>
                            </ngb-rating>
                            <div style="margin-left: 9px; margin-top: 3px;">
                                <div>
                                    <p *ngIf="recomendedNovel?.novel_ratings?.length > 1 || recomendedNovel?.novel_ratings?.length === 0"> {{recomendedNovel?.novel_ratings?.length}} votos</p>
                                    <p *ngIf="recomendedNovel?.novel_ratings?.length === 1"> {{recomendedNovel?.novel_ratings?.length}} voto</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p [innerHTML]="recomendedNovel?.nvl_content" style="margin-top: 15px;"></p>
        </div>
        <div class="skn-home-title" style="margin: 1.6rem;">
            <h2>Capítulos Recientes</h2>
        </div>
        <div class="row" style="justify-content: center;">
            <div *ngFor="let updatedNovel of updatedNovels">
                <div class="skn-nvl-card">
                    <div class="skn-nvl-card-img">
                        <a [routerLink]="['/novelas', updatedNovel.id, updatedNovel.nvl_name]" class="unstyled-a-tag">
                            <img [src]="updatedNovel.nvl_img | noimage" alt="">
                        </a>
                    </div>
                    <ul class="skn-nvl-updated-novels-chapters-list">
                        <li *ngFor="let chapter of updatedNovel.chapters">
                            <div class="d-flex">
                                <a [routerLink]="['/novelas', updatedNovel.id, updatedNovel.nvl_name, chapter.id, chapter.chp_name]" class="unstyled-a-tag">
                                    <strong style="word-break: break-word;" class="skn-link">{{hs.setContent(chapter.chp_index_title, 21)}}</strong>
                                </a>
                                <div style="color: #0bb500;; margin-left: 3px;" *ngIf="chapter.new">Nuevo!</div>
                            </div>
                        </li>
                    </ul>
                    <div class="skn-nvl-card-update-time skn-tertiary">
                        <div style="display: flex;">
                            <div style="margin-left: 5px;">
                                <a [routerLink]="['/novelas', updatedNovel.id, updatedNovel.nvl_name]" class="unstyled-a-tag">
                                    <strong class="skn-link">{{hs.setContent(updatedNovel.nvl_title, 40)}}</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- -------------------------------------------------------------------------- 
                               RECOMENDADAS                               
 --------------------------------------------------------------------------  

<section class="skn-recom-section container">
    <h2>
        Novela Recomendada
    </h2>
    <div class="skn-recom-wrapper">
        <aside class="skn-recom-side-container" [ngClass]="{'d-none': mobile}">
            <div class="body" style="width: 100%; height: 100%;">
                <div class="d-block img">
                    <img [src]="recomended.nvl_img" alt=" " class="recomended-img img ">
                </div>
                <div class="d-block title">
                    <h5 class="card-title"> {{recomended.nvl_title}} </h5>
                </div>
                <div class="d-block">
                    <p class="card-text content">
                        {{_hs.setContent(recomended.nvl_title, 100)}}
                    </p>
                </div>
                <div class="d-block rating">
                    <ngb-rating [(rate)]='recomended.nvl_rating' max='5' [readonly]="true">
                        <ng-template let-fill="fill" let-index="index">
                            <span class="rating-star" [class.filled]="fill === 100" [class.nfilled]="fill !== 100">
                                <span class="half" [style.width.%]="fill">
                                    <i class="material-icons" style="font-size: 2em;">

                                    </i>
                                </span>
                            </span>
                        </ng-template>
                    </ngb-rating>
                </div>
            </div>
            <div class="footer" style="width: 100%; height: 100%;">
                <footer><small>HOLAs</small></footer>
            </div>
        </aside> -->
<!-- -------------------------------------------------------------------------- 
                               CARTA ULTIMA NOVELAS - MOVIL                           
 --------------------------------------------------------------------------  

        <div class="m-skn-recom-novel-row container" [ngClass]="{'d-none' : !mobile}">
            <div class="m-skn-recom-novel-container" *ngFor="let mobileCatalog of lastNovels | slice: 0:6">
                <div class="m-skn-recom-novel-wrapper ">
                    <div class="m-skn-recom-novel-container-img ">
                        <img [src]="mobileCatalog.nvl_img" alt="">
                    </div>
                    <div class="m-skn-recom-novel-body">
                        <ul class="m-skn-recom-novel-body-wrapper">
                            <li class="m-skn-recom-novel-title" style="list-style: none;">
                                {{_hs.setContent(mobileCatalog.nvl_title, 30)}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->
<!-- -------------------------------------------------------------------------- 
                               CARTA ULTIMAS NOVELAS - DESKTOP                               
 --------------------------------------------------------------------------  

        <div class="skn-recom-novels-wrapper" *ngFor="let catalog of lastNovels; let i = index" [ngClass]="{'d-none': mobile}">
            <div class="catalog{{i}}" style="height: 100%;">
                <div class="catalog-card">
                    <div class="catalog-img-container">
                        <img class="catalog-img" [src]="catalog?.nvl_img">
                    </div>
                    <div class="catalog-body">
                        <div class="title">
                            <p> {{_hs.setContent(catalog.nvl_title, 30)}} </p>
                        </div>
                        <footer>
                            <span class="icon">
                                <span>
                                    <mat-icon>watch_later</mat-icon>
                                </span>
                            <small>40min</small>
                            </span>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- -------------------------------------------------------------------------- 
                               ULTIMOS CAPITULOS                                
 --------------------------------------------------------------------------  
<section class="lastChapters container">
    <h2>Utlimos capitulos</h2>
    <div class="skn-chapters-row row">
        <div class="skn-chapters-container" *ngFor="let chapters of lastChapters; let i=index" [ngClass]="{'col-12': mobile, 'col-6': !mobile}">
            <div class="skn-chapter-card">
                <div class="skn-nvl-card-img">
                    <img [src]="chapters.nvl_img" alt="">
                </div>
                <ul class="skn-chapter-card-info">
                    <li class="skn-chapter-wrapper">
                        <div class="c-title">
                            <strong>{{chapters?.nvl_title}}</strong>
                        </div>
                    </li>
                    <li class="skn-chapter-wrapper">
                        <div class="c-chapters">
                            <small>Capitulo: {{chapters?.chapters.length}}</small>
                        </div>
                    </li>
                    <li class="skn-chapter-wrapper">
                        <div class="c-autor">
                            <small>Autor: {{chapters?.author.author_login}} <br/> </small> <small> Tradutor: Mi prima la coja </small>
                        </div>
                    </li>
                </ul>
                <div class="skn-chapter-card-update-time">
                    <div class="d-flex align-content-center c-footer"> <i class="material-icons">
                        watch_later
                        </i> Hace 30 minutoazos
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->