<!--<script-hack type="text/javascript" *ngIf="!loading" style="display: none;">{{block1Desktop}}</script-hack>-->
<!--<script-hack type="text/javascript" *ngIf="!loading" style="display: none;">{{block2Desktop}}</script-hack>-->
<div class="skn-loading" *ngIf="loading && !loadingError">
    <mat-spinner></mat-spinner>
</div>
<app-loading-error *ngIf="loadingError"></app-loading-error>
<article *ngIf="!loading">

    <!--<ad-block1 [mobile]="mobile"></ad-block1>-->

    <section style="margin: 0.5rem;">
        <div class="swiper-container skn-home-swiper skn-secondary" [swiper]="swiperHomeConfig">
            <div class="swiper-wrapper" style="max-height: 500px;">
                <div class="swiper-slide skn-swiper-banner-slide" *ngFor="let advertisement of advertisements">
                    <a [routerLink]="['/noticias', advertisement.id, advertisement.adv_name]">
                        <img [src]="advertisement.image | noAdvertisementImage" alt="" class="mx-auto d-block">
                    </a>
                </div>
            </div>
            <div class="swiper-button-prev unstyled-a-tag" *ngIf="!mobile" style="margin-left: 2rem;"></div>
            <div class="swiper-button-next unstyled-a-tag" *ngIf="!mobile" style="margin-right: 2rem;"></div>
        </div>
    </section>

    <!--<ng-adsense [adClient]="'ca-pub-7640562161899788'" [display]="'inline-block'" [width]="320" [height]="108"></ng-adsense>-->

    <!-- -------------------------------------------------------------------------- 
                                   TOP NOVELAS                               
     --------------------------------------------------------------------------  -->

    <section class="container container-home">
        <div class="skn-home-title">
            <h2>Top Novelas</h2>
        </div>
        <div class="swiper-container" [swiper]="swiperTopConfig">
            <div class="swiper-wrapper">
                <div class="swiper-slide skn-swiper-novel-slide" *ngFor="let topNovel of topNovels">
                    <a class="unstyled-a-tag" [routerLink]="['/novelas', topNovel.id, topNovel.nvl_name]">
                        <div class="skn-swiper-novel-slide-content skn-secondary skn-secondary-hover">
                            <div class="skn-swiper-novel-slide-img-container">
                                <img [src]="topNovel.image | noimage" alt=" ">
                            </div>
                            <strong style="word-wrap: break-word;">{{ps.setContent(topNovel.nvl_title, 40)}}</strong>
                        </div>
                    </a>
                </div>
            </div>


            <div class="swiper-button-prev" *ngIf="!mobile"></div>
            <div class="swiper-button-next" *ngIf="!mobile"></div>
        </div>

        <!-- -------------------------------------------------------------------------- 
                                   Ultimas añadidas                               
     --------------------------------------------------------------------------  -->

        <div class="skn-home-title">
            <h2>Novelas Nuevas</h2>
        </div>
        <div class="swiper-container" [swiper]="swiperTopConfig">
            <div class="swiper-wrapper">
                <div class="swiper-slide skn-swiper-novel-slide" *ngFor="let recentNovel of recentNovels">
                    <a class="unstyled-a-tag" [routerLink]="['/novelas', recentNovel.id, recentNovel.nvl_name]">
                        <div class="skn-swiper-novel-slide-content skn-secondary skn-secondary-hover">
                            <div class="skn-swiper-novel-slide-img-container">
                                <img [src]="recentNovel.image | noimage" alt=" ">
                            </div>
                            <strong style="word-wrap: break-word;">{{ps.setContent(recentNovel.nvl_title, 40)}}</strong>
                        </div>
                    </a>
                </div>
            </div>

            <div class="swiper-button-prev" *ngIf="!mobile"></div>
            <div class="swiper-button-next" *ngIf="!mobile"></div>
        </div>

        <div class="skn-home-title" *ngIf="recomendedNovel">
            <h2>Recomendación de la Semana</h2>
        </div>

        <div class="skn-recommended-novel skn-secondary" *ngIf="recomendedNovel">
            <div class="skn-novel-presentation">
                <div class="skn-novel-presentation-image">
                    <a [routerLink]="['/novelas', recomendedNovel?.id, recomendedNovel?.nvl_name]">
                        <img [src]="recomendedNovel?.image | noimage" alt="" style="cursor: pointer;">
                    </a>
                </div>
                <div class="skn-novel-presentation-info">
                    <div class="skn-novel-presentation-info-stats-box">
                        <a class="unstyled-a-tag" [routerLink]="['/novelas', recomendedNovel?.id, recomendedNovel?.nvl_name]">
                            <h3 class="skn-novel-presentation-info-title skn-link">{{recomendedNovel?.nvl_title}}<span class="skn-novel-acronym">{{recomendedNovel?.nvl_acronym}}</span></h3>
                        </a>
                        <div class="skn-novel-presentation-info-stats skn-main skn-text row" style="margin-left: 0px;">
                            <div *ngIf="recomendedNovel?.nvl_chapters === 1"> <span class="material-icons">format_align_left</span> {{recomendedNovel?.nvl_chapters}} Capitulo</div>
                            <div *ngIf="recomendedNovel?.nvl_chapters > 1"> <span class="material-icons">format_align_left</span> {{recomendedNovel?.nvl_chapters}} Capitulos</div>
                            <div> <span class="material-icons">access_time</span> {{hs.getRelativeTime(recomendedNovel?.nvl_last_update).message}}</div>
                        </div>
                        <div class="skn-nvl-card-genres row" style="margin-bottom: 8px; margin-left: 0px;">
                            <span class="skn-main skn-text" *ngFor="let genre of recomendedNovel?.genres | slice: 0:5">{{genre.genre_name}}</span>
                        </div>
                        <div class="skn-text">Autor: <strong>{{recomendedNovel?.nvl_writer}}</strong></div>
                        <div class="skn-text" *ngIf="recomendedNovel?.nvl_translator">Traductor: <strong>{{recomendedNovel?.nvl_translator}}</strong></div>
                        <div class="skn-text" *ngIf="recomendedNovel?.nvl_translator_eng">Traductor al ingles: <strong>{{recomendedNovel?.nvl_translator_eng}}</strong></div>
                        <div class="skn-nvl-card-votes" style="display: flex;">
                            <ngb-rating [(rate)]='recomendedNovel.nvl_rating' max='5' [readonly]="true" style="border: none !important; outline: none !important;">
                                <ng-template let-fill="fill" let-index="index">
                                    <span class="material-icons rating-star" *ngIf="fill > 90">star</span>
                                    <span class="material-icons rating-star" *ngIf="fill < 40">star_border</span>
                                    <span class="material-icons rating-star" *ngIf="fill > 40 && fill < 90">star_half</span>
                                </ng-template>
                            </ngb-rating>
                            <div style="margin-left: 9px; margin-top: 3px;">
                                <div>
                                    <p *ngIf="recomendedNovel?.novel_ratings?.length > 1 || recomendedNovel?.novel_ratings?.length === 0"> {{recomendedNovel?.novel_ratings?.length}} votos</p>
                                    <p *ngIf="recomendedNovel?.novel_ratings?.length === 1"> {{recomendedNovel?.novel_ratings?.length}} voto</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top: 15px;" *ngIf="isBrowser">
                <markdown class="variable-binding" [data]="recomendedNovel?.nvl_content"></markdown>
            </div>
            <div style="margin-top: 15px;" *ngIf="!isBrowser">
                <p [innerHTML]="recomendedNovel?.nvl_content" *ngIf="!isBrowser"></p>
            </div>
        </div>
        <div class="skn-home-title" style="margin: 1.6rem;">
            <h2>Capítulos Recientes</h2>
        </div>
        <div class="row" style="justify-content: center;">
            <div *ngFor="let updatedNovel of updatedNovels">
                <div class="skn-nvl-card">
                    <div class="skn-nvl-card-img">
                        <a [routerLink]="['/novelas', updatedNovel.id, updatedNovel.nvl_name]" class="unstyled-a-tag">
                            <img [src]="updatedNovel.image | noimage" alt="">
                        </a>
                    </div>
                    <ul class="skn-nvl-updated-novels-chapters-list">
                        <li *ngFor="let chapter of updatedNovel.chapters">
                            <div class="d-flex">
                                <a [routerLink]="['/novelas', updatedNovel.id, updatedNovel.nvl_name, chapter.id, chapter.chp_name]" class="unstyled-a-tag">
                                    <strong style="word-break: break-word;" class="skn-link">{{ps.setContent(chapter.chp_index_title, 21)}}</strong>
                                </a>
                                <div style="color: #0bb500;; margin-left: 3px;" *ngIf="chapter.new">Nuevo!</div>
                            </div>
                        </li>
                    </ul>
                    <div class="skn-nvl-card-update-time skn-tertiary">
                        <div style="display: flex;">
                            <div style="margin-left: 5px;">
                                <a [routerLink]="['/novelas', updatedNovel.id, updatedNovel.nvl_name]" class="unstyled-a-tag">
                                    <strong class="skn-link">{{ps.setContent(updatedNovel.nvl_title, 40)}}</strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id='div-gpt-ad-1407836210062-0'>
        <script-hack type="text/javascript" *ngIf="!loading" style="display: none;">
            {{block2Div}}
        </script-hack>
    </div>

</article>