@import "../../common.scss";
h1 {
    font-size: 2rem;
}

@media (min-width: 1200px) {
    .container-home {
        max-width: 1230px!important;
    }
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.skn-home-title {
    text-align: center;
}

.swiper-slide {
    margin: .9em auto;
    height: unset;
}

.skn-home-swiper {
    border-radius: 35px;
}

.skn-swiper-novel-slide {
    height: 21rem;
    padding: 0.4rem;
    .skn-swiper-novel-slide-content {
        max-width: 175px;
        margin: auto;
        padding: 0.4rem;
        border-radius: 10px;
        height: 100%;
        .skn-swiper-novel-slide-img-container {
            height: 15rem;
            width: 100%;
            img {
                width: 100%;
                height: 100%;
            }
            @include mobile {
                height: 7rem;
            }
        }
        @include mobile {
            max-width: 85px;
        }
    }
    @include mobile {
        font-size: 0.7rem;
        height: 14rem;
    }
}

.skn-swiper-banner-slide {
    padding: 1vh 12vw;
    img {
        width: 100%;
        height: 100%;
        max-width: 1150px;
    }
    @include mobile {
        padding: 1vh 0vw;
    }
}

.skn-home-main-img-container {
    width: 80vw;
    margin: auto;
}

.skn-recommended-novel {
    padding: 1rem;
    width: 100%;
}

.skn-novel-presentation {
    display: flex;
    .skn-novel-presentation-image {
        width: 308px;
        height: 412px;
        img {
            border-radius: 10px 10px 0px 0px;
            width: 100%;
            height: 90%;
        }
        div {
            height: 10%;
            text-align: center;
            padding: 10px;
            border-radius: 0px 0px 10px 10px;
        }
        @include subtract-media(desktop) {
            width: 245.26px;
            height: 360px;
        }
    }
    .skn-novel-presentation-info {
        flex: auto;
        padding-left: 1.5em;
        .skn-novel-presentation-info-stats-box {
            height: 90%;
            padding-top: 5px;
            div {
                margin-bottom: 15px;
            }
            .skn-novel-presentation-info-title {
                margin-bottom: 10px;
                @include subtract-media(desktop) {
                    text-align: center;
                    margin-top: 10px;
                }
            }
            .skn-novel-presentation-info-stats {
                border-radius: 15px;
                padding: 5px;
                justify-content: center;
                div {
                    margin: 2px 10px;
                    display: flex;
                    white-space: nowrap;
                    span {
                        margin-right: 2px;
                    }
                }
            }
            .skn-novel-acronym {
                background-color: #d32f2f;
                border-radius: 15px;
                padding: 1px 6px;
                margin: 5px;
                text-transform: uppercase;
                color: black;
            }
            @include subtract-media(desktop) {
                text-align: center;
                .skn-nvl-card-votes {
                    justify-content: center;
                }
            }
        }
        .skn-novel-presentation-info-user-buttons-box {
            height: 10%;
            margin-top: -15px;
            button {
                margin-right: 7px;
            }
        }
    }
    @include subtract-media(desktop) {
        display: block;
        .skn-novel-presentation-image {
            margin: auto;
        }
        .skn-novel-presentation-info {
            padding-left: 0px;
        }
    }
}

.skn-recommended-novel {
    border-radius: 10px;
}

.skn-nvl-card-genres {
    span {
        font-size: 13px;
        padding: 1px 6px 3px 6px;
        margin-right: 5px;
        margin-top: 3px;
        border: color(primary) solid 1px;
        border-radius: 15px;
        white-space: nowrap;
        box-shadow: 4px 4px 9px -4px rgba(0, 0, 0, 0.67);
    }
    @include subtract-media(desktop) {
        justify-content: center;
    }
}

.skn-nvl-card {
    box-shadow: 0 1.1px 1.5px rgba(0, 0, 0, 0.123), 0 3.6px 5.7px rgba(0, 0, 0, 0.149), 0 16px 17px rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    margin: 10px 10px;
    width: 25vw;
    min-width: 500px;
    height: 240px;
    display: grid;
    grid-template-columns: 145px auto;
    grid-template-rows: 85% 15%;
    grid-template-areas: "img info" "update update";
    @include subtract-media (desktop) {
        min-width: 300px;
        width: 30vw;
        height: 150px;
        grid-template-columns: 85px auto;
        grid-template-rows: 80% 20%;
    }
}

.skn-nvl-card-img {
    grid-area: img;
    img {
        cursor: pointer;
        width: 100%;
        height: 100%;
        border-radius: 5px 0px 0px 0px;
    }
}

.skn-nvl-updated-novels-chapters-list {
    margin-bottom: 0px;
    padding-inline-start: 25px;
    padding-right: 6px;
    li {
        margin-top: 1.2rem;
        @include subtract-media(desktop) {
            margin-top: 0.5rem;
        }
    }
    @include subtract-media(desktop) {
        font-size: 0.7rem;
    }
}

.skn-nvl-card-update-time {
    grid-area: update;
    padding: 4.5px 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 0px 0px 5px 5px;
    div {
        color: color(negative-font);
    }
    @include subtract-media(desktop) {
        font-size: 0.75rem;
    }
}

// test
.app-title {
    font-size: 24px;
}

.box-title {
    font-size: 20px;
}

.box-container {
    box-sizing: border-box;
    width: 800px;
    height: 500px;
    max-width: 90%;
    max-height: 90%;
    padding: 24px;
    margin: 24px auto;
    border-radius: 4px;
    color: #555;
    background-color: #eee;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.18), 0 6px 6px rgba(0, 0, 0, 0.25);
}

.info-container {
    padding: 12px 16px;
    line-height: 24px;
}

.action-container,
.content-container {
    position: relative;
    overflow: auto;
    height: 300px;
    min-height: 0;
    margin: 8px 16px;
    border-radius: 4px;
    background-color: #fff;
}

.action-container {
    padding: 16px;
}