<div class="container">
    <section>
        <div class="skn-user-management-search-box" *ngIf='!user_selected'>
            <input class="form-control" type="search" name="inputSearch" [(ngModel)]="searchText" autocomplete="on" placeholder='Busca un usuario'>
            <pagination-controls (pageChange)="current_page = $event;" responsive="true" previousLabel="Anterior" nextLabel="Siguiente" class="my-pagination" maxSize="8"></pagination-controls>
        </div>
    </section>
    <section>
        <div class="skn-user-management-users-box" *ngIf='!user_selected'>
            <div class="skn-user-management-user-card" *ngFor="let user of users| filter:searchText| paginate: {itemsPerPage: 15, currentPage: current_page}" (click)="goToEditUser(user.id)">
                <div style="margin-right: 10px;">
                    {{user.user_login}}
                </div>
                <div *ngIf="user.user_status === 'Active'" style="color: green;">
                    Activo
                </div>
                <div *ngIf="user.user_status !== 'Active'" style="color: red;">
                    Inactivo
                </div>
            </div>
        </div>
        <div class="skn-user-management-users-box" *ngIf='user_selected'>
            <div class="row">
                <div class="skn-user-management-user-buttons">
                    <div>
                        <button class="btn btn-danger" (click)="backToUserList()">
                            <div style="display: flex;">                            
                                <i class="material-icons">keyboard_backspace</i> 
                                <span>Regresar</span> 
                            </div>
                        </button>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-outline-primary" (click)="save()">
                            <div style="display: flex;">                            
                                <i class="material-icons">save</i> 
                                <span>Guardar cambios</span>
                            </div>
                        </button>
                        <button type="submit" class="btn btn-outline-info" *ngIf="user.user_status === 'Active'" (click)="openSm(disableUserModal)">
                            
                            <div style="display: flex;">                            
                                <i class="material-icons">not_interested</i> 
                                <span>Desactivar usuario</span>
                            </div>
                        </button>
                        <button type="submit" class="btn btn-outline-success " *ngIf="user.user_status !== 'Active' " (click)="swichtUserStatus('Active')">
                            <div style="display: flex;">                            
                                <i class="material-icons">how_to_reg</i> 
                                <span>Activar usuario</span>
                            </div>
                            
                        </button>
                        <button type="submit" class="btn btn-outline-danger " *ngIf="user.user_status !== 'Active' " (click)="openSm(deleteUserModal)">
                            <div style="display: flex;">                            
                                <i class="material-icons">delete_forever</i> 
                                <span>Eliminar usuario</span>
                            </div>  
                        </button>
                    </div>

                </div>
            </div>
            <form (ngSubmit)="save()" #userForm="ngForm">
                <div class="row">
                    <div class="col-md-6 skn-user-management-user-data">
                        <div>
                            <img [src]="user.user_profile_image | noUserImage" style="height:120px;" alt="User Icon" class="rounded float-center" />
                        </div>
                        <div>
                            <div class="form-group">
                                <h2>{{user.user_login}}</h2>
                            </div>
                        </div>
                        <div>
                            <div>ID de usuario: {{user.id}}</div>
                        </div>
                        <div>
                            <button class="btn btn-info" [routerLink]="['/perfil', user.user_login, user.id]">Ir a perfil</button>
                        </div>
                    </div>
                    <div class="col-md-6 skn-user-management-user-access">
                        <div style="display: flex;">
                            <div> Estado del usuario: </div>
                            <div *ngIf="user.user_status === 'Active'" style="color: green;">
                                Activo
                            </div>
                            <div *ngIf="user.user_status !== 'Active'" style="color: red;">
                                Inactivo
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Rol de usuario</label>
                            <select [(ngModel)]="user.user_rol" name="user_rol" class="form-control" required>
                                                            <option value="Admin">Administrador</option>
                                                            <option value="Editor">Editor</option>
                                                            <option value="User">Usuario</option>
                                                        </select>
                        </div>
                        <div class="form-group">
                            <label>Correo de usuario</label>
                            <input [(ngModel)]="user.user_email" name="user_email" type="text" class="form-control" placeholder="Correo electronico" required>
                        </div>
                        <div class="form-group">
                            <label>Acceso al foro</label>
                            <select [(ngModel)]="user.user_forum_auth" name="user_forum_auth" class="form-control" required>
                                                      <option value="Active">Habilitado</option>
                                                      <option value="Desactive">Sin acceso al foro</option>
                                                  </select>
                        </div>
                    </div>
                </div>
            </form>
            <ng-template #disableUserModal let-modal>
                <div class="modal-header">
                    <h4 class="modal-title">Desactivar usuario</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <p>¿Seguro que deseas desactivar el usuario?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" (click)="modal.close('Close click')" id="close_button">Cerrar</button>
                    <button type="button" class="btn btn-info" (click)="swichtUserStatus('Desactive'); modal.close('Close click')">Desactivar</button>
                </div>
            </ng-template>

            <ng-template #deleteUserModal let-modal>
                <div class="modal-header">
                    <h4 class="modal-title">Eliminar usuario</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                              <span aria-hidden="true">&times;</span>
                            </button>
                </div>
                <div class="modal-body">
                    <p>¿Seguro que deseas eliminar el usuario?</p>
                    <p>El usuario y todas sus novelas y capitulos asociados seran eliminados</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" (click)="modal.close('Close click')" id="close_button">Cerrar</button>
                    <button type="button" class="btn btn-danger" (click)="deleteUser(); modal.close('Close click')">Eliminar</button>
                </div>
            </ng-template>
        </div>
    </section>

    <!--<div class="col-6">
            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <h5 class="card-title">Estadisiticas</h5>
                    <p>Total de usuarios registrados: {{users.length}}</p>
                    <p>Usuarios en linea: 52</p>
                    <p>Usuarios Desactivados: {{this.desactivate_users}}</p>
                </div>
            </div>
        </div>-->

</div>