<section>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': currentTab === 'posts'}" (click)="swichtTab('posts')" style="cursor: pointer;">Publicaciones</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': currentTab === 'categories'}" (click)="swichtTab('categories')" style="cursor: pointer;">Categorias</a>
        </li>
    </ul>
</section>
<section *ngIf="currentTab === 'posts';">
    <div *ngIf="post === null;">
        <div style="width: 100%; text-align: center; margin: 15px 0px;">
            <input class="form-control" type="search" name="inputSearch" [(ngModel)]="searchText" autocomplete="on" placeholder='Busca una publicación'>
            <pagination-controls (pageChange)="current_page = $event;" responsive="true" previousLabel="Anterior" nextLabel="Siguiente" class="my-pagination" maxSize="8"></pagination-controls>
        </div>
        <div class="skn-forum-management-box row">
            <div class="skn-forum-management-post" *ngFor="let post of forum_posts | filter:searchText| paginate: {itemsPerPage: 15, currentPage: current_page}">
                <div>
                    <div>
                        <strong class="hover" (click)="getPost(post.id)">{{post?.post_title}}</strong>
                    </div>
                    <hr>
                    <div>
                        <div class="hover" [routerLink]="['/panel/administracion-de-usuarios', post.post_author_id]">Autor: {{post.user?.user_login}}</div>
                    </div>
                    <div>
                        Comentarios: {{post.post_comments?.length}}
                    </div>
                    <div>
                        Categoria: {{post.forum_category?.category_title}}
                    </div>
                </div>
                <div>
                    {{post.date_data.message}}
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="post !== null;">
        <main class="container" style="margin-top: 10px;">
            <button class="btn btn-danger" (click)="goBackToPosts()">
                <div style="display: flex;">                            
                    <i class="material-icons">keyboard_backspace</i> 
                    <span>Regresar</span> 
                </div>
            </button>
            <section style="margin-bottom: 15px;">
                <h3>{{post.post_title}}</h3>
                <div class="skn-posts-header">
                    <img src="../../../../../assets/img/008 - SkyNovels V.1/logo/1x/simbolo_rojos.png" alt="">
                    <p>Foro {{post.forum_category?.category_title}} de SkyNovels</p>
                </div>
                <div class="skn-post-card">
                    <div class="skn-post-card-img">
                        <img src="../../../../../assets/img/008 - SkyNovels V.1/logo/1x/simbolo_rojos.png" alt="">
                    </div>
                    <div class="skn-post-card-user">
                        <div class="skn-post-card-user-name">
                            <strong>{{post.user?.user_login}} </strong>
                            <small>{{post.user?.forum_posts.length}} publicaciones</small>
                        </div>
                        <div class="skn-post-card-user-options">
                            <i class="material-icons" unselectable="on" [ngClass]="{'pinned': post.post_pinned}" (click)="pinPost()">label_important</i>
                            <i class="material-icons" unselectable="on" (click)="editPost()" *ngIf="!post.edition">create</i>
                            <i class="material-icons" unselectable="on" *ngIf="post.edition" (click)="savePost(postForm)">done</i>
                            <i class="material-icons" unselectable="on" (click)="openSm(deletePostModal)">delete</i>
                        </div>

                    </div>
                    <div class="skn-post-card-content">
                        <div class="skn-post-card-user-post">
                            <p [innerHTML]="post.post_content" *ngIf="!post.edition"></p>
                            <form autocomplete="off" #postForm="ngForm">
                                <ckeditor [(ngModel)]="post.post_content" data="{{post.post_content}}" [editor]="Editor" name="post_content" *ngIf="post.edition" [config]="{ toolbar: [ 'heading', '|', 'bold', 'italic' ] }"></ckeditor>
                            </form>
                        </div>
                    </div>
                    <div class="skn-post-card-footer">
                        <div class="skn-post-card-footer-timestamp">
                            {{_hs.getRelativeTime(post.createdAt, null, null).message}}
                        </div>
                    </div>
                </div>
                <ng-template #deletePostModal let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title">Eliminar publicación</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <p>¿Seguro que deseas eliminar la publicación?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" (click)="modal.close('Close click')" id="close_button">Cancelar</button>
                        <button type="button" class="btn btn-danger" (click)="deletePost(); modal.close('Close click')">Eliminar</button>
                    </div>
                </ng-template>

                <div class="skn-post-card" *ngFor="let comment of post.post_comments">
                    <div class="skn-post-card-img">
                        <img src="../../../../../assets/img/008 - SkyNovels V.1/logo/1x/simbolo_rojos.png" alt="">
                    </div>
                    <div class="skn-post-card-user">
                        <div class="skn-post-card-user-name">
                            <strong>{{comment.user?.user_login}} </strong>
                            <small>{{comment.user?.forum_posts?.length}} publicaciones</small>
                        </div>
                        <div class="skn-post-card-user-options">
                            <i class="material-icons" unselectable="on" (click)="editComment(comment.id)" *ngIf="!comment.edition">create</i>
                            <i class="material-icons" unselectable="on" *ngIf="comment.edition" (click)="updateComment(comment.id, commentForm)">done</i>
                            <i class="material-icons" unselectable="on" (click)="openSm(deleteCommentModal)">delete</i>
                        </div>
                    </div>
                    <div class="skn-post-card-content">
                        <div class="skn-post-card-user-post">
                            <p [innerHTML]="comment.comment_content" *ngIf="!comment.edition"></p>
                            <form autocomplete="off" #commentForm="ngForm">
                                <ckeditor [(ngModel)]="comment.comment_content" data="{{comment.comment_content}}" [editor]="Editor" name="comment_content" *ngIf="comment.edition"></ckeditor>
                            </form>
                        </div>
                    </div>
                    <div class="skn-post-card-footer">
                        <div class="skn-post-card-footer-timestamp">
                            {{_hs.getRelativeTime(comment.createdAt, null, null).message}}
                        </div>
                    </div>
                    <ng-template #deleteCommentModal let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title">Eliminar comentario</h4>
                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <p>¿Seguro que deseas eliminar el comentario?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" (click)="modal.close('Close click')" id="close_button">Cancelar</button>
                            <button type="button" class="btn btn-danger" (click)="deleteComment(comment); modal.close('Close click')">Eliminar</button>
                        </div>
                    </ng-template>
                </div>
            </section>
        </main>
    </div>
</section>
<section *ngIf="currentTab === 'categories';">
    <div class="skn-forum-management-box">
        <div style="display: flex; justify-content: flex-end; padding: 0px 5px;" *ngIf="!new_category_form">
            <div class="skn-post-card-user-options">
                <i class="material-icons" unselectable="on" (click)="newCategory()">add</i>
            </div>
        </div>
        <div class="skn-forum-management-box-category" style="margin: 5px;" *ngIf="new_category_form">
            <div style="flex: auto; width: min-content;">
                <form autocomplete="off" #newCategoryForm="ngForm">
                    <div>
                        <input [(ngModel)]="new_category.category_title" id="category_title" name="category_title" type="text" class="form-control" #category_title="ngModel" placeholder="Nombre de categoria">
                    </div>
                    <div>
                        <textarea [(ngModel)]="new_category.category_description" id="category_description" name="category_description" class="form-control" #category_description="ngModel" placeholder="Descripción de categoria"></textarea>
                    </div>
                </form>
            </div>
            <div style="width: 80px;">
                <div class="skn-post-card-user-options">
                    <i class="material-icons" unselectable="on" (click)="createCategory(newCategoryForm)">done</i>
                    <i class="material-icons" unselectable="on" (click)="closeNewCategory()">clear</i>
                </div>
            </div>
        </div>

        <!-- Aquí empeizan las categorias existentes -->

        <div class="skn-forum-management-box-category" *ngFor="let category of forum_categories" style="margin: 5px;">
            <div style="flex: auto; width: min-content;">
                <div *ngIf="!category.edition">
                    <div>
                        <span>{{category.category_title}}</span>
                        <hr>
                    </div>
                    <div>
                        {{category.category_description}}
                    </div>
                </div>
                <form autocomplete="off" #categoryForm="ngForm" [ngStyle]="{'display':category.edition === true ? 'block' : 'none' }">
                    <div>
                        <input [(ngModel)]="category.category_title" id="category_title" name="category_title" type="text" class="form-control" #category_title="ngModel" placeholder="Nombre de categoria">
                    </div>
                    <div>
                        <textarea [(ngModel)]="category.category_description" id="category_description" name="category_description" class="form-control" #category_description="ngModel" placeholder="Descripción de categoria"></textarea>
                    </div>
                </form>
            </div>
            <div style="width: 80px;">
                <div class="skn-post-card-user-options">
                    <i class="material-icons" unselectable="on" (click)="editCategory(category.id)" *ngIf="!category.edition">create</i>
                    <i class="material-icons" unselectable="on" *ngIf="category.edition" (click)="updateCategory(category.id, categoryForm)">done</i>
                    <i class="material-icons" unselectable="on" (click)="openSm(deleteCategoryModal)">delete</i>
                </div>
            </div>
            <ng-template #deleteCategoryModal let-modal>
                <div class="modal-header">
                    <h4 class="modal-title">Eliminar categoria</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <p>¿Seguro que deseas eliminar la categoria?</p>
                    <p>Eliminar la categoria dejara todas las publicaciones asociadas sin una categoria asignada</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" (click)="modal.close('Close click')" id="close_button">Cancelar</button>
                    <button type="button" class="btn btn-danger" (click)="deleteCategory(category); modal.close('Close click')">Eliminar</button>
                </div>
            </ng-template>
        </div>
    </div>
</section>




<!--<div class="container">
    <button type="button" class="btn btn-primary" (click)="changeWindow('postList')">Lista de posts</button>
    <button type="button" class="btn btn-primary" (click)="changeWindow('forumConfiguration')">Configuración</button>

    <div class="row" *ngIf="this.currentWindow === 'forumConfiguration'">
        <h2>editar categorias del foro</h2>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let category of forum">
                <div class="row">
                    <div class="col-md-11">
                        <form (ngSubmit)="save(category, false)" #forma="ngForm" class="form-inline">
                            <div class="form-group">
                                <input [(ngModel)]="category.forum_type" name="forum_type" type="text" class="form-control" placeholder="Nombre de categoria" required>
                            </div>
                            <div class="form-group">
                                <input [(ngModel)]="category.forum_category_description" name="forum_category_description" type="text" class="form-control" placeholder="Descripción de la categoria" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-outline-primary">
                                    Guardar cambios
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-danger text-right" (click)="openSm(content)">X</button>

                        <ng-template #content let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title">Eliminar categoria</h4>
                                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>¿Seguro que deseas eliminar la categoria?</p>
                                <p>Eliminar la categoria afectara todas las publicaciones que tengan esta categoria asociada.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" (click)="modal.close('Close click')" id="close_button">Close</button>
                                <button type="button" class="btn btn-danger" (click)="deleteCategory(category); modal.close('Close click')">Eliminar</button>
                            </div>
                        </ng-template>

                    </div>
                </div>
            </li>
            <li class="list-group-item" *ngIf="this.AddCategory">
                <div class="row">
                    <div class="col-md-11">
                        <form (ngSubmit)="save(new_category, true)" #forma="ngForm" class="form-inline">
                            <div class="form-group">
                                <input [(ngModel)]="new_category.forum_type" name="forum_type" type="text" class="form-control" placeholder="Nombre de categoria" required>
                            </div>
                            <div class="form-group">
                                <input [(ngModel)]="new_category.forum_category_description" name="forum_category_description" type="text" class="form-control" placeholder="Descripción de categoria" required>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-outline-success">
                                    Añadir categoria
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-danger text-right" (click)="openAddCategory()">-</button>
                    </div>
                </div>
            </li>
            <li class="list-group-item" *ngIf="!this.AddCategory">
                <div class="col-md-1">
                    <button class="btn btn-success text-right" (click)="openAddCategory()">+</button>
                </div>
            </li>
        </ul>

    </div>
















    <div class="row" *ngIf="this.currentWindow === 'postList'">
        <div class="container-fluid row pt-1 pb-1">
            <input class="form-control col-auto" type="search" name="inputSearch" [(ngModel)]="searchText" autocomplete="on" placeholder='Busca un Post por nombre de autor, titulo o id'>
        </div>
        <div class="clearfix">
        </div>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th scope="col">
                            <h3 class="h5"> Categoria</h3>
                        </th>
                        <th scope="col">
                            <h3 class="h5"> Titulo del post</h3>
                        </th>
                        <th scope="col">
                            <h3 class="h5"> Nombre del usuario</h3>
                        </th>
                        <th scope="col">
                            <h3 class="h5"> Vistas</h3>
                        </th>
                        <th scope="col">
                            <h3 class="h5"> Comentarios</h3>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dataOfForum of forumData | filter:searchText">
                        <td data-label="Categoria" scope="row"> {{dataOfForum.forum_type}} </td>
                        <td data-label="Titulo" scope="row"> {{dataOfForum.post_title}} </td>
                        <td data-label="Nombre del usuario"> {{dataOfForum.USER}} </td>
                        <td data-label="Vistas">69</td>
                        <td data-label="Comentarios"> {{dataOfForum.comment_count}} </td>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-secondary" (click)="postView(dataOfForum.id)">Ver</button>
                            <button type="button" class="btn btn-secondary" (click)="postEditing(dataOfForum.id)">Editar</button>
                        </div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>-->