@import "../../common.scss";
@import "../../common.scss";
.container {
    max-width: 1060px;
}

.skn-search-box {
    padding: 15px;
    margin: auto;
    width: 90%;
    background-color: color(secondary);
    .skn-search-box-genres {
        justify-content: center;
        display: flex;
        color: color(primary);
        div {
            margin: 5px;
        }
    }
}


/*.skn-search-box {
    padding: 15px;
    margin: auto;
    width: 90%;
    background-color: color(secondary);
    .skn-search-box-genres {
        justify-content: center;
        display: flex;
        color: color(primary);
        div {
            margin: 5px;
        }
    }
}

.skn-nvl-card {
    border: 1px solid;
    margin: 5px 5px;
    width: 342px;
    height: 140px;
    display: grid;
    grid-template-columns: 104px auto;
    grid-template-areas: "img info";
    @include subtract-media (desktop) {
        width: 311px;
        height: 110px;
        grid-template-columns: 81px auto;
    }
}

.skn-nvl-card-img {
    grid-area: img;
    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.skn-nvl-card-info {
    grid-area: info;
    padding: 6px;
    display: inline-block;
    list-style-type: none;
    li {
        margin: 4% 0px;
    }
    .skn-nvl-card-title {
        display: inline-block;
    }
    .skn-nvl-card-status {
        display: inline-block;
        span {
            padding: 0px 4px;
            margin-right: 5px;
            border: color(primary) solid 2px;
        }
    }
}

.text-star {
    text-align: right;
}

.star {
    font-size: 1.5rem;
}

.filled .material-icons::before {
    content: "star";
}

.nfilled .material-icons::before {
    content: "star_border";
}*/