<div class="skn-loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
<mat-tab-group style="align-items: center;" dynamicHeight *ngIf="!loading">
    <mat-tab label="Mis novelas">
        <div class="container">
            <div class="d-flex justify-content-end" style="margin: 4px;">
                <button type="button" mat-raised-button color="primary" [routerLink]="['/mis-novelas/nuevo']">Añadir novela</button>
            </div>
            <section class="row" style="justify-content: center;">
                <app-novel-card [novels]="userNovels" [clickRoute]="'userNovel'"></app-novel-card>
            </section>
        </div>
    </mat-tab>
    <mat-tab label="Colaboraciones">
        <div class="container">
            <section class="row" style="justify-content: center;">
                <app-novel-card [novels]="userCollaborations" [clickRoute]="'userNovel'"></app-novel-card>
            </section>
        </div>
    </mat-tab>
</mat-tab-group>