.app-nav-bar {
    position: fixed;
    width: 100%;
    top: 0;
    height: 4.063rem;
    z-index: 500;
}

.app {
    overflow: hidden;
    min-height: calc(100vh - 4.063rem) !important;
    height: unset !important;
    margin-top: 4.063rem;
    ;
}

.skn-body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #fff;
}