body {
    margin: 0;
}

.app-nav-bar {
    position: sticky;
    top: 0;
    height: 4.063rem;
    z-index: 500;
}

.app {
    overflow: hidden;
    min-height: calc(100vh - 4.063rem);
}