<div class="skn-loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
<main class="container" *ngIf="!loading">
    <div class="skn-secondary skn-user-profile">
        <div class="skn-user-profile-image">
            <img src={{this.imgURL}} [ngStyle]="{height: user?.id === userData.id ? '90%' : '100%'}">
            <input #file type="file" accept='image/*' (change)="fileChangeEvent($event)" hidden>
            <button type="button" mat-raised-button color="primary" class="skn-upload-image-button" (click)="file.click()" *ngIf="user?.id === userData.id">Subir imagen (.jpg)</button>
        </div>
        <div class="skn-user-profile-description">
            <div class="d-flex align-items-lg-center" class="skn-user-profile-description-login">
                <h2>{{userData.user_login}}</h2>
                <button mat-mini-fab (click)="switchToEdition()" *ngIf="user?.id === userData.id && !edition"><span class="material-icons">create</span></button>
                <button mat-mini-fab (click)="updateUser(userForm)" *ngIf="user?.id === userData.id && edition"><span class="material-icons">check</span></button>
            </div>
            <div>
                <p *ngIf="!edition">{{userData.user_description}}</p>
                <form #userForm="ngForm">
                    <textarea *ngIf="user?.id === userData.id && edition" class="form-control skn-text-area" #user_description="ngModel" name="userData.user_description" [(ngModel)]="userData.user_description" rows="5"></textarea>
                </form>
            </div>
        </div>
        <div class="skn-user-profile-stats skn-main skn-text row" style="margin-left: 0px;">
            <div *ngIf="userData.novels.length !== 1"> <span class="material-icons">library_books</span> {{userData.novels.length}} novelas publicadas</div>
            <div *ngIf="userData.novels.length === 1"> <span class="material-icons">library_books</span> 1 novela publicada</div>
            <div *ngIf="userData.chapters.length !== 1"> <span class="material-icons">create</span> {{userData.chapters.length}} Capitulos publicados</div>
            <div *ngIf="userData.chapters.length === 1"> <span class="material-icons">create</span> 1 Capitulo publicado</div>
            <div *ngIf="userData.collaborations.length !== 1"> <span class="material-icons">people</span> {{userData.collaborations.length}} colaboraciones</div>
            <div *ngIf="userData.collaborations.length === 1"> <span class="material-icons">people</span> 1 colaboraciones</div>
        </div>
    </div>
</main>
<mat-tab-group style="align-items: center;" dynamicHeight *ngIf="!loading">
    <mat-tab label="Novelas" *ngIf="userData.novels.length > 0">
        <div class="container">
            <section class="row" style="justify-content: center;">
                <app-novel-card [novels]="userData.novels" [clickRoute]="'novel'"></app-novel-card>
            </section>
        </div>
    </mat-tab>
    <mat-tab label="Colaboraciones" *ngIf="userData.collaborations.length > 0">
        <div class="container">
            <section class="row" style="justify-content: center;">
                <app-novel-card [novels]="userData.collaborations" [clickRoute]="'novel'"></app-novel-card>
            </section>
        </div>
    </mat-tab>
</mat-tab-group>
<ng-template #successSnack>
    <div class="skn-snack-success-notification">
        <div class="skn-snack-notification-text">{{successSnackMessage}}</div>
        <div>
            <button mat-icon-button (click)="matSnackBar.dismiss()">
                <span class="material-icons">close</span>
            </button>
        </div>
    </div>
</ng-template>
<ng-template #errorSnack>
    <div class="skn-snack-error-notification">
        <div class="skn-snack-notification-text">{{errorSnackMessage}}</div>
        <div>
            <button mat-icon-button (click)="matSnackBar.dismiss()">
                <span class="material-icons">close</span>
            </button>
        </div>
    </div>
</ng-template>




<!--<main class="container">
    <hr>
    <section>
        <div class="skn-user-profile">
            <div class="skn-user-profile-image">
                <div class="skn-user-profile-image-box">
                    <img src="../../../../../assets/img/008 - SkyNovels V.1/logo/1x/simbolo_rojos.png" alt="">
                    <span *ngIf="user_data?.user?.user_rol === 'admin'">Administrador</span>
                </div>
            </div>
            <div class="skn-user-profile-info">
                <div class="skn-user-profile-info-name">
                    <div class="skn-user-profile-info-name-login">
                        <h2>{{user_data?.user?.user_login}}</h2>
                    </div>
                    <div class="skn-user-profile-info-name-description">
                        <p [innerHTML]="user_data?.user?.user_description"></p>
                    </div>
                </div>
            </div>
            <div class="skn-user-profile-info-stats">
                <div class="skn-user-profile-info-stats-list">
                    <ul>
                        <li>
                            <span>
                                <i class="material-icons">menu_book</i>
                                {{user_data?.novels?.length}} Novelas publicadas
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="material-icons">create</i>
                                {{user_data?.chapters?.length}} Capitulos publicados
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="material-icons">people</i>
                                {{user_data?.user?.collaborations?.length}} Colaboraciones
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="material-icons">forum</i>
                                {{user_data?.forum_posts?.length}} Publicaciones en el foro
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="material-icons">comment</i>
                                {{user_data?.posts_comments?.length}} Comentarios escritos
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section>
        <div class="skn-user-profile-statistics">
            <div class="skn-user-profile-statistics-header">
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        <a class="nav-link skn-user-profile-tabs" (click)="switchTab('novels')" [ngClass]="{'active':active_tab === 'novels'}">Novelas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link skn-user-profile-tabs" (click)="switchTab('activity')" [ngClass]="{'active':active_tab === 'activity'}">Actividad</a>
                    </li>
                </ul>
            </div>
            <hr>
        </div>
    </section>
    <section *ngIf="active_tab === 'novels'">
        <app-novel-card [novels]="user_data.novels"></app-novel-card>
    </section>
    <section *ngIf="active_tab === 'activity'">
        <div class="skn-user-activity" *ngFor="let activity of user_data.activityArray">
            <hr>
            <div class="skn-user-activity-header">
                <div *ngIf="activity.activity_type === 'posts_comments'">
                    <small>Ha comentado en una publicación:</small>
                </div>
                <div *ngIf="activity.activity_type === 'chapter'">
                    <small>Ha publicado un capitulo:</small>
                </div>
                <div *ngIf="activity.activity_type === 'forum_post'">
                    <small>Ha publicado en el foro {{activity.forum_category.category_title}}:</small>
                </div>
                <div *ngIf="activity.activity_type === 'novels'">
                    <small>Ha publicado una novela:</small>
                </div>
                <div class="skn-user-activity-title-relative-time">
                    <small>{{activity.date_data?.message}}</small>
                </div>
            </div>
            <div class="skn-user-activity-title">
                <div class="skn-user-activity-title-name" *ngIf="activity.activity_type === 'posts_comments'" [routerLink]="['/foro', activity.post.forum_category.category_name, activity.post.forum_category.id, activity.post.post_name, activity.post.id]">
                    {{activity?.post.post_title}}
                </div>
                <div class="skn-user-activity-title-name" *ngIf="activity.activity_type === 'chapter'">
                    {{activity?.chp_title}}
                </div>
                <div class="skn-user-activity-title-name" *ngIf="activity.activity_type === 'forum_post'" [routerLink]="['/foro', activity.forum_category.category_name, activity.forum_category.id, activity.post_name, activity.id]">
                    {{activity?.post_title}}
                </div>
                <div class="skn-user-activity-title-name" *ngIf="activity.activity_type === 'novels'" [routerLink]="['/novela', activity.id, activity.nvl_name]">
                    {{activity?.nvl_title}}
                </div>
            </div>
            <br>
            <div class="skn-user-activity-description">
                <div class="skn-user-activity-title-name" *ngIf="activity.activity_type === 'posts_comments'">
                    <div [innerHTML]="_hs.setContent(activity.comment_content, 1518)"></div>
                </div>
                <div class="skn-user-activity-title-name" *ngIf="activity.activity_type === 'chapter'">
                    <p>Capitulo publicado en la novela {{activity.novel.nvl_title}}</p>
                </div>
                <div class="skn-user-activity-title-name" *ngIf="activity.activity_type === 'forum_post'">
                    <div [innerHTML]="_hs.setContent(activity.post_content, 1518)"></div>
                </div>
                <div class="skn-user-activity-title-name" *ngIf="activity.activity_type === 'novels'">
                    <div [innerHTML]="_hs.setContent(activity.nvl_content, 1518)"></div>
                </div>
            </div>
        </div>
    </section>

</main>-->