@import "../../common.scss";
.skn-user-profile {
    width: 100%;
    border-radius: 15px;
    padding: 0.6rem;
    display: flex;
    .skn-user-profile-image {
        width: 10.2rem;
        height: 12.75rem;
        border-radius: 5px;
        padding: 2px;
        margin-right: 15px;
        @include subtract-media(desktop) {
            margin: auto;
            width: 8.2rem;
            height: 10.75rem;
        }
        img {
            width: 100%;
            height: 88%;
            border-radius: 10px 10px 0px 0px;
            @include subtract-media(desktop) {
                width: 100%;
                height: 85%;
                border-radius: 10px 10px 0px 0px;
            }
        }
        .skn-upload-image-button {
            line-height: 30px!important;
            font-size: 0.75rem;
            width: 100%;
            height: 12%;
            border-radius: 0px 0px 10px 10px;
            @include subtract-media(desktop) {
                line-height: 30px!important;
                width: 100%;
                height: 15%;
                border-radius: 0px 0px 10px 10px;
            }
        }
    }
    .skn-user-profile-description {
        flex: auto;
        width: min-content;
        height: fit-content;
        @include subtract-media(desktop) {
            margin: 1rem 0px;
            flex: unset;
            width: unset;
            height: unset;
        }
        .skn-user-profile-description-login {
            align-items: center;
            display: flex;
            margin-bottom: 1.5rem;
            h2 {
                margin: 0px 0.6rem 0px 0px;
            }
            @include subtract-media(desktop) {
                justify-content: center;
            }
        }
    }
    @include subtract-media(desktop) {
        display: block;
    }
    .skn-user-profile-stats {
        border-radius: 15px;
        padding: 5px;
        justify-content: center;
        width: 100%;
        margin: 10px 0px;
        max-height: 12rem;
        div {
            margin: 0.5rem 10px;
            display: flex;
            white-space: nowrap;
            span {
                margin-right: 2px;
            }
            @include desktop {
                margin: 1.4em 10px;
            }
        }
        @include desktop {
            display: block!important;
            width: unset;
        }
    }
}


/*.active {
    background-color: color(primary) !important;
    color: black !important;
}

.skn-user-profile-tabs {
    border: 1px solid #636363;
    cursor: pointer;
}

.skn-user-profile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .skn-user-profile-image {
        padding: 25px;
        .skn-user-profile-image-box {
            border: 1px solid;
            border-radius: 2px;
            padding: 8px;
            width: 210px;
            height: 210px;
            text-align: center;
            img {
                width: 100%;
                height: 85%;
                margin-bottom: 10px;
            }
            span {
                height: 15%;
            }
        }
    }
    .skn-user-profile-info {
        .skn-user-profile-info-name {
            width: 100%;
        }
    }
    .skn-user-profile-info-stats {
        padding-top: 25px;
        .skn-user-profile-info-stats-top {
            display: flex;
            justify-content: space-around;
        }
        .skn-user-profile-info-stats-list {
            display: flex;
            justify-content: center;
            ul {
                list-style: none;
                padding: 0px;
                margin-top: -7px;
                li {
                    margin: 8px 0px;
                }
            }
            span {
                display: flex;
            }
            i {
                margin-right: 5px;
            }
        }
    }
    @include subtract-media(desktop) {
        display: block;
        .skn-user-profile-image {
            justify-content: center;
            display: flex;
        }
        .skn-user-profile-info {
            .skn-user-profile-info-name {
                .skn-user-profile-info-name-login {
                    text-align: center;
                }
            }
        }
        .skn-user-profile-info-stats {
            margin: auto;
        }
    }
    @include desktop {
        .skn-user-profile-info {
            padding-top: 25px;
            display: flex;
            width: min-content;
            flex: auto;
            padding-right: 35px;
            .skn-user-profile-info-name {
                width: 100%;
            }
        }
    }
}

.skn-user-activity {
    .skn-user-activity-title {
        display: flex;
        .skn-user-activity-title-name {
            cursor: pointer;
        }
    }
    .skn-user-activity-header {
        display: flex;
        justify-content: space-between;
    }
    .skn-user-activity-description {
        width: 95%;
    }
}*/