<div class="skn-loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
<main *ngIf="!loading">
    <ng-template #deleteBookmark>
        <div class="skn-bottom-sheet-modal">
            <div class="modal-header">
                <h4 class="modal-title">Eliminar de lista de lectura</h4>
            </div>
            <div class="skn-bottomSheet-buttons" style="padding: 1rem 1rem">
                <div>
                    <button mat-raised-button class="skn-cancel-button" (click)="bottomSheet.dismiss()">Cancelar</button>
                </div>
                <div>
                    <button mat-raised-button color="warn" (click)="switchBookMark(); bottomSheet.dismiss()">Eliminar</button>
                </div>
            </div>
        </div>
    </ng-template>

    <div class="skn-novel-presentation-image-mobile" style="background-image: url('../../../assets/img/23.jpg');" *ngIf="mobile">
        <div class="skn-novel-presentation-image-mobile-info-stats-box container">
            <h1 style="font-size: 30px; margin-bottom: 5px;">{{novel.nvl_title}}</h1>
            <div>Por: {{novel.nvl_writer}}</div>
            <div style="display: flex;">
                <ngb-rating [(rate)]='novel.nvl_rating' max='5' [readonly]="true" style="border: none !important; outline: none !important;">
                    <ng-template let-fill="fill" let-index="index">
                        <span class="star" [class.filled]="fill === 100" [class.nfilled]="fill !== 100">
                            <span class="half" [style.width.%]="fill">
                                <i class="material-icons"></i>
                            </span>
                        </span>
                    </ng-template>
                </ngb-rating>
                <p *ngIf="novel.novel_ratings?.length > 1 || novel.novel_ratings?.length === 0" style="padding: 4px;">{{novel.nvl_rating}} ({{novel.novel_ratings?.length}} votos)</p>
                <p *ngIf="novel.novel_ratings?.length === 1" style="padding: 4px;">{{novel.nvl_rating}} ({{novel.novel_ratings?.length}} voto)</p>
            </div>
            <div class="skn-novel-presentation-info-user-buttons-box">
                <button mat-raised-button color="primary" style="color: black; height: 35px; margin-right: 5px;" *ngIf="user && !novel.user_bookmark" (click)="switchBookMark()">Añadir a la biblioteca</button>
                <button mat-raised-button color="primary" style="color: black; height: 35px; margin-right: 5px;" *ngIf="user && novel.user_bookmark" (click)="openBottomSheet(deleteBookmark)">Quitar de la biblioteca</button>
                <button mat-raised-button color="primary" style="color: black; height: 35px;" *ngIf="!novel.user_bookmark || novel.user_bookmark.bkm_chapter <= 1">Leer</button>
                <button mat-raised-button color="primary" style="color: black; height: 35px;" *ngIf="novel.user_bookmark && novel.user_bookmark.bkm_chapter > 1">Continuar leyendo</button>
            </div>

        </div>
    </div>

    <section *ngIf="!mobile">
        <div class="container">
            <div class="skn-novel-presentation">
                <div class="skn-novel-presentation-image">
                    <img [src]="novel.nvl_img | noimage" alt="">
                    <div class="skn-secondary">
                        <h4 [ngStyle]="{'color':novel.nvl_status === 'Activa' || novel.nvl_status === 'Finalizada' ? 'green' : 'red' }">{{novel.nvl_status}}</h4>
                    </div>
                </div>
                <div class="skn-novel-presentation-info">
                    <div class="skn-novel-presentation-info-stats-box">
                        <h2 class="skn-novel-presentation-info-title">{{novel.nvl_title}}<span class="skn-novel-acronym">{{novel.nvl_acronym}}</span></h2>
                        <div class="skn-novel-presentation-info-stats skn-secondary skn-text row" style="margin-left: 0px;">
                            <div> <span class="material-icons">create</span> 2 Capitulos semanales</div>
                            <div *ngIf="novel.nvl_chapters === 1"> <span class="material-icons">format_align_left</span> {{novel.nvl_chapters}} Capitulo</div>
                            <div *ngIf="novel.nvl_chapters > 1"> <span class="material-icons">format_align_left</span> {{novel.nvl_chapters}} Capitulos</div>
                            <div> <span class="material-icons">access_time</span> {{hs.getRelativeTime(novel.nvl_last_update).message}}</div>
                        </div>
                        <div class="skn-nvl-card-genres row" style="margin-bottom: 8px; margin-left: 0px;">
                            <span class="skn-secondary skn-text" *ngFor="let genre of novel.genres | slice: 0:5">{{genre.genre_name}}</span>
                        </div>
                        <div class="skn-text">Autor: <strong>{{novel.nvl_writer}}</strong></div>
                        <div class="skn-text" *ngIf="novel.nvl_translator">Traductor: <strong>{{novel.nvl_translator}}</strong></div>
                        <div class="skn-text" *ngIf="novel.nvl_translator_eng">Traductor al ingles: <strong>{{novel.nvl_translator_eng}}</strong></div>
                        <div class="skn-nvl-card-votes" style="display: flex;">
                            <ngb-rating [(rate)]='novel.nvl_rating' max='5' [readonly]="true" style="border: none !important; outline: none !important;">
                                <ng-template let-fill="fill" let-index="index">
                                    <span class="star" [class.filled]="fill === 100" [class.nfilled]="fill !== 100">
                                        <span class="half" [style.width.%]="fill">
                                            <i class="material-icons"></i>
                                        </span>
                                    </span>
                                </ng-template>
                            </ngb-rating>
                            <div style="margin-left: 9px; margin-top: 3px;">
                                <div>
                                    <p *ngIf="novel.novel_ratings?.length > 1 || novel.novel_ratings?.length === 0"> {{novel.novel_ratings?.length}} votos</p>
                                    <p *ngIf="novel.novel_ratings?.length === 1"> {{novel.novel_ratings?.length}} voto</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="skn-novel-presentation-info-user-buttons-box">
                        <button mat-raised-button color="primary" style="height: 41px;" *ngIf="user && !novel.user_bookmark" (click)="switchBookMark()">Añadir a la biblioteca</button>
                        <button mat-raised-button color="primary" style="height: 41px;" *ngIf="user && novel.user_bookmark" (click)="openBottomSheet(deleteBookmark)">Quitar de la biblioteca</button>
                        <button mat-raised-button color="primary" style="height: 41px;" *ngIf="!novel.user_bookmark || novel.user_bookmark.bkm_chapter <= 1">Leer</button>
                        <button mat-raised-button color="primary" style="height: 41px;" *ngIf="novel.user_bookmark && novel.user_bookmark.bkm_chapter > 1">Continuar leyendo</button>
                        <p *ngIf="!user">Incia sesíon para agregar esta novela a tu biblioteca</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section style="border-radius: 35px">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': currentTab === 'info'}" (click)="swichtTab('info')" style="cursor: pointer;">Información</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [ngClass]="{'active': currentTab === 'content'}" (click)="swichtTab('content')" style="cursor: pointer;">Contenido</a>
                </li>
            </ul>
            <div class="skn-nvl-info" *ngIf="currentTab === 'info'">
                <div class="skn-novel-presentation-info-stats-mobile skn-secondary skn-text row" style="margin-left: 0px;" *ngIf="mobile">
                    <div> <span class="material-icons">create</span> 2 Capitulos semanales</div>
                    <div *ngIf="novel.nvl_chapters === 1"> <span class="material-icons">format_align_left</span> {{novel.nvl_chapters}} Capitulo</div>
                    <div *ngIf="novel.nvl_chapters > 1"> <span class="material-icons">format_align_left</span> {{novel.nvl_chapters}} Capitulos</div>
                    <div> <span class="material-icons">access_time</span> {{hs.getRelativeTime(novel.nvl_last_update).message}}</div>
                </div>
                <h4>Sinopsis</h4>
                <p [innerHTML]="novel.nvl_content"></p>
            </div>
            <div class="skn-nvl-info" *ngIf="currentTab === 'content'">
                <p><strong>Ultimo capitulo: </strong><a class="skn-link">{{novel.nvl_last_chapter?.chp_index_title}}</a><small> {{novel.nvl_last_chapter?.date_data.message}}</small></p>
                <hr>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngFor="let volume of novel?.volumes" style="margin-bottom: 5px;">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <h4 style="margin: unset;">{{volume.vlm_title}}</h4>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="skn-nvl-vlm-chapters-container row">
                        <div class="skn-nvl-chp-element skn-text skn-secondary skn-secondary-hover" *ngFor="let chapter of volume.chapters" (click)="goToChapter(chapter)">
                            <div class="skn-nvl-chp-element-chp-number-index">
                                {{chapter.chp_number}}
                            </div>
                            <div>
                                <div class="skn-nvl-chp-element-title"> {{hs.setContent(chapter.chp_index_title, 69)}}</div>
                                <small>{{chapter.date_data.message}}</small>
                            </div>
                        </div>
                    </div>
                </mat-expansion-panel>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div *ngIf="mobile">
                <hr>
                <div class="skn-text" *ngIf="novel.nvl_translator">Traductor: <strong>{{novel.nvl_translator}}</strong></div>
                <div class="skn-text" *ngIf="novel.nvl_translator_eng">Traductor al ingles: <strong>{{novel.nvl_translator_eng}}</strong></div>
                <div class="skn-nvl-card-genres row" style="margin-bottom: 8px; margin-left: 0px;">
                    <span class="skn-secondary skn-text" *ngFor="let genre of novel.genres | slice: 0:5">{{genre.genre_name}}</span>
                </div>
            </div>
            <hr>
            <div class="skn-share-novel-rating">
                <div class="skn-nvl-ratings skn-text" *ngIf="!mobile">
                    <div class="skn-nvl-card-votes" style="display: flex; margin-top: 15px;">
                        <div style="margin-right: 9px; margin-top: 1.5px;">
                            <div>
                                <p *ngIf="novel.novel_ratings?.length > 1 || novel.novel_ratings?.length === 0"> {{novel.novel_ratings?.length}} votos</p>
                                <p *ngIf="novel.novel_ratings?.length === 1"> {{novel.novel_ratings?.length}} voto</p>
                            </div>
                        </div>
                        <ngb-rating [(rate)]='novel.nvl_rating' max='5' [readonly]="true" style="border: none !important; outline: none !important;">
                            <ng-template let-fill="fill" let-index="index">
                                <span class="star" [class.filled]="fill === 100" [class.nfilled]="fill !== 100">
                                    <span class="half" [style.width.%]="fill">
                                        <i class="material-icons"></i>
                                    </span>
                                </span>
                            </ng-template>
                        </ngb-rating>
                        <div style="margin-left: 7px; margin-top: 3px;">
                            {{novel.nvl_rating}}
                        </div>
                    </div>
                </div>
                <div class="skn-novel-presentation-info-user-buttons-box" style="margin-top: -7px; text-align: center;">
                    <div *ngIf="!this.novel.nvl_rated">
                        <div class="skn-text">Comparte tus pensamientos</div>
                        <button mat-raised-button color="primary" style="color: black;" (click)="openDialogSheet(createRatingModal)" *ngIf="user">Escribe una calificación</button>
                        <p *ngIf="!user">Incia sesíon</p>
                    </div>
                    <div *ngIf="this.novel.nvl_rated">
                        <p style="margin-top: 24px; color: green !important;">¡Has calificado la novela!</p>
                    </div>

                </div>
                <ng-template #createRatingModal>
                    <!--First div defines custom widht for the modal dialog-->
                    <div class="skn-dialong-modal" style="max-width: 45rem;">
                        <div class="modal-header">
                            <h4 class="modal-title">Tu calificación</h4>
                        </div>
                        <div class="modal-body">
                            <form autocomplete="off" [formGroup]="newRatingForm">
                                <div style="display: flex;">
                                    <span style="margin-right: 5px" class="skn-text">Puntuación:</span>
                                    <ngb-rating formControlName="rate_value" style="border: none !important; outline: none !important;" [max]="5">
                                        <ng-template let-fill="fill" let-index="index">
                                            <span class="star" [class.filled]="fill === 100" [class.nfilled]="fill !== 100">
                                            <span class="half" [style.width.%]="fill">
                                                <i class="material-icons"></i>
                                            </span>
                                            </span>
                                        </ng-template>
                                    </ngb-rating>
                                </div>
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Comentario</mat-label>
                                    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10" placeholder="Escribe un comentario" formControlName="rate_comment"></textarea>
                                </mat-form-field>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button mat-raised-button class="skn-cancel-button" style="margin-right: 15px;" (click)="dialog.closeAll()">Cancelar</button>
                            <button mat-raised-button color="primary" (click)="createNovelRating(); dialog.closeAll()" [disabled]="newRatingForm.invalid">Publicar</button>
                        </div>
                    </div>
                </ng-template>
            </div>
            <hr>

            <div class="skn-nvl-user-rating skn-secondary" *ngFor="let rating of novel.novel_ratings">
                <div class="skn-user-image">
                    <div>
                        <img src="https://dummyimage.com/50x50/000/fff" alt="">
                    </div>
                </div>
                <div class="skn-nvl-user-rating-user-rating">
                    <div class="skn-nvl-user-rating-login">
                        <div style="display: flex;">
                            <div class="skn-user-image-mobile">
                                <div>
                                    <img src="https://dummyimage.com/50x50/000/fff" alt="">
                                </div>
                            </div>
                            <strong style="margin: auto 6px">{{rating.user_login}}</strong>
                        </div>
                        <button mat-mini-fab *ngIf="!rating.edition && user?.id === rating.user_id" [matMenuTriggerFor]="userMenu"><i class="material-icons">more_vert</i></button>
                        <mat-menu #userMenu="matMenu">
                            <button mat-menu-item (click)="editRating(rating)">
                              <span>Editar</span>
                            </button>
                            <button mat-menu-item (click)="openDialogSheet(deleteRatingModal)">
                              <span>Eliminar</span>
                            </button>
                        </mat-menu>
                        <button mat-mini-fab *ngIf="rating.edition && user?.id === rating.user_id" (click)="updateRating(updateRatingForm, rating)"><i class="material-icons">done</i></button>
                    </div>
                    <hr>
                    <div class="skn-nvl-card-votes" style="display: flex;">
                        <ngb-rating [(rate)]='rating.rate_value' max='5' [readonly]="true">
                            <ng-template let-fill="fill" let-index="index">
                                <span class="star" [class.filled]="fill === 100" [class.nfilled]="fill !== 100">
                                    <span class="half" [style.width.%]="fill">
                                        <i class="material-icons"></i>
                                    </span>
                                </span>
                            </ng-template>
                        </ngb-rating>
                        <div style="margin-left: 7px; margin-top: 3px;">
                            <small>{{hs.getRelativeTime(rating.createdAt).message}}</small>
                        </div>
                    </div>
                    <div>
                        <p [innerHTML]="hs.setContent(rating.rate_comment, 360)" *ngIf="(!rating.show_more && rating.rate_comment.length > 360) && !rating.edition"></p>
                        <p [innerHTML]="rating.rate_comment" *ngIf="(rating.show_more || rating.rate_comment.length < 360) && !rating.edition"></p>
                        <form autocomplete="off" #updateRatingForm="ngForm">
                            <div class="form-group" *ngIf="rating.edition" style="width: 100%;">
                                <textarea class="form-control skn-text-area" #rate_comment="ngModel" name="rating.rate_comment" [(ngModel)]="rating.rate_comment" rows="3"></textarea>
                            </div>
                        </form>
                    </div>
                    <div *ngIf="rating.rate_comment.length > 360 && !rating.show_more && !rating.edition">
                        <strong class="skn-nvl-user-rating-info-togler skn-text" (click)="showMoreRating(rating)">...Ver más</strong>
                    </div>
                    <div *ngIf="rating.show_more && rating.rate_comment.length > 360 && !rating.edition">
                        <strong class="skn-nvl-user-rating-info-togler skn-text" (click)="showMoreRating(rating)">...Mostrar menos</strong>
                    </div>
                    <br>

                    <div style="display: flex; justify-content: space-between;">
                        <div>
                            <span class="skn-nvl-user-rating-info-togler skn-red-text" (click)="getNovelRatingComments(rating)" *ngIf="!rating.show_replys">Comentarios</span>
                            <span class="skn-nvl-user-rating-info-togler skn-red-text" (click)="hideNovelRatingComments(rating)" *ngIf="rating.show_replys">Ocultar Comentarios</span>
                        </div>
                        <div style="display: flex; align-items: center;">
                            <button mat-icon-button aria-label="like" (click)="switchRatingLike(rating)">
                                <span class="material-icons skn-like" [ngClass]="{'liked': rating.liked}">thumb_up</span>
                            </button>
                            <div style="margin-top: 3px;">{{rating.likes?.length}}</div>
                        </div>
                    </div>
                    <hr>

                    <!-- Novel rating comments-->
                    <div *ngIf="rating.show_replys">
                        <form *ngIf="user">
                            <div class="skn-nvl-rating-comment-textarea">
                                <div class="skn-user-image" style="margin-right: 15px;">
                                    <div>
                                        <img src="https://dummyimage.com/50x50/000/fff" alt="">
                                    </div>
                                </div>
                                <div class="skn-nvl-rating-comment-textarea-input">
                                    <mat-form-field style="width: 100%;">
                                        <mat-label>Añade un comentario</mat-label>
                                        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10" #novel_rating_comment="ngModel" name="rating.novel_rating_comment" [(ngModel)]="rating.novel_rating_comment"></textarea>
                                    </mat-form-field>
                                </div>
                                <button class="skn-nvl-rating-comment-textarea-button" mat-raised-button color="primary" [disabled]="rating.novel_rating_comment === null || rating.novel_rating_comment === ''" (click)="createNovelRatingComment(rating)">Publicar</button>
                            </div>
                        </form>
                        <div class="skn-nvl-user-rating" *ngFor="let rating_comment of rating.rating_comments" style="padding: 0px!important;">
                            <div class="skn-user-image">
                                <div>
                                    <img src="https://dummyimage.com/50x50/000/fff" alt="">
                                </div>
                            </div>
                            <div class="skn-nvl-user-rating-user-rating">
                                <div class="skn-nvl-user-rating-login" style="margin-bottom: 5px;">
                                    <div style="display: flex;">
                                        <div class="skn-user-image-mobile">
                                            <div>
                                                <img src="https://dummyimage.com/50x50/000/fff" alt="">
                                            </div>
                                        </div>
                                        <div class="skn-nvl-user-rating-login-name">
                                            <strong style="margin-right: 5px;">{{rating_comment.user_login}}</strong>
                                            <small>{{rating_comment.date_data.message}}</small>
                                        </div>
                                    </div>
                                    <button mat-mini-fab *ngIf="!rating_comment.edition && user?.id === rating_comment.user_id" [matMenuTriggerFor]="userMenu"><i class="material-icons">more_vert</i></button>
                                    <mat-menu #userMenu="matMenu">
                                        <button mat-menu-item (click)="editRating(rating_comment)">
                                          <span>Editar</span>
                                        </button>
                                        <button mat-menu-item (click)="openDialogSheet(deleteRatingCommentModal)">
                                          <span>Eliminar</span>
                                        </button>
                                    </mat-menu>
                                    <button mat-mini-fab *ngIf="rating_comment.edition && user?.id === rating_comment.user_id" (click)="updateNovelRatingComment(updateRatingCommentForm, rating_comment)"><i class="material-icons">done</i></button>
                                </div>
                                <div>
                                    <p [innerHTML]="hs.setContent(rating_comment.novel_rating_comment, 360)" *ngIf="(!rating_comment.show_more && rating_comment.novel_rating_comment.length > 360) && !rating_comment.edition"></p>
                                    <p [innerHTML]="rating_comment.novel_rating_comment" *ngIf="(rating_comment.show_more || rating_comment.novel_rating_comment.length < 360) && !rating_comment.edition"></p>
                                    <form autocomplete="off" #updateRatingCommentForm="ngForm">
                                        <div class="form-group" *ngIf="rating_comment.edition" style="width: 100%;">
                                            <textarea class="form-control skn-text-area" #novel_rating_comment="ngModel" name="rating_comment.novel_rating_comment" [(ngModel)]="rating_comment.novel_rating_comment" rows="3" required></textarea>
                                        </div>
                                    </form>
                                </div>
                                <div style="display: flex; justify-content: space-between;">
                                    <div *ngIf="rating_comment.novel_rating_comment.length < 360 || rating_comment.edition">

                                    </div>
                                    <div *ngIf="rating_comment.novel_rating_comment.length > 360 && !rating_comment.show_more && !rating_comment.edition">
                                        <strong class="skn-nvl-user-rating-info-togler" (click)="showMoreRating(rating_comment)">...Ver más</strong>
                                    </div>
                                    <div *ngIf="rating_comment.show_more && rating_comment.novel_rating_comment.length > 360 && !rating_comment.edition">
                                        <strong class="skn-nvl-user-rating-info-togler" (click)="showMoreRating(rating_comment)">...Mostrar menos</strong>
                                    </div>
                                    <div style="display: flex; align-items: center;">
                                        <button mat-icon-button aria-label="like" (click)="switchRatingCommentLike(rating_comment)">
                                            <span class="material-icons skn-like" [ngClass]="{'liked': rating_comment.liked}">thumb_up</span>
                                        </button>
                                        <div style="margin-top: 3px;">{{rating_comment.likes?.length}}</div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <ng-template #deleteRatingCommentModal>
                                <div class="skn-dialong-modal">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Eliminar tu comentario</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>¿Seguro que deseas eliminar el comentario?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button mat-raised-button class="skn-cancel-button" style="margin-right: 15px;" (click)="dialog.closeAll()">Cancelar</button>
                                        <button mat-raised-button color="warn" style="color: black;" (click)="deleteRatingComment(rating, rating_comment); dialog.closeAll()">Eliminar</button>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>

                </div>
                <ng-template #deleteRatingModal>
                    <div class="skn-dialong-modal">
                        <div class="modal-header">
                            <h4 class="modal-title">Eliminar tu calificación</h4>
                        </div>
                        <div class="modal-body">
                            <p>¿Seguro que deseas eliminar la calificación?</p>
                        </div>
                        <div class="modal-footer">
                            <button mat-raised-button class="skn-cancel-button" style="margin-right: 15px;" (click)="dialog.closeAll()">Cancelar</button>
                            <button mat-raised-button color="warn" style="color: black;" (click)="deleteRating(rating); dialog.closeAll()">Eliminar</button>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </section>
</main>
<ng-template #successSnack>
    <div class="skn-snack-success-notification">
        <div class="skn-snack-notification-text">{{successSnackMessage}}</div>
        <div>
            <button mat-icon-button (click)="matSnackBar.dismiss()">
                <span class="material-icons">close</span>
            </button>
        </div>
    </div>
</ng-template>
<ng-template #errorSnack>
    <div class="skn-snack-error-notification">
        <div class="skn-snack-notification-text">{{errorSnackMessage}}</div>
        <div>
            <button mat-icon-button (click)="matSnackBar.dismiss()">
                <span class="material-icons">close</span>
            </button>
        </div>
    </div>
</ng-template>