<nav style="top: 65px; position: fixed; z-index:9999; background-color: rgba(0,0,0,0.32); width: 100%; height: 100%;" *ngIf="open">
    <section class="skn-mobile-navbar skn-main">
        <div class="skn-mobile-navbar-content">
            <!--<div class="skn-mobile-navbar-header">
                <img src="../../../assets/img/simbolo_rojos.png" height="30">
            </div>
            <hr>-->
            <a routerLink="" class="unstyled-a-tag skn-mobile-navbar-section" (click)="closeNav(false)">
                <span class="material-icons md-30">home</span>
                <a routerLink="" class="nav-mobile-text">Inicio</a>
            </a>
            <hr>
            <a routerLink="novelas" class="unstyled-a-tag skn-mobile-navbar-section" (click)="closeNav(false)">
                <span class="material-icons md-30">library_books</span>
                <a routerLink="novelas" class="nav-mobile-text" routerLinkActive="nav-link-selected">Novelas</a>
            </a>
            <hr>
            <a routerLink="lista-de-lectura" class="unstyled-a-tag skn-mobile-navbar-section" *ngIf="us.userIsLoged()" (click)="closeNav(false)">
                <span class="material-icons md-30">star</span>
                <a routerLink="lista-de-lectura" class="nav-mobile-text" routerLinkActive="nav-link-selected">Lista de lectura</a>
            </a>
            <hr *ngIf="us.userIsLoged()">
            <a routerLink="{{'perfil/' + this.us.getUserLoged().id + '/' + this.us.getUserLoged().user_login}}" class="unstyled-a-tag skn-mobile-navbar-section" *ngIf="us.userIsLoged()" (click)="closeNav(false)">
                <span class="material-icons md-30">account_circle</span>
                <a routerLink="{{'perfil/' + this.us.getUserLoged().id + '/' + this.us.getUserLoged().user_login}}" class="nav-mobile-text" routerLinkActive="nav-link-selected">Perfil</a>
            </a>
            <hr *ngIf="us.userIsLoged()">
            <a routerLink="mis-novelas" class="unstyled-a-tag skn-mobile-navbar-section" *ngIf="us.userIsEditor()" (click)="closeNav(false)">
                <span class="material-icons md-30">create</span>
                <a routerLink="mis-novelas" class="nav-mobile-text" routerLinkActive="nav-link-selected">Mis novelas</a>
            </a>
            <hr *ngIf="us.userIsEditor()">
            <div class="skn-mobile-navbar-section" *ngIf="!us.userIsLoged()" (click)="closeNav(true); openLoginForm()">
                <span class="material-icons md-30">face</span>
                <p class="nav-mobile-text">Iniciar Sesión</p>
            </div>
            <hr *ngIf="!us.userIsLoged()">
            <div class="skn-mobile-navbar-section" *ngIf="!us.userIsLoged()" (click)="closeNav(true); openRegisterForm();">
                <span class="material-icons md-30">account_box</span>
                <p class="nav-mobile-text">Registrarse</p>
            </div>
            <hr *ngIf="!us.userIsLoged()">
            <a routerLink="panel" class="unstyled-a-tag skn-mobile-navbar-section" *ngIf="this.as.userIsAdmin()" (click)="closeNav(false)">
                <span class="material-icons md-30">settings</span>
                <a routerLink="panel" class="nav-mobile-text" routerLinkActive="nav-link-selected">Panel de control</a>
            </a>
            <hr *ngIf="this.as.userIsAdmin()">
            <a routerLink="invitaciones" class="unstyled-a-tag skn-mobile-navbar-section" *ngIf="us.userIsEditor()" (click)="closeNav(false)">
                <span class="material-icons md-30">mail</span>
                <a routerLink="invitaciones" class="nav-mobile-text" routerLinkActive="nav-link-selected">Invitaciones</a>
            </a>
            <hr *ngIf="us.userIsEditor()">
            <div class="skn-mobile-navbar-section" *ngIf="us.userIsLoged()" (click)="logout()">
                <span class="material-icons md-30">block</span>
                <p class="nav-mobile-text">Cerrar sesión</p>
            </div>
            <hr *ngIf="us.userIsLoged()">
            <div class="skn-mobile-navbar-section" (click)="toggleTheme()">
                <span class="material-icons md-30 hide-light">brightness_2</span>
                <span class="material-icons md-30 hide-dark">brightness_7</span>
                <p class="nav-mobile-text">Apariencia</p>
            </div>
            <hr>
        </div>
    </section>
    <div class="skn-mobile-navbar-disabled-content" (click)="closeNav(true)">

    </div>
</nav>