<nav style="position: fixed; z-index:9999; background-color: rgba(0,0,0,0.6); width: 100%; height: 100%;" *ngIf="open">
    <section class="skn-mobile-navbar skn-main">
        <div class="skn-admin-card-content">
            <div class="skn-admin-card-header">
                <img src="../../../assets/img/008 - SkyNovels V.1/logo/1x/simbolo_rojos.png" height="30">
                <h4>SkyNovels</h4>
            </div>
            <hr>
            <div class="skn-admin-card-section">
                <a routerLink="" (click)="closeMobileNavbarForm()">
                    <i class="material-icons">home</i>
                    <span class="nav-mobile-text"> Inicio</span>
                </a>
            </div>
            <hr>
            <div class="skn-admin-card-section">
                <a routerLink="novelas" (click)="closeMobileNavbarForm()">
                    <i class="material-icons">menu_book</i>
                    <span class="nav-mobile-text">Novelas</span>
                </a>
            </div>
            <hr>
            <div class="skn-admin-card-section">
                <a routerLink="foro" (click)="closeMobileNavbarForm()">
                    <i class="material-icons">forum</i>
                    <span class="nav-mobile-text">Foro</span>
                </a>
            </div>
            <hr>
            <div class="skn-admin-card-section" *ngIf="_us.userIsLoged()">
                <a routerLink="mis-novelas" (click)="closeMobileNavbarForm()">
                    <i class="material-icons">create</i>
                    <span class="nav-mobile-text">Mis novelas</span>
                </a>
            </div>
            <hr *ngIf="_us.userIsLoged()">
            <div class="skn-admin-card-section" *ngIf="!_us.userIsLoged()">
                <a (click)="openLoginForm(); closeMobileNavbarForm()">
                    <i class="material-icons">face</i>
                    <span class="nav-mobile-text">Iniciar Sesión</span>
                </a>
            </div>
            <hr *ngIf="!_us.userIsLoged()">
            <div class="skn-admin-card-section" *ngIf="!_us.userIsLoged()">
                <a (click)="openRegisterForm(); closeMobileNavbarForm()">
                    <i class="material-icons">account_box</i>
                    <span class="nav-mobile-text">Registrarse</span>
                </a>
            </div>
            <hr *ngIf="!_us.userIsLoged()">
            <div class="skn-admin-card-section" *ngIf="this._as.userIsAdmin()">
                <a routerLink="panel" (click)="closeMobileNavbarForm()">
                    <i class="material-icons">settings</i>
                    <span class="nav-mobile-text"> Panel de control</span>
                </a>
            </div>
            <hr *ngIf="this._as.userIsAdmin()">
            <div class="skn-admin-card-section" *ngIf="_us.userIsLoged()">
                <a (click)="logout()">
                    <i class="material-icons">block</i>
                    <span class="nav-mobile-text">Cerrar sesión</span>
                </a>
            </div>
            <hr *ngIf="_us.userIsLoged()">
            <div class="skn-admin-card-section" *ngIf="_us.userIsLoged()">
                <a (click)="closeMobileNavbarForm(); goToMyProfile()">
                    <i class="material-icons">create</i>
                    <span class="nav-mobile-text">Perfil</span>
                </a>
            </div>
            <hr *ngIf="_us.userIsLoged()">
        </div>
    </section>
    <div class="skn-mobile-navbar-disabled-content" (click)="closeMobileNavbarForm()">

    </div>
</nav>