<nav style="top: 65px; position: fixed; z-index:9999; background-color: rgba(0,0,0,0.32); width: 100%; height: 100%;" *ngIf="open">
    <section class="skn-mobile-navbar skn-main">
        <div class="skn-admin-card-content">
            <div class="skn-admin-card-header">
                <img src="../../../assets/img/008 - SkyNovels V.1/logo/1x/simbolo_rojos.png" height="30">
                <h4>SkyNovels</h4>
            </div>
            <hr>
            <div class="skn-admin-card-section">
                <a routerLink="" (click)="navigate()">
                    <span class="material-icons md-30">home</span>
                    <span class="nav-mobile-text">Inicio</span>
                </a>
            </div>
            <hr>
            <div class="skn-admin-card-section">
                <a routerLink="novelas" (click)="navigate()">
                    <span class="material-icons md-30">library_books</span>
                    <span class="nav-mobile-text" routerLinkActive="nav-link-selected">Novelas</span>
                </a>
            </div>
            <hr>
            <div class="skn-admin-card-section" *ngIf="us.userIsLoged()">
                <a (click)="navigate(); goToMyProfile()">
                    <span class="material-icons md-30">account_circle</span>
                    <span class="nav-mobile-text" routerLinkActive="nav-link-selected">Perfil</span>
                </a>
            </div>
            <hr *ngIf="us.userIsLoged()">
            <div class="skn-admin-card-section" *ngIf="us.userIsLoged()">
                <a routerLink="mis-novelas" (click)="navigate()">
                    <span class="material-icons md-30">create</span>
                    <span class="nav-mobile-text" routerLinkActive="nav-link-selected">Mis novelas</span>
                </a>
            </div>
            <hr *ngIf="us.userIsLoged()">
            <div class="skn-admin-card-section" *ngIf="!us.userIsLoged()">
                <a (click)="openLoginForm(); closeMobileNavbarForm()">
                    <span class="material-icons md-30">face</span>
                    <span class="nav-mobile-text">Iniciar Sesión</span>
                </a>
            </div>
            <hr *ngIf="!us.userIsLoged()">
            <div class="skn-admin-card-section" *ngIf="!us.userIsLoged()">
                <a (click)="openRegisterForm(); navigate()">
                    <span class="material-icons md-30">account_box</span>
                    <span class="nav-mobile-text">Registrarse</span>
                </a>
            </div>
            <hr *ngIf="!us.userIsLoged()">
            <div class="skn-admin-card-section" *ngIf="this.as.userIsAdmin()">
                <a routerLink="panel" (click)="navigate()">
                    <span class="material-icons md-30">settings</span>
                    <span class="nav-mobile-text" routerLinkActive="nav-link-selected">Panel de control</span>
                </a>
            </div>
            <hr *ngIf="this.as.userIsAdmin()">
            <div class="skn-admin-card-section" *ngIf="us.userIsLoged()">
                <a routerLink="invitaciones" (click)="navigate()">
                    <span class="material-icons md-30">mail</span>
                    <span class="nav-mobile-text" routerLinkActive="nav-link-selected">Invitaciones</span>
                </a>
            </div>
            <hr *ngIf="us.userIsLoged()">
            <div class="skn-admin-card-section" *ngIf="us.userIsLoged()">
                <a (click)="logout()">
                    <span class="material-icons md-30">block</span>
                    <span class="nav-mobile-text">Cerrar sesión</span>
                </a>
            </div>
            <hr *ngIf="us.userIsLoged()">
        </div>
    </section>
    <div class="skn-mobile-navbar-disabled-content" (click)="closeMobileNavbarForm()">

    </div>
</nav>