nav,
html {
    animation: 0.4s ease slideIn;
    height: 100%;
}

@keyframes slideInFromLeft {
    0% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

nav {
    margin: 0;
    display: grid;
    grid-template-columns: 15rem auto;
    grid-template-rows: 100%;
    grid-template-areas: "navbar disabled";
}

hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

nav:hover {
    grid-template-columns: 15rem auto;
}

.skn-mobile-navbar {
    animation: 0.4s ease slideInFromLeft;
    height: 100%;
    grid-area: navbar;
    background-color: white;
    .skn-mobile-navbar-content {
        height: 100%;
        width: 100%;
        text-align: left;
        padding: 1em;
        hr {
            display: block;
            color: #626973;
            background-color: #626973;
        }
        .skn-mobile-navbar-header {
            margin: 10px 1.2rem;
            display: inline-flex;
            h4 {
                margin: auto auto auto 4px;
            }
        }
        .skn-mobile-navbar-section {
            display: inline-flex;
            cursor: pointer;
            align-items: center;
            span {
                display: block;
                margin-right: 0.4em;
            }
            a {
                display: contents;
                white-space: nowrap;
            }
        }
    }
}

.skn-mobile-navbar-disabled-content {
    grid-area: disabled;
}

.material-icons {
    color: #131E2C;
}

.hide-light {
    color: #131E2C;
}

.hide-dark {
    color: #d32f2f;
}