@import "../../../common.scss";
.skn-post-card-user-options {
    padding: 5px;
    i {
        padding: 2px;
        border-radius: 50%;
        margin-left: 10px;
        cursor: pointer;
        border: 1px solid;
        background-color: #f7f7f7;
        -webkit-user-select: none;
        /* Safari */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* IE10+/Edge */
        user-select: none;
        /* Standard */
    }
    i:hover {
        background-color: #e0e0e0;
    }
    i:active {
        background-color: #c4c4c4;
    }
}

.skn-post-card {
    margin-bottom: 12px;
    border: 1px solid;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60px auto 35px;
    grid-template-areas: "usr_info" "post_content" "footer";
    @include mobile {
        grid-template-columns: 100%;
        grid-template-rows: 70px auto 35px;
    }
    .skn-post-card-content {
        grid-area: post_content;
        padding: 10px;
    }
    .skn-post-card-user {
        grid-area: usr_info;
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
    .skn-post-card-footer {
        padding: 6px;
        grid-area: footer;
        background-color: color(secondary);
        color: color(negative-font);
        display: flex;
        justify-content: space-between;
        .skn-post-card-footer-reply {
            .btn {
                line-height: 0.68;
                padding: .375rem .3rem;
            }
        }
    }
}

.skn-category-title {
    display: flex;
    margin: 10px 0px 10px 0px;
    justify-content: space-between;
    div {
        display: flex;
        .skn-category-img {
            width: 60px;
            height: 60px;
            img {
                width: 100%;
            }
        }
        .skn-category-title-name {
            display: flex;
            margin-left: 5px;
            h2 {
                margin: auto;
            }
        }
        button {
            margin: 10px 0px;
            color: black;
            background-color: color(primary);
        }
    }
}

.skn-forum-box {
    display: grid;
    border: 1px solid;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    grid-template-columns: 100%;
    grid-template-rows: 2em auto;
    grid-template-areas: "headers" "categories";
}

.skn-forum-box-header {
    grid-area: headers;
    display: flex;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    justify-content: space-between;
    border-bottom: 1px solid;
    background-color: color(primary);
    .skn-forum-box-header-post {
        padding: 6px;
        border-right: 1px solid;
        width: 50%;
    }
    .skn-forum-box-header-author {
        padding: 6px;
        width: 20%;
        border-right: 1px solid;
    }
    .skn-forum-box-header-comments {
        padding: 6px;
        width: 15%;
        border-right: 1px solid;
    }
    .skn-forum-box-header-activity {
        padding: 6px;
        width: 15%;
    }
    @include mobile {
        .skn-forum-box-header-post {
            padding: 6px;
            border-right: 0px;
            width: 100%;
        }
        .skn-forum-box-header-author {
            display: none;
        }
        .skn-forum-box-header-comments {
            display: none;
        }
        .skn-forum-box-header-activity {
            display: none;
        }
    }
}

.skn-forum-box-posts {
    grid-area: categories;
    display: block;
    justify-content: space-between;
    .skn-forum-box-post {
        display: flex;
        width: 100%;
        border-bottom: 1px solid;
        cursor: pointer;
        .skn-forum-box-post-title {
            padding: 12px 24px;
            border-right: 1px solid;
            width: 50%;
            display: block;
            .skn-forum-box-category-title-icon {
                display: flex;
                width: 3em;
                text-align: center;
                margin-right: 24px;
                i {
                    margin: auto;
                    font-size: 50px;
                }
            }
            .skn-forum-box-category-title-info {
                width: auto;
                display: flex;
                .skn-forum-box-category-mobile-lpost {
                    display: none;
                    @include mobile {
                        display: block;
                    }
                }
            }
            @include mobile {
                border-right: 0px;
                width: 100%;
                hr {
                    display: block !important;
                }
                small {
                    display: block !important;
                }
            }
        }
        .skn-forum-box-post-author {
            padding: 12px;
            width: 20%;
            display: flex;
            margin: auto;
            border-right: 1px solid;
            @include mobile {
                display: none;
            }
        }
        .skn-forum-box-post-comments {
            padding: 12px;
            width: 15%;
            display: flex;
            margin: auto;
            border-right: 1px solid;
            @include mobile {
                display: none;
            }
        }
        .skn-forum-box-post-activity {
            padding: 12px;
            width: 15%;
            display: flex;
            margin: auto;
            @include mobile {
                display: none;
            }
        }
    }
    .skn-forum-box-post:hover {
        background-color: #e6e6e6;
    }
    .skn-forum-box-category:last-child {
        border-bottom: 0px solid;
    }
}

.forum-col {
    min-width: 16em;
}

.last_post_col {
    min-width: 12em;
}

.pr {
    padding-right: 0px;
}

.general {
    margin: 0 1em 0 0;
    font-size: 1em;
}

.primerContainer {
    padding: 0;
}

.cabezera,
.cabezera,
.cabezera::before {
    box-sizing: border-box;
}

.primerContainer {
    display: flex;
    flex-flow: column;
    .cabezera {
        margin: 0;
        border-radius: 2.5%;
        border-bottom: 1px medium black;
        max-height: 20%;
        background-color: #999999!important;
        color: #ffffff!important;
        font-weight: normal;
        text-align: left;
        .titulo {
            margin-left: 10px;
            text-align: left;
            line-height: 2em;
            justify-self: center;
        }
    }
    .content {
        grid-template-columns: repeat(4, 1fr);
        margin: 3%;
        justify-content: space-around;
        .wraperContent {
            width: 140px;
            border-right: 1px solid #eee;
            margin: 10px;
            line-height: normal;
            text-align: center;
        }
    }
    .footer {
        display: inline-flex;
        margin: auto 0 0 0;
        justify-content: space-around;
        background-color: #FAFAFA;
        padding: 0;
        p {
            text-align: center;
            line-height: normal;
        }
    }
}