<div class="skn-forum-bar">
    <div>
        <span (click)="goToLink('foro')">Foro ></span>
    </div>
    <div>
        <span>{{category.category_title}}</span>
    </div>
</div>
<main class="container">
    <section>
        <div class="skn-category-title">
            <div>
                <div class="skn-category-img">
                    <img src="../../../../assets/img/008 - SkyNovels V.1/logo/1x/simbolo_rojos.png" alt="">
                </div>
                <div class="skn-category-title-name">
                    <h2>Foro {{category.category_title}}</h2>
                </div>
            </div>
            <div>
                <button class="btn btn-danger" *ngIf="!edition && user" (click)="goToPostCreation()">Crear publicación</button>
                <button class="btn btn-danger" *ngIf="edition && user" (click)="goToPostCreation()">Regresar</button>
            </div>
        </div>
    </section>
    <section *ngIf="edition && user">
        <div class="skn-post-card">
            <div class="skn-post-card-user">
                <div class="skn-post-card-user-name" style="width: 100%;">
                    <div class="form-group">
                        <input [(ngModel)]="post.post_title" type="text" class="form-control" placeholder="Titulo de publicación" [ngModelOptions]="{standalone: true}">
                    </div>
                </div>
                <div class="skn-post-card-user-options">
                    <i class="material-icons" unselectable="on" (click)="createPost()">done</i>
                </div>

            </div>
            <div class="skn-post-card-content">
                <div class="skn-post-card-user-post">
                    <ckeditor [(ngModel)]="post.post_content" data="{{post.post_content}}" [editor]="Editor" name="post_content" [ngModelOptions]="{standalone: true}"></ckeditor>
                </div>
            </div>
        </div>
    </section>
    <section style="margin-bottom: 2em;" *ngIf="!edition">
        <div class="skn-forum-box">
            <div class="skn-forum-box-header">
                <div class="skn-forum-box-header-post">
                    <span>Publicación</span>
                </div>
                <div class="skn-forum-box-header-author">
                    <span>Autor</span>
                </div>
                <div class="skn-forum-box-header-comments">
                    <span>Comentarios</span>
                </div>
                <div class="skn-forum-box-header-activity">
                    <span>Actividad</span>
                </div>
            </div>
            <div class="skn-forum-box-posts">
                <div class="skn-forum-box-post" *ngFor="let post of category.forum_posts">
                    <div class="skn-forum-box-post-title" (click)="goToPost(post)">
                        <div class="skn-forum-box-category-title-info">
                            <i class="material-icons" *ngIf="post.post_pinned">label_important</i> <span>{{post.post_title}}</span>
                        </div>
                        <hr style="display: none;">
                        <small style="display: none;">Autor:  {{post.user?.user_login}}</small>
                        <small style="display: none;">Comentarios: {{post.post_comments?.length}}</small>
                        <small style="display: none;">Actividad:  {{post.date_data?.message}}</small>
                    </div>
                    <div class="skn-forum-box-post-author">
                        {{post.user.user_login}}
                    </div>
                    <div class="skn-forum-box-post-comments">
                        {{post.post_comments.length}}
                    </div>
                    <div class="skn-forum-box-post-activity">
                        {{post.date_data?.message}}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container-fluid primerContainer" style="margin: auto; height: 200px;">
            <div class="row cabezera">
                <p class="titulo">
                    Estadisticas
                </p>
            </div>
            <div class="content row">
                <div class="wraperContent">
                    <div class="number "> 326 </div>
                    <div class="subtitlesmall ">Debates</div>
                </div>
                <div class="wraperContent">
                    <div class="number "> 326 </div>
                    <div class="subtitlesmall ">Debates</div>
                </div>
                <div class="wraperContent">
                    <div class="number "> 326 </div>
                    <div class="subtitlesmall ">Debates</div>
                </div>
                <div class="wraperContent">
                    <div class="number "> 326 </div>
                    <div class="subtitlesmall ">Debates</div>
                </div>
            </div>
            <div class="footer ">
                <p>
                    Ultimo miembro: ramonm7712 |
                </p>
                <span>
                <p>
                  Actualmente en linea : 2 invitados
                </p>
              </span>
            </div>
        </div>
    </section>
</main>