<nav>
    <section class="skn-content">
        <a class="skn-logo" routerLink=""></a>
        <div class="skn-nav-links" *ngIf="!mobile">
            <div class="skn-nav-link">
                <a class="nav-link" routerLink="novelas" routerLinkActive="nav-link-selected">Novelas</a>
            </div>
            <div class="skn-nav-link" *ngIf="us.userIsEditor()">
                <a class="nav-link" routerLink="mis-novelas" routerLinkActive="nav-link-selected">Mis novelas</a>
            </div>
            <div class="skn-nav-link" *ngIf="us.userIsLoged()">
                <a class="nav-link" routerLink="lista-de-lectura" routerLinkActive="nav-link-selected">Lista de lectura</a>
            </div>
            <div class="skn-nav-link" *ngIf="!us.userIsLoged()">
                <a class="nav-link" (click)="openDialogSheet(loginModal, true, false)" routerLinkActive="nav-link-selected" style="cursor: pointer;">Iniciar sesión</a>
            </div>
            <div class="skn-nav-link" *ngIf="!us.userIsLoged()">
                <a class="nav-link" (click)="openDialogSheet(loginModal, false, true)" routerLinkActive="nav-link-selected" style="cursor: pointer;">Registrarse</a>
            </div>
            <div class="skn-nav-link" *ngIf="this.as.userIsAdmin()">
                <a class="nav-link" routerLink="panel" routerLinkActive="nav-link-selected">Panel de control</a>
            </div>
            <div class="skn-nav-link" *ngIf="us.userIsLoged()">
                <a class="nav-link" (click)="logout()" style="cursor: pointer;">Cerrar sesión</a>
            </div>
            <div class="skn-nav-link" *ngIf="us.userIsLoged()">
                <a class="nav-link" [routerLink]="['/perfil', this.us.getUserLoged().id, this.us.getUserLoged().user_login]" style="cursor: pointer;" routerLinkActive="nav-link-selected">Perfil</a>
            </div>
            <div class="skn-nav-link" *ngIf="us.userIsEditor()">
                <a class="nav-link" [matMenuTriggerFor]="invitations" (click)="getUserInvitations()"><span class="material-icons md-30">mail</span></a>
                <mat-menu #invitations="matMenu">
                    <div style="padding: 8px;" *ngIf="userInvitations.length === 0">
                        <p style="margin: unset;">No tienes invitaciones pendientes</p>
                    </div>
                    <mat-card class="skn-invitation-card" *ngFor="let userInvitation of userInvitations" style="margin-bottom: 0.5rem;">
                        <mat-card-header>
                            <div mat-card-avatar><img [src]="userInvitation.invitation_from_user_image | noUserImage" alt=""></div>
                            <mat-card-title>{{userInvitation.invitation_from_login}}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                {{userInvitation.invitation_from_login}} le ha invitado a colaborar en la novela <strong>{{userInvitation.invitation_nvl_title}}</strong>
                            </p>
                        </mat-card-content>
                        <mat-card-actions>
                            <button mat-raised-button color="primary" (click)="declineOrAcceptInvitation(userInvitation, 'Confirmed')">Aceptar</button>
                            <button mat-raised-button class="skn-cancel-button" (click)="declineOrAcceptInvitation(userInvitation, 'Rejected')">Rechazar</button>
                        </mat-card-actions>
                    </mat-card>
                </mat-menu>
            </div>
            <div class="skn-nav-link" *ngIf="us.userIsLoged()">
                <a class="nav-link" [matMenuTriggerFor]="notifications" (click)="getUserNotifications()"><span class="material-icons md-30" matBadge="{{unreadNotifications}}" matBadgeSize="small" [matBadgeHidden]="notificationBadgehidden">notifications</span></a>
                <mat-menu #notifications="matMenu">
                    <div style="padding: 8px;" *ngIf="userNotifications.length === 0">
                        <p style="margin: unset;">No tienes notificaciones</p>
                    </div>
                    <mat-card class="skn-invitation-card" *ngFor="let userNotification of userNotifications" style="margin-bottom: 0.5rem;" [ngClass]="{'skn-secondary': userNotification.readed === 0}">
                        <mat-card-header>
                            <div mat-card-avatar><img [src]="userNotification.user_image | noUserImage" alt=""></div>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                {{userNotification.message}}
                            </p>
                        </mat-card-content>
                    </mat-card>
                </mat-menu>
            </div>
            <div class="skn-nav-link">
                <a class="nav-link" (click)="toggleTheme()">
                    <span class="material-icons md-30 hide-light">brightness_2</span>
                    <span class="material-icons md-30 hide-dark">brightness_7</span>
                </a>
            </div>
        </div>
        <div class="skn-nav-links" *ngIf="mobile">
            <div class="skn-nav-link">
                <div class="nav-link" (click)="toggleTheme()">
                    <span class="material-icons md-30 hide-light">brightness_2</span>
                    <span class="material-icons md-30 hide-dark">brightness_7</span>
                </div>
            </div>
            <div class="skn-navbar-menu-toggler skn-text" (click)="openMobileNavbarForm()" *ngIf="!mobileNavbar" style="cursor: pointer;" aria-label="menu-toggler">
                <span class="material-icons" unselectable="on">menu</span>
            </div>
            <div class="skn-navbar-menu-toggler skn-text" (click)="closeMobileNavbarForm()" *ngIf="mobileNavbar" style="cursor: pointer;" aria-label="menu-toggler">
                <span class="material-icons">close</span>
            </div>
        </div>
    </section>
</nav>

<ng-template #loginModal>
    <div class="skn-modal-top-close-button">
        <button mat-icon-button (click)="dialog.closeAll()" [attr.aria-label]="'close'">
            <span class="material-icons skn-text">close</span>
        </button>
    </div>
    <div class="skn-login">
        <div class="skn-login-logo">
            <div class="skn-login-logo-image"></div>
        </div>
        <div class="skn-login-form" *ngIf="currentForm === 'login'" (keyup.enter)="login()">
            <hr style="margin-top: 0.5rem; margin-bottom: 0.5rem;">
            <form [formGroup]="loginForm">
                <mat-form-field class="w-100 skn-mat-label-center">
                    <mat-label>Usuario o correo electronico</mat-label>
                    <input matInput formControlName="user_login" cdkFocusInitial autocomplete="off">
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="user_pass" autocomplete="off">
                    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <span class="material-icons">{{hide ? 'visibility_off' : 'visibility'}}</span>
                    </button>
                </mat-form-field>
            </form>
        </div>
        <div class="skn-login-form" *ngIf="currentForm === 'register'">
            <hr style="margin-top: 0.5rem; margin-bottom: 0.5rem;">
            <h2 *ngIf="registerCompleted" style="color: green;">
                ¡Registro completado!
            </h2>
            <p *ngIf="registerCompleted">
                Comprueba tu correo electronico para confirmar tu registro.
            </p>
            <form [formGroup]="registerForm" *ngIf="!registerCompleted">
                <mat-form-field class="w-100 skn-mat-label-center">
                    <mat-label>Usuario</mat-label>
                    <input matInput formControlName="user_login" cdkFocusInitial autocomplete="off">
                    <mat-error *ngIf="registerForm.get('user_login').hasError('pattern')">Invalido</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100 skn-mat-label-center">
                    <mat-label>Correo electronico</mat-label>
                    <input matInput formControlName="user_email" autocomplete="off">
                    <mat-error *ngIf="registerForm.get('user_email').hasError('email')">Invalido</mat-error>
                </mat-form-field>
                <mat-form-field class="w-100">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="user_pass" autocomplete="off">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <span class="material-icons">{{hide ? 'visibility_off' : 'visibility'}}</span>
                    </button>
                    <mat-error *ngIf="registerForm.get('user_pass').hasError('pattern')">Contraseña invalida</mat-error>
                </mat-form-field>
                <div class="d-flex skn-register-form-conditions-check-container">
                    <mat-checkbox color="primary" style="margin-right: 5px;" [(ngModel)]="termsAndConditionsAccepted" [ngModelOptions]="{standalone: true}"></mat-checkbox>
                    <p style="font-size: 0.75rem; margin: 0px;">he leído y acepto el <span class="skn-link" style="text-decoration: underline!important;" (click)="openBottomSheet(termsAndConditionsBox)">acuerdo de terminos y condiciones.</span></p>
                </div>

                <div class="text-left" style="font-size: 0.75rem;">
                    <p style="margin: 0 0 2px;">La contraseña debe tener:</p>
                    <ul style="padding-inline-start: 20px; margin-bottom: 0.4rem;">
                        <li>De 8 a 16 caracteres</li>
                        <li>Al menos una letra mayuscula</li>
                        <li>Al menos una letra minuscula</li>
                        <li>Al menos un numero</li>
                        <li>Al menos un caracter especial @$_-!%*?&.,"'#}()¡¿</li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="skn-login-form" *ngIf="currentForm === 'passwordRecovery'">
            <hr style="margin-top: 0.5rem; margin-bottom: 0.5rem;">
            <h2 *ngIf="passwordRecoveryCompleted" style="color: green;">
                ¡Solicitud enviada!
            </h2>
            <p *ngIf="passwordRecoveryCompleted">
                Comprueba tu correo electronico para proceder con el cambio de contraseña.
            </p>
            <form [formGroup]="passwordRecoveryForm" *ngIf="!passwordRecoveryCompleted">
                <mat-form-field class="w-100 skn-mat-label-center">
                    <mat-label>Correo electronico</mat-label>
                    <input matInput formControlName="user_email" autocomplete="off">
                    <mat-error *ngIf="passwordRecoveryForm.get('user_email').hasError('email')">Invalido</mat-error>
                </mat-form-field>
            </form>
        </div>
        <div class="skn-login-button">
            <small *ngIf="currentForm === 'login'"><strong style=" color: #d32f2f!important ">Nota: </strong>La migración a la app ha afectado las credenciales. Si presentas problemas para iniciar sesión, por favor, <strong class="skn-link " (click)="swichtTab(
                'passwordRecovery') " style="color: #d32f2f!important ">cambia la contraseña</strong></small>
            <hr *ngIf="currentForm==='login' ">
            <button mat-raised-button color="primary" (click)="login()" *ngIf="currentForm === 'login'" [disabled]="loginForm.invalid || loginFormLoading">Iniciar sesión</button>
            <button mat-raised-button color="primary" (click)="register()" *ngIf="currentForm === 'register' && !registerCompleted" [disabled]="registerForm.invalid || loginFormLoading || !termsAndConditionsAccepted">Registrarse</button>
            <button mat-raised-button color="primary" (click)="passwordRecovery()" *ngIf="currentForm === 'passwordRecovery' && !passwordRecoveryCompleted" [disabled]="passwordRecoveryForm.invalid || loginFormLoading">Enviar correo</button>
        </div>
        <div class="skn-loading" style="height: unset; margin: 1rem 0px;" *ngIf="loginFormLoading">
            <mat-spinner diameter="25"></mat-spinner>
        </div>
        <div class="skn-login-switcher">
            <p class="skn-link" *ngIf="currentForm === 'login'" (click)="swichtTab('passwordRecovery')" style="font-size: 0.8rem;">¿Olvidaste tu contraseña?</p>
            <p class="skn-link" *ngIf="currentForm === 'login' && !registerCompleted" (click)="swichtTab('register')" style="font-size: 0.8rem;">¿No tienes cuenta? ¡Registrate aquí!</p>
            <p class="skn-link" *ngIf="currentForm === 'register' || currentForm === 'passwordRecovery'" (click)="swichtTab('login')" style="font-size: 0.8rem;">Regresar a inicio</p>
        </div>
    </div>
</ng-template>

<ng-template #termsAndConditionsBox>
    <div class="skn-bottom-sheet-modal" style="height: 100vh;">
        <div class="skn-modal-top-close-button">
            <button mat-icon-button (click)="bottomSheet.dismiss()" [attr.aria-label]="'close'">
                <span class="material-icons skn-text">close</span>
            </button>
        </div>
        <div class="modal-header">
            <h2 class="modal-title">Acuerdo de terminos y condiciones de uso de Skynovels</h2>
        </div>
    </div>
</ng-template>

<ng-template #successSnack>
    <div class="skn-snack-success-notification">
        <div class="skn-snack-notification-text">{{successSnackMessage}}</div>
        <div>
            <button mat-icon-button (click)="matSnackBar.dismiss()">
                <span class="material-icons">close</span>
            </button>
        </div>
    </div>
</ng-template>
<ng-template #errorSnack>
    <div class="skn-snack-error-notification">
        <div class="skn-snack-notification-text">{{errorSnackMessage}}</div>
        <div>
            <button mat-icon-button (click)="matSnackBar.dismiss()">
                <span class="material-icons">close</span>
            </button>
        </div>
    </div>
</ng-template>