@import "../../../common.scss";
@keyframes slideIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

nav {
    width: 100%;
    height: 100%;
}

.skn-content {
    padding: 4px;
    height: 100%;
    margin: auto 2%;
    display: grid;
    grid-template-columns: 11em auto;
    grid-template-rows: 100%;
    grid-template-areas: "logo links";
}

.skn-logo {
    grid-area: logo;
    margin-top: 12px;
    margin-bottom: 2px;
    background-size: 100% 100%;
    @include plus-media(desktop) {
        cursor: pointer;
    }
}

.skn-nav-links {
    grid-area: links;
    text-align: right;
    display: flex;
    justify-self: right;
    width: auto;
    font-weight: 600;
    font-size: 1.2rem;
}

.skn-nav-link {
    margin: 10px 0px;
    a {
        white-space: nowrap;
    }
}

.black {
    color: black !important;
}

.skn-btn {
    text-align: center;
    position: relative;
    i {
        animation: 0.5s ease slideIn;
        font-size: 48px;
        margin: 8px 0px;
        -webkit-user-select: none;
        /* Safari */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* IE10+/Edge */
        user-select: none;
        /* Standard */
    }
}

.nav-link {
    user-select: none;
    cursor: pointer;
}

.hide-light {
    color: #54585d;
}

.hide-dark {
    color: #d32f2f;
}

.skn-login {
    text-align: center;
    width: 85vw;
    max-width: 25em;
    .skn-login-logo {
        height: 3.3em;
        width: 100%;
        display: flex;
        margin-bottom: 1rem;
        .skn-login-logo-image {
            margin: auto;
            width: 3rem;
            height: 3rem;
            background-size: 100% 100%;
        }
    }
    .skn-login-form {
        padding: 0px 5%;
        margin-bottom: 1rem;
    }
    .skn-login-button {
        text-align: center;
        button {
            width: 16em;
        }
    }
    .skn-login-switcher {
        margin-top: 10px;
    }
    /*.skn-mat-label-center /deep/ .mat-form-field-label {
        text-align: center!important;
    }*/
}