<section class="container">
    <div class="index-title">
        <h1>Catálogo de Novelas</h1>
    </div>
    <div class="pt-1 w-100 align-self-center">
        <div class="">
            <input class="form-control skn-text-area col-auto" type="search" name="inputSearch" [(ngModel)]="novelFilter.searchName" id="searchName" name="searchName" autocomplete="on" placeholder="Busca lo que quieras">
        </div>
        <div class="skn-filters">
            <mat-button-toggle-group [vertical]="mobile" [(ngModel)]="novelFilter.searchStatus" name="novelFilter.searchStatus">
                <mat-button-toggle value="All">Todas</mat-button-toggle>
                <mat-button-toggle value="Activa">Activa</mat-button-toggle>
                <mat-button-toggle value="Inactiva">Inactiva</mat-button-toggle>
                <mat-button-toggle value="Finalizada">Finalizada</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group [vertical]="mobile">
                <mat-button-toggle value="bold">Nombre</mat-button-toggle>
                <mat-button-toggle value="italic">Popularidad</mat-button-toggle>
                <mat-button-toggle value="underline">Capítulos</mat-button-toggle>
                <mat-button-toggle value="underline">Antiguedad</mat-button-toggle>
                <mat-button-toggle value="underline">Votos</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
        <div class="skn-search-box-genres w-100">
            <mat-form-field class="genres-list">
                <mat-label>Géneros</mat-label>
                <mat-select multiple [(ngModel)]="novelFilter.searchGenres" name="novelFilter.searchGenres">
                    <mat-option *ngFor="let genre of genres" [value]="genre.id">{{genre.genre_name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</section>
<div class="skn-loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
<div class="container" *ngIf="!loading">
    <section>
        <app-novel-card [novels]="novels" [clickRoute]="'novel'" [novelFilter]="novelFilter"></app-novel-card>
    </section>
</div>