@import "../../common.scss";
.skn-adversitement-image-container {
    height: 32vw;
    margin-bottom: 1rem;
    max-width: 1080px;
    max-height: 470px;
    margin: auto;
    img {
        width: 100%;
        height: 100%;
    }
}

.skn-nvl-user-rating {
    border-radius: 15px;
    margin-bottom: 5px;
    display: flex;
    padding: 3px 8px;
    .skn-nvl-user-rating-login {
        display: flex;
        justify-content: space-between;
        .skn-nvl-user-rating-login-name {
            @include mobile {
                padding: 13px 0px;
                margin-left: 6px;
            }
        }
        @include mobile {
            margin-bottom: 10px;
        }
    }
    .skn-nvl-user-rating-user-rating {
        padding: 15px 0px 0px 10px;
        flex: auto;
        width: 1px;
    }
}

.skn-user-image {
    width: 50px;
    min-width: 50px;
    img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }
    @include mobile {
        display: none;
    }
}

.skn-user-image-mobile {
    width: 50px;
    min-width: 50px;
    display: none;
    img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }
    @include mobile {
        display: block;
    }
}

.skn-nvl-rating-comment-textarea {
    display: flex;
    padding-left: 1px;
    align-items: center;
    .skn-nvl-rating-comment-textarea-input {
        flex: auto;
    }
    .skn-nvl-rating-comment-textarea-button {
        color: black;
        height: 35px;
        margin: 0.7rem 0px 0px 0.2rem;
    }
}