<div class="skn-loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
<article class="container" *ngIf="!loading" style="padding-top: 2%; padding-bottom: 2%">
    <section>
        <div class="skn-adversitement-image-container">
            <img class="skn-adversitement-image" [src]="advertisement.image | noAdvertisementImage" alt="">
        </div>
        <h1 style="text-align: center;">{{advertisement.adv_title}}</h1>
        <hr>
        <app-ads></app-ads>
        <small>{{hs.getRelativeTime(advertisement.createdAt).message}}</small>
        <markdown [data]="advertisement.adv_content"></markdown>
        <div class="d-flex justify-content-end">
            <div class="d-flex align-items-center">
                <button mat-icon-button aria-label="like" (click)="ps.switchLike(user, advertisement, 'adv_id')">
                            <span class="material-icons skn-like" [ngClass]="{'liked': advertisement.liked}">thumb_up</span>
                        </button>
                <div style="margin-top: 3px;">{{advertisement.likes?.length}}</div>
            </div>
        </div>
        <hr>
    </section>
    <section>
        <h2 style="text-align: center;">Comentarios</h2>
        <form *ngIf="user" #commentForm="ngForm">
            <div class="skn-nvl-rating-comment-textarea" style="align-items: unset;">
                <a [routerLink]="['/perfil', user.id, user.user_login]" class="fit-height-content">
                    <div class="skn-user-image" style="margin-right: 15px;">
                        <img [src]="user.image | noUserImage" alt="">
                    </div>
                </a>
                <div class="skn-nvl-rating-comment-textarea-input">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Agregar un comentario</mat-label>
                        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10" #comment="ngModel" name="advertisement.comment" [(ngModel)]="advertisement.comment" required minlength="2"></textarea>
                    </mat-form-field>
                </div>
                <button class="skn-nvl-rating-comment-textarea-button" mat-raised-button color="primary" (click)="ps.createCommentFunction(user, advertisement, 'adv_id')" [disabled]="commentForm.invalid">Publicar</button>
            </div>
        </form>
    </section>
    <section>
        <app-comments [comments]="advertisement.comments"></app-comments>
    </section>
</article>
<app-ads *ngIf="advertisement?.comments.length > 1"></app-ads>