<div class="skn-loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
</div>
<article class="container" *ngIf="!loading" style="padding-top: 2%; padding-bottom: 2%">
    <section>
        <div class="skn-adversitement-image-container">
            <img class="skn-adversitement-image" [src]="advertisement.adv_img | noAdvertisementImage" alt="">
        </div>
        <h1 style="text-align: center;">{{advertisement.adv_title}}</h1>
        <hr>
        <p [innerHTML]="advertisement.adv_content"></p>
        <div class="d-flex justify-content-end">
            <div class="d-flex align-items-center">
                <button mat-icon-button aria-label="like" (click)="ps.switchLike(user, advertisement, 'adv_id')">
                            <span class="material-icons skn-like" [ngClass]="{'liked': advertisement.liked}">thumb_up</span>
                        </button>
                <div style="margin-top: 3px;">{{advertisement.likes?.length}}</div>
            </div>
        </div>
        <hr>
    </section>
    <section>
        <h2 style="text-align: center;">Comentarios</h2>
        <form *ngIf="user" #commentForm="ngForm">
            <div class="skn-nvl-rating-comment-textarea" style="align-items: unset;">
                <div class="skn-user-image" style="margin-right: 15px;">
                    <img [src]="user.user_profile_image | noUserImage" alt="">
                </div>
                <div class="skn-nvl-rating-comment-textarea-input">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Agregar un comentario</mat-label>
                        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10" #comment="ngModel" name="advertisement.comment" [(ngModel)]="advertisement.comment" required minlength="2"></textarea>
                    </mat-form-field>
                </div>
                <button class="skn-nvl-rating-comment-textarea-button" mat-raised-button color="primary" (click)="ps.createCommentFunction(user, advertisement, 'adv_id')" [disabled]="commentForm.invalid">Publicar</button>
            </div>
        </form>



        <div class="skn-nvl-user-rating skn-secondary" *ngFor="let comment of advertisement.comments">
            <div class="skn-user-image">
                <img [src]="comment.user_profile_image | noUserImage" alt="">
            </div>
            <div class="skn-nvl-user-rating-user-rating">
                <div class="skn-nvl-user-rating-login">
                    <div style="display: flex;">
                        <div class="skn-user-image-mobile">
                            <img [src]="comment.user_profile_image | noUserImage" alt="">
                        </div>
                        <div class="skn-nvl-user-rating-login-name">
                            <strong style="margin-right: 5px;">{{comment.user_login}}</strong>
                            <small>{{hs.getRelativeTime(comment.createdAt).message}}</small>
                        </div>
                    </div>
                    <button mat-mini-fab *ngIf="!comment.edition && user?.id === comment.user_id" [matMenuTriggerFor]="userMenu"><span class="material-icons">more_vert</span></button>
                    <mat-menu #userMenu="matMenu">
                        <button mat-menu-item (click)="ps.setEdition(comment)">
                                      <span>Editar</span>
                                    </button>
                        <button mat-menu-item (click)="openDialogSheet(deleteCommentModal)">
                                      <span>Eliminar</span>
                                    </button>
                    </mat-menu>
                    <button mat-mini-fab *ngIf="comment.edition" (click)="ps.updateCommentFunction(updateCommentForm, comment)"><span class="material-icons">done</span></button>
                </div>
                <hr>
                <div>
                    <p [innerHTML]="ps.setContent(comment.comment_content, 160)" *ngIf="(!comment.show_more && comment.comment_content.length > 160) && !comment.edition"></p>
                    <p [innerHTML]="comment.comment_content" *ngIf="(comment.show_more || comment.comment_content.length < 160) && !comment.edition"></p>
                    <form autocomplete="off" #updateCommentForm="ngForm">
                        <div class="form-group" style="width: 100%;" *ngIf="comment.edition">
                            <textarea class="form-control skn-text-area" id="exampleFormControlTextarea1" #comment_content="ngModel" name="comment.comment_content" [(ngModel)]="comment.comment_content" rows="3"></textarea>
                        </div>
                    </form>
                </div>
                <div *ngIf="comment.comment_content.length > 360 && !comment.edition">
                    <strong class="skn-link skn-text" (click)="ps.showMore(comment)">{{comment.show_more ? '...Mostrar menos' : '...Ver más'}}</strong>
                </div>
                <br>

                <div style="display: flex; justify-content: space-between;">
                    <div>
                        <span class="skn-link skn-red-text" *ngIf="!comment.show_replys" (click)="ps.getReplysFunction(user, comment, 'comment_id')">Ver Respuestas</span>
                        <span class="skn-link skn-red-text" *ngIf="comment.show_replys" (click)="ps.hideReplys(comment)">Ocultar Respuestas</span>
                    </div>
                    <div style="display: flex; align-items: center;">
                        <button mat-icon-button aria-label="like" (click)="ps.switchLike(user, comment, 'comment_id')">
                                        <span class="material-icons skn-like" [ngClass]="{'liked': comment.liked}">thumb_up</span>
                                    </button>
                        <div style="margin-top: 3px;">{{comment.likes?.length}}</div>
                    </div>
                </div>
                <hr>





                <div *ngIf="comment.show_replys">
                    <form *ngIf="user">
                        <div class="skn-nvl-rating-comment-textarea" style="align-items: unset;">
                            <div class="skn-user-image" style="margin-right: 15px;">
                                <img [src]="user.user_profile_image | noUserImage" alt="">
                            </div>
                            <div class="skn-nvl-rating-comment-textarea-input">
                                <mat-form-field style="width: 100%;">
                                    <mat-label>Responder a {{comment.user_login}}</mat-label>
                                    <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10" #reply="ngModel" name="comment.reply" [(ngModel)]="comment.reply"></textarea>
                                </mat-form-field>
                            </div>
                            <button class="skn-nvl-rating-comment-textarea-button" mat-raised-button color="primary" (click)="ps.createReplyFunction(user, comment, 'comment_id')">Publicar</button>
                        </div>
                    </form>
                    <div class="skn-nvl-user-rating" *ngFor="let reply of comment.replys" style="padding: 0px!important;">
                        <div class="skn-user-image">
                            <img [src]="reply.user_profile_image | noUserImage" alt="">
                        </div>
                        <div class="skn-nvl-user-rating-user-rating">
                            <div class="skn-nvl-user-rating-login" style="margin-bottom: 5px;">
                                <div style="display: flex;">
                                    <div class="skn-user-image-mobile">
                                        <img [src]="reply.user_profile_image | noUserImage" alt="">
                                    </div>
                                    <div class="skn-nvl-user-rating-login-name">
                                        <strong style="margin-right: 5px;">{{reply.user_login}}</strong>
                                        <small>{{reply.date_data.message}}</small>
                                    </div>
                                </div>
                                <button mat-mini-fab *ngIf="!reply.edition && user?.id === reply.user_id" [matMenuTriggerFor]="userMenu"><i class="material-icons">more_vert</i></button>
                                <mat-menu #userMenu="matMenu">
                                    <button mat-menu-item (click)="ps.setEdition(reply)">
                                                  <span>Editar</span>
                                                </button>
                                    <button mat-menu-item (click)="openDialogSheet(deleteCommentReplyModal)">
                                                  <span>Eliminar</span>
                                                </button>
                                </mat-menu>
                                <button mat-mini-fab *ngIf="reply.edition && user?.id === reply.user_id" (click)="ps.updateReplyFunction(updateReplyForm, reply)"><i class="material-icons">done</i></button>
                            </div>
                            <div>
                                <p [innerHTML]="ps.setContent(reply.reply_content, 360)" *ngIf="(!reply.show_more && reply.reply_content.length > 360) && !reply.edition"></p>
                                <p [innerHTML]="reply.reply_content" *ngIf="(reply.show_more || reply.reply_content.length < 360) && !reply.edition"></p>
                                <form autocomplete="off" #updateReplyForm="ngForm">
                                    <div class="form-group" *ngIf="reply.edition" style="width: 100%;">
                                        <textarea class="form-control skn-text-area" #reply_content="ngModel" name="reply.reply_content" [(ngModel)]="reply.reply_content" rows="3" required maxlength="2000" minlength="2"></textarea>
                                    </div>
                                </form>
                            </div>
                            <div style="display: flex; justify-content: space-between;">
                                <div *ngIf="reply.reply_content.length < 360 || reply.edition">

                                </div>
                                <div *ngIf="reply.reply_content.length > 360 && !reply.edition">
                                    <strong class="skn-link skn-text" (click)="ps.showMore(reply)">{{reply.show_more ? '...Mostrar menos' : '...Ver más'}}</strong>
                                </div>
                                <div style="display: flex; align-items: center;">
                                    <button mat-icon-button aria-label="like" (click)="ps.switchLike(user, reply, 'reply_id')">
                                                    <span class="material-icons skn-like" [ngClass]="{'liked': reply.liked}">thumb_up</span>
                                                </button>
                                    <div style="margin-top: 3px;">{{reply.likes?.length}}</div>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <ng-template #deleteCommentReplyModal>
                            <div class="skn-dialong-modal">
                                <div class="modal-header">
                                    <h4 class="modal-title">Eliminar tu comentario</h4>
                                </div>
                                <div class="modal-body">
                                    <p>¿Seguro que deseas eliminar el comentario?</p>
                                </div>
                                <div class="modal-footer">
                                    <button mat-raised-button class="skn-cancel-button" style="margin-right: 15px;" (click)="dialog.closeAll()">Cancelar</button>
                                    <button mat-raised-button color="warn" style="color: black;" (click)="ps.deleteReplyFunction(comment, reply); dialog.closeAll()">Eliminar</button>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
            <ng-template #deleteCommentModal>
                <div class="modal-header">
                    <h4 class="modal-title">Eliminar tu comentario</h4>
                </div>
                <div class="modal-body">
                    <p>¿Seguro que deseas eliminar el comentario?</p>
                </div>
                <div class="modal-footer">
                    <button mat-raised-button class="skn-cancel-button" style="margin-right: 15px;" (click)="dialog.closeAll()">Cancelar</button>
                    <button mat-raised-button color="warn" (click)="ps.deleteCommentFunction(advertisement, comment); dialog.closeAll()">Eliminar</button>
                </div>
            </ng-template>
        </div>
    </section>
</article>