<div class="skn-forum-bar">
    <div>
        <span (click)="goToLink('foro')">Foro ></span>
    </div>
    <div>
        <span (click)="goToCategory()">{{post.forum_category?.category_title}} ></span>
    </div>
    <div>
        <span>{{post.post_title}}</span>
    </div>
</div>
<main class="container">
    <section style="margin-bottom: 15px;">
        <h3>{{post.post_title}}</h3>
        <div class="skn-posts-header">
            <img src="../../../../../assets/img/008 - SkyNovels V.1/logo/1x/simbolo_rojos.png" alt="">
            <p>Foro {{post.forum_category?.category_title}} de SkyNovels</p>
        </div>
        <div class="skn-post-card">
            <div class="skn-post-card-img">
                <img src="../../../../../assets/img/008 - SkyNovels V.1/logo/1x/simbolo_rojos.png" alt="">
            </div>
            <div class="skn-post-card-user">
                <div class="skn-post-card-user-name">
                    <strong>{{post.user?.user_login}} </strong>
                    <small>{{post.user?.forum_posts.length}} publicaciones</small>
                </div>
                <div class="skn-post-card-user-options">
                    <i class="material-icons" unselectable="on" *ngIf="_as.userIsAdmin()" [ngClass]="{'pinned': post.post_pinned}" (click)="pinPost()">label_important</i>
                    <i class="material-icons" unselectable="on" (click)="editPost()" *ngIf="!post.edition && user?.id === post.post_author_id">create</i>
                    <i class="material-icons" unselectable="on" (click)="updatePost(postForm)" *ngIf="post.edition && user?.id === post.post_author_id">done</i>
                    <i class="material-icons" unselectable="on" (click)="openSm(deletePostModal)" *ngIf="user?.id === post.post_author_id">delete</i>
                </div>

            </div>
            <div class="skn-post-card-content">
                <div class="skn-post-card-user-post">
                    <p [innerHTML]="post.post_content" *ngIf="!post.edition"></p>
                    <form autocomplete="off" #postForm="ngForm">
                        <ckeditor [(ngModel)]="post.post_content" data="{{post.post_content}}" [editor]="Editor" name="post_content" *ngIf="post.edition" [config]="{ toolbar: [ 'heading', '|', 'bold', 'italic' ] }"></ckeditor>
                    </form>
                </div>
            </div>
            <div class="skn-post-card-footer">
                <div class="skn-post-card-footer-timestamp">
                    {{_hs.getRelativeTime(post.createdAt, null, null).message}}
                </div>
                <div class="skn-post-card-footer-reply">
                    <button class="btn btn-danger" *ngIf="user && user.user_forum_auth" (click)="quoteReply(post.post_content, post.user.user_login); swichStickyReply('open')">Responder</button>
                </div>
            </div>
        </div>
        <ng-template #deletePostModal let-modal>
            <div class="modal-header">
                <h4 class="modal-title">Eliminar publicación</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <p>¿Seguro que deseas eliminar la publicación?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" (click)="modal.close('Close click')" id="close_button">Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="deletePost(); modal.close('Close click')">Eliminar</button>
            </div>
        </ng-template>

        <div class="skn-post-card" *ngFor="let comment of post.post_comments">
            <div class="skn-post-card-img">
                <img src="../../../../../assets/img/008 - SkyNovels V.1/logo/1x/simbolo_rojos.png" alt="">
            </div>
            <div class="skn-post-card-user">
                <div class="skn-post-card-user-name">
                    <strong>{{comment.user?.user_login}} </strong>
                    <small>{{comment.user?.forum_posts?.length}} publicaciones</small>
                </div>
                <div class="skn-circle-buttons" *ngIf="user?.id === comment.comment_author_id">
                    <i class="material-icons" unselectable="on" (click)="editComment(comment.id)" *ngIf="!comment.edition">create</i>
                    <i class="material-icons" unselectable="on" *ngIf="comment.edition" (click)="updateComment(comment.id, commentForm)">done</i>
                    <i class="material-icons" unselectable="on" (click)="openSm(deleteCommentModal)">delete</i>
                </div>
            </div>
            <div class="skn-post-card-content">
                <div class="skn-post-card-user-post">
                    <p [innerHTML]="comment.comment_content" *ngIf="!comment.edition"></p>
                    <form autocomplete="off" #commentForm="ngForm">
                        <ckeditor [(ngModel)]="comment.comment_content" data="{{comment.comment_content}}" [editor]="Editor" name="comment_content" *ngIf="comment.edition"></ckeditor>
                    </form>
                </div>
            </div>
            <div class="skn-post-card-footer">
                <div class="skn-post-card-footer-timestamp">
                    {{_hs.getRelativeTime(comment.createdAt, null, null).message}}
                </div>
                <div class="skn-post-card-footer-reply">
                    <button class="btn btn-danger" *ngIf="user && user.user_forum_auth" (click)="quoteReply(comment.comment_content, comment.user.user_login); swichStickyReply('open')">Responder</button>
                </div>
            </div>
            <ng-template #deleteCommentModal let-modal>
                <div class="modal-header">
                    <h4 class="modal-title">Eliminar comentario</h4>
                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <p>¿Seguro que deseas eliminar el comentario?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" (click)="modal.close('Close click')" id="close_button">Cancelar</button>
                    <button type="button" class="btn btn-danger" (click)="deleteComment(comment); modal.close('Close click')">Eliminar</button>
                </div>
            </ng-template>
        </div>
    </section>

    <div class="skn-reply-control" [ngClass]="{'open': stickyReply}" *ngIf="user">
        <div class="skn-reply-control-user">
            <div class="skn-reply-control-user-name">
                <strong>{{user?.user_login}} </strong>
            </div>
            <div class="skn-post-card-user-options">
                <i class="material-icons" unselectable="on" (click)="createComment(replyForm)">done</i>
                <i class="material-icons" unselectable="on" (click)="swichStickyReply('close')" *ngIf="stickyReply">close</i>
            </div>

        </div>
        <div class="skn-post-card-content">
            <form autocomplete="off" #replyForm="ngForm">
                <ckeditor [(ngModel)]="reply.comment_content" [editor]="Editor" name="comment_content"></ckeditor>
            </form>
        </div>
    </div>
</main>