<div class="text-center" style="margin-top: 1rem;">
    <pagination-controls (pageChange)="page = $event" maxSize="5" previousLabel="" nextLabel="" autoHide="true" screenReaderPaginationLabel="Paginación" screenReaderPageLabel="Pagina" screenReaderCurrentLabel="Estas en la pagina"></pagination-controls>
</div>
<div class="row justify-content-center skn-nvl-cards-container">
    <div *ngFor="let novel of novels | novelFilter:novelFilter.searchName: novelFilter.searchGenres: novelFilter.searchStatus: novelFilter.orderBy | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
        <a class="skn-nvl-card unstyled-a-tag" [routerLink]="[goToNovelLink, novel.id, novel.nvl_name]">
            <div class="skn-nvl-card-img">
                <img [src]="novel.image | noimage" alt="">
            </div>
            <ul class="skn-nvl-card-info">
                <li>
                    <div class="skn-nvl-card-title">
                        <strong>{{novel.nvl_title}} <span class="skn-novel-card-acronym" *ngIf="novel.nvl_acronym">{{novel.nvl_acronym}}</span></strong>
                    </div>
                </li>
                <li>
                    <div class="skn-nvl-card-genres" style="margin-bottom: 8px;">
                        <span class="skn-secondary skn-text" *ngFor="let genre of novel.genres | slice: 0:2">{{genre.genre_name}}</span>
                    </div>
                </li>
                <li>
                    <div class="skn-nvl-card-votes">
                        <span>
                        <ngb-rating [(rate)]='novel.nvl_rating' max='5' [readonly]="true">
                            <ng-template let-fill="fill" let-index="index">
                                <span class="material-icons rating-star" *ngIf="fill > 90">star</span>
                        <span class="material-icons rating-star" *ngIf="fill < 40">star_border</span>
                        <span class="material-icons rating-star" *ngIf="fill > 40 && fill < 90">star_half</span>
                        </ng-template>
                        </ngb-rating>
                        </span>
                    </div>
                </li>
                <li>
                    <div class="skn-nvl-card-description">
                        <markdown [data]="ps.setContent(novel.nvl_content,118)"></markdown>
                    </div>
                </li>
            </ul>
            <div class="skn-nvl-card-update-time skn-tertiary">
                <div style="display: flex;">
                    <span class="material-icons md-24">access_time</span>
                    <div style="margin-left: 5px;">
                        {{novel.date_data?.message}}
                    </div>
                </div>
                <div class="skn-nvl-card-status" [ngStyle]="{'color':novel.nvl_status === 'Activa' || novel.nvl_status === 'Finalizada' ? 'green' : 'red' }">{{novel.nvl_status}}</div>
            </div>
        </a>
    </div>
</div>
<div class="text-center">
    <pagination-controls (pageChange)="page = $event; scrollToTop();" maxSize="5" previousLabel="" nextLabel="" autoHide="true"></pagination-controls>
</div>