body[theme=light] {
    // Angular material styles with themes
    .mat-bottom-sheet-container {
        background-color: white!important;
    }
    .mat-dialog-container {
        background-color: white!important;
        // overflow: unset!important;
    }
    .mat-form-field {
        color: #212529!important;
    }
    .skn-cancel-button {
        background-color: #ececec !important
    }
    .mat-card-hover:hover {
        background-color: rgba(0, 0, 0, 0.04)!important;
        cursor: pointer;
    }
    .nav-link {
        color: #d32f2f;
    }
    .nav-link:hover {
        color: #d32f2f;
    }
    .nav-link-selected {
        color: black!important;
    }
    .nav-mobile-text {
        color: #d32f2f;
        text-decoration: none;
        margin: unset;
        white-space: nowrap;
    }
    .nav-tabs .nav-link {
        color: #495057!important;
    }
    .swiper-button-next {
        background-color: #00000008;
    }
    .swiper-button-prev {
        background-color: #00000008;
    }
    .swiper-button-next:hover {
        background-color: #0000001a;
    }
    .swiper-button-prev:hover {
        background-color: #0000001a;
    }
    .skn-chp-main-panel {
        background-color: #ececec!important;
    }
    .skn-novel-presentation-image-mobile {
        color: white!important;
    }
    .skn-main {
        background-color: white!important;
    }
    .skn-main-hover:hover {
        background-color: #ececec!important;
    }
    .skn-secondary {
        background-color: #ececec!important;
    }
    .skn-admin-card-section {
        color: #d32f2f;
    }
    .skn-secondary-hover:hover {
        background-color: #d8d8d8!important;
        cursor: pointer;
    }
    .skn-text {
        color: #212529!important;
    }
    .skn-logo {
        background-image: url('./assets/img/008 - SkyNovels V.1/logo/2x/logotipo_preferente@2x.png');
    }
    .skn-all-chapters-nav {
        background-color: #ffffff;
        border-bottom: 1px solid #e5e5e5;
    }
    .skn-chapter-comment-nav {
        background-color: #ffffff;
        border-top: 1px solid #e5e5e5;
    }
    .skn-login-logo-image {
        background-image: url('./assets/img/008 - SkyNovels V.1/logo/1x/simbolo_azules.png');
    }
    .skn-reading-navbar-logo {
        background-image: url('./assets/img/008 - SkyNovels V.1/logo/1x/SN_preferente.png');
    }
    .skn-chp-novel-portrait-signing-img {
        background-image: url('./assets/img/008 - SkyNovels V.1/logo/1x/simbolo_azules.png');
    }
    .skn-circle-buttons {
        i {
            background-color: #f7f7f7;
            -webkit-user-select: none;
            /* Safari */
            -moz-user-select: none;
            /* Firefox */
            -ms-user-select: none;
            /* IE10+/Edge */
            user-select: none;
            /* Standard */
            box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 1);
        }
        i:hover {
            background-color: #e0e0e0;
        }
        i:active {
            background-color: #c4c4c4;
        }
        i.pinned {
            background-color: #DB3836;
        }
        i.pinned:hover {
            background-color: #ed3a37;
        }
        i.pinned:active {
            background-color: #bf2e2c;
        }
    }
    small {
        color: #272529ba!important;
    }
    .hide-dark {
        display: none;
    }
    blockquote {
        margin-bottom: 10px !important;
        padding: 10px !important;
        background-color: #d5d5d5 !important;
        border-left: 2px solid #d32f2f!important;
    }
    .autor_comment {
        background: #3138422e;
        border-radius: 0.5rem;
        padding: 0.5rem;
    }
}